<!--<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14532.594394189255!2d54.4764972!3d24.4109046!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMjTCsDI0JzM1LjYiTiA1NMKwMjgnMzIuMyJF!5e0!3m2!1sen!2sae!4v1437380182543" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>-->
<iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d3633.1002140841547!2d54.4750978!3d24.4125858!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sae!4v1437470523481" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>