<div style="width:664px; height:427px; overflow:hidden;">
	<object width="664" height="427">
	    <param name="allowfullscreen" value="true" /><param name="wmode" value="opaque" />
	    <param name="allowscriptaccess" value="always" />
	    <param name="movie" value="/en/flash/route_map.swf" />
	    <embed src="/en/flash/route_map.swf" type="application/x-shockwave-flash" allowfullscreen="true" wmode="opaque" allowscriptaccess="always" width="664" height="427"></embed>
	</object>
    
    
</div>