div.single_middle {
			/* text-align: center; */
		}
		div.single_middle div.news_story {
			width: 95%;
			height: 120px;
			padding: 20px;
			border: 1px solid #E5E5E5;
		}
		div.single_middle div.news_story p, div.single_middle div.news_story_search p {
			text-align:justify;
			text-justify:inter-word;
			color:#000000;
		}
		div.single_middle div.news_story img {
			float: left;
			vertical-align: middle;
			display: inline-block;
			border: solid 3px #D8DDE3;
			border-radius: 3px;
			margin-right: 10px;
		}
		div.single_middle div.news_story h3, div.single_middle div.news_story_search h3 {
			font-size: 16px;
			text-align: left;
			font-weight:bold;
			color: #9C751A;
			margin-bottom: 6px;/*edited by neethu*/
		}
		div.single_middle div.news_story h3 a, div.single_middle div.news_story_search h3 a{
			text-decoration: none;
			color: #C7A317;
		}
		
		div.single_middle div.news_story div.date {
			font-weight: bold;
			color: #040404;
			margin-bottom: 5px;
			text-align:left;
		}
		
		div.single_middle div.news_story span.read_more a {
		color:#FF2833;}
		
		#news_controller {

   			margin-top: 10px;
		}
		
		
		#news_controller span.current {
			display: inline-block;
			margin: 0 auto;
			width: 27px;
			height: 22px;
			padding-top: 5px;
			background:url(../images/news_pagination_buttons.png) no-repeat -97px -4px;
		}
		
		#news_controller span {
			display: inline-block;
			margin: 0 auto;
			width: 27px;
			height: 22px;
			padding-top: 5px;
			text-align: center;
			background:url(../images/news_pagination_buttons.png) no-repeat -97px -58px;
		}
		
		#news_controller span a{
			text-decoration: none;
			color: #000000;
			font-weight:bold;
		}
		
		
		
		#news_controller span.previous_active {
			margin: 0 auto;
			padding-left: 10px;
			width: 82px;
			height: 22px;
			padding-top: 5px;
			background:url(../images/news_pagination_buttons.png) no-repeat -4px -58px;
		}
		#news_controller span.previous_inactive {
			margin: 0 auto;
			width: 87px;
			height: 22px;
			padding: 5px 0px 0px 5px;
			background:url(../images/news_pagination_buttons.png) no-repeat -4px -4px;
		}
		
		#news_controller span.next_active {
			margin: 0 auto;
			width: 92px;
			height: 22px;
			padding-top: 5px;
			background:url(../images/news_pagination_buttons.png) no-repeat -126px -58px;
		}
		#news_controller span.next_inactive {
			margin: 0 auto;
			width: 87px;
			height: 22px;
			padding: 5px 0px 0px 5px;
			background:url(../images/news_pagination_buttons.png) no-repeat -126px -4px;
		}
		
		
		
		#news_controller span.next {
		}
		
		div.single_middle div.news_story_search {
			width: 95%;
			height: 40px;
			padding: 20px;
			border: 1px solid #E5E5E5;
		}
		
		div.single_middle h4.search {
			color: #000000;	
		}
		
		div.single_middle div.news_story_search div.bullet {
			float: left;
			background:url(../images/buttons_openclose.png) no-repeat 0px -5px;
			width: 35px;
			height: 25px;
		}
		
		div.single_middle div.news_story_search p {
			padding-left: 35px;
		}