/*-----------------------------------------------------------------------------

	-	revolution slider -

Screen Stylesheet

author:		themepunch
email:     	info@themepunch.com
website:   	http://www.themepunch.com
-----------------------------------------------------------------------------*/


/******************************
	-	WRAPPER STYLES		-
******************************/

.rev_slider_wrapper{
	position:relative;
}

.rev_slider{
	position:relative;
	overflow:hidden;
}


.rev_slider img{
	max-width:none !important;
	max-width:none !important;
	-moz-transition: none 0 !important;
	-webkit-transition: none 0 !important;
	-o-transition: none 0 !important;
	transition: none 0 !important;
}


.rev_slider .no-slides-text{
	font-weight:bold;
	text-align:center;
	padding-top:80px;
}

.rev_slider ul{
	margin:0px;
	padding:0px;
	list-style: none !important;
	list-style-type: none !important;
}



.rev_slider >ul >li{
	list-stye:none;
	position:absolute;
	visibility:hidden;
	margin:0px;
	padding:0px;
	overflow-x: visible;
	overflow-y: visible;
	list-style-type: none !important;
}

.rev_slider .tp-caption,
.rev_slider .caption, {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";	-moz-opacity: 0;	-khtml-opacity: 0;	opacity: 0; 	position:absolute; visibility: hidden;

}

/******************************
	-	WRAPPER STYLES END	-
******************************/

/******************************
	-	IE8 HACKS	-
*******************************/
.noFilterClass {
	filter:none !important;
}
/******************************
	-	IE8 HACKS ENDS	-
*******************************/

/********************************
	-	FULLSCREEN VIDEO	-
*********************************/
.caption.fullscreenvideo {	left:0px; top:0px; position:absolute;width:100%;height:100%;}
.caption.fullscreenvideo iframe	{ width:100% !important; height:100% !important;}

.tp-caption.fullscreenvideo {	left:0px; top:0px; position:absolute;width:100%;height:100%;}
.tp-caption.fullscreenvideo iframe	{ width:100% !important; height:100% !important;}
/********************************
	-	FULLSCREEN VIDEO ENDS	-
*********************************/

.fullwidthbanner-container{
	width:100% !important;
	position:relative;
	padding:0;
	overflow:hidden;
}

.fullwidthbanner-container .fullwidthabanner{
	width:100% !important;
	position:relative;
}


/****************************************************************

	-	SET THE ANIMATION EVEN MORE SMOOTHER ON ANDROID   -

******************************************************************/

.tp-simpleresponsive .slotholder *,
.tp-simpleresponsive img			{ -webkit-transform: translateZ(0);
										  -webkit-backface-visibility: hidden;
										  -webkit-perspective: 1000;
									}


/************************************************
	  - SOME CAPTION MODIFICATION AT START  -
*************************************************/
.tp-simpleresponsive .caption,
.tp-simpleresponsive .tp-caption {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";		-moz-opacity: 0;	-khtml-opacity: 0;	opacity: 0; position:absolute;
}


/******************************
	-	SHADOWS		-
******************************/
.tp-bannershadow  {
		position:absolute;

		margin-left:auto;
		margin-right:auto;
		-moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
	}

.tp-bannershadow.tp-shadow1 {	background:url(../assets/shadow1.png) no-repeat; background-size:100%; width:890px; height:30px; bottom:-30px;}
.tp-bannershadow.tp-shadow2 {	background:url(../assets/shadow2.png) no-repeat; background-size:100%; width:890px; height:60px;bottom:-60px;}
.tp-bannershadow.tp-shadow3 {	background:url(../assets/shadow3.png) no-repeat; background-size:100%; width:890px; height:60px;bottom:-60px;}


/******************************
	-	BUTTONS	-
*******************************/

.tp-button{
	color: #fff;
	text-decoration: none;
	display: block;
    position: relative;
    font-size: 14px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
    border-radius: 4px;
        -moz-box-shadow: 1px 1px 2px #888;
        -webkit-box-shadow: 1px 1px 2px 0px #888;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, .14);
    text-shadow: rgba(0, 0, 0, .31) 0 -1px 1px;
    text-align: center;
    border: none;
    width: auto;
    cursor: pointer;
    opacity: 1;
    line-height: 30px;
		}

.tp-button:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height:  8px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-style: solid none none none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
}

.tp-button:hover {
    opacity: 0.9;
}


.tp-button:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height:  5px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-style: none none solid none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
}

.tp-button.big			{	
	    font-size: 17px;
    padding: 15px 50px; 
	
	}

.tp-button.medium			{	
    font-size: 14px;
    padding: 12px 35px;
	
	}


@media screen and (max-width: 767px) {
	.tp-button.medium {
    font-size: 12px;
    padding: 6px 25px;
	}

}

@media screen and (max-width: 479px) {
	.tp-button.medium {
		font-size: 10px;
		padding: 4px 15px;
	}
}

.tp-button.small			{	
    font-size: 11px;
    padding: 8px 30px; 
	
	}

.purchase:hover,
.tp-button:hover,
.tp-button.big:hover		{	background-position:bottom, 15px 11px;}


	@media only screen and (min-width: 480px) and (max-width: 767px) {
		.tp-button	{	padding:4px 8px 3px; line-height:25px !important; font-size:11px !important;font-weight:normal;	}
		a.tp-button { -webkit-transition: none; -moz-transition: none; -o-transition: none; -ms-transition: none;	 }
	}

    @media only screen and (min-width: 0px) and (max-width: 479px) {
		.tp-button	{	padding:2px 5px 2px; line-height:20px !important; font-size:10px !important;}
		a.tp-button { -webkit-transition: none; -moz-transition: none; -o-transition: none; -ms-transition: none;	 }
	}


/*	BUTTON COLORS	*/

.tp-button.green, .tp-button:hover.green,
.purchase.green, .purchase:hover.green			{ 
	
	    color: #fff !important;
	    background: #719400;
	    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#719400), to(#89b300));
	    background: -webkit-linear-gradient(top, #89b300, #719400);
	    background: -moz-linear-gradient(top, #89b300, #719400);
	    background: -ms-linear-gradient(top, #89b300, #719400);
	    background: -o-linear-gradient(top, #89b300, #719400);
	    -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#89b300, endColorstr=#719400)";		
	
}


.tp-button.blue, .tp-button:hover.blue,
.purchase.blue, .purchase:hover.blue			{ 
	    color: #fff !important;
	    background: #005691;
	    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#005691), to(#166CA7));
	    background: -webkit-linear-gradient(top, #166CA7, #005691);
	    background: -moz-linear-gradient(top, #166CA7, #005691);
	    background: -ms-linear-gradient(top, #166CA7, #005691);
	    background: -o-linear-gradient(top, #166CA7, #005691);
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#166CA7, endColorstr=#005691)";
}

.tp-button.red, .tp-button:hover.red,
.purchase.red, .purchase:hover.red				{ 
	
	    color: #fff !important;
	    background: #a31717;
	    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#a31717), to(#bf2525));
	    background: -webkit-linear-gradient(top, #bf2525, #a31717);
	    background: -moz-linear-gradient(top, #bf2525, #a31717);
	    background: -ms-linear-gradient(top, #bf2525, #a31717);
	    background: -o-linear-gradient(top, #bf2525, #a31717);
	    -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#bf2525, endColorstr=#a31717)";
	
}

.tp-button.orange, .tp-button:hover.orange,
.purchase.orange, .purchase:hover.orange		{ 
	
		color: #fff !important;
	    background: #d68b00;
	    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#d68b00), to(#fbac14));
	    background: -webkit-linear-gradient(top, #fbac14, #d68b00);
	    background: -moz-linear-gradient(top, #fbac14, #d68b00);
	    background: -ms-linear-gradient(top, #fbac14, #d68b00);
	    background: -o-linear-gradient(top, #fbac14, #d68b00);
	    -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#fbac14, endColorstr=#d68b00)";	
	
}

.tp-button.darkgrey,.tp-button.grey,
.tp-button:hover.darkgrey,.tp-button:hover.grey,
.purchase.darkgrey, .purchase:hover.darkgrey	{ 
	
	    color: #fff !important;
	    background: #252525;
	    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#252525), to(#454545));
	    background: -webkit-linear-gradient(top, #454545, #252525);
	    background: -moz-linear-gradient(top, #454545, #252525);
	    background: -ms-linear-gradient(top, #454545, #252525);
	    background: -o-linear-gradient(top, #454545, #252525);
	    -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#454545, endColorstr=#252525)";		
	
	
	}

.tp-button.lightgrey, .tp-button:hover.lightgrey,
.purchase.lightgrey, .purchase:hover.lightgrey	{
	
	    color: #696969 !important;
	    background: #d4d4d4;
	    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#d4d4d4), to(#f0f0f0));
	    background: -webkit-linear-gradient(top, #f0f0f0, #d4d4d4);
	    background: -moz-linear-gradient(top, #f0f0f0, #d4d4d4);
	    background: -ms-linear-gradient(top, #f0f0f0, #d4d4d4);
	    background: -o-linear-gradient(top, #f0f0f0, #d4d4d4);
	    -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#f0f0f0, endColorstr=#d4d4d4)";		
	
	
}
.tp-button.coolblue {	}


/************************
	-	NAVIGATION	-
*************************/

/** BULLETS **/
.tp-bullets												{	z-index:99999999999999; position:absolute; bottom:10px; }
.tp-bullets.simplebullets								{ 	bottom:10px;}


.tp-bullets.simplebullets.navbar						{ 	margin-left:-40px; border:1px solid #666; border-bottom:1px solid #444; bottom:-20px; background:url(../assets/boxed_bgtile.png); height:40px; padding:0px 40px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px ;margin-top:-17px;}

.tp-bullets.simplebullets.navbar-old					{ 	bottom:-20px; background:url(../assets/navigdots_bgtile.png); height:35px; padding:0px 0px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px ;margin-top:-17px;}


.tp-bullets.simplebullets.round .bullet					{	cursor:pointer; position:relative;	background:url(../assets/bullet.png) no-Repeat top left;	width:20px;	height:20px;  margin-right:0px; float:left; margin-top:-10px; margin-left:3px;}
.tp-bullets.simplebullets.round .bullet.last			{	margin-right:3px;}

.tp-bullets.simplebullets.round-old .bullet				{	cursor:pointer; position:relative;	background:url(../assets/bullets.png) no-Repeat bottom left;	width:23px;	height:23px;  margin-right:0px; float:left; margin-top:-12px;}
.tp-bullets.simplebullets.round-old .bullet.last		{	margin-right:0px;}


/**	SQUARE BULLETS **/
.tp-bullets.simplebullets.square .bullet				{	cursor:pointer; position:relative;	background:url(../assets/bullets2.png) no-Repeat bottom left;	width:19px;	height:19px;  margin-right:0px; float:left; margin-top:-10px;}
.tp-bullets.simplebullets.square .bullet.last			{	margin-right:0px;}


/**	SQUARE BULLETS **/
.tp-bullets.simplebullets.square-old .bullet			{	cursor:pointer; position:relative;	background:url(../assets/bullets2.png) no-Repeat bottom left;	width:19px;	height:19px;  margin-right:0px; float:left; margin-top:-10px;}
.tp-bullets.simplebullets.square-old .bullet.last		{	margin-right:0px;}


/** navbar NAVIGATION VERSION **/
.tp-bullets.simplebullets.navbar .bullet			{	cursor:pointer; position:relative;	/*background:url(../assets/bullet_boxed.png) no-Repeat top left;*/	width:18px;	height:19px;   margin-right:5px; float:left; margin-top:10px;}

.tp-bullets.simplebullets.navbar .bullet.first		{	margin-left:0px !important;}
.tp-bullets.simplebullets.navbar .bullet.last		{	margin-right:0px !important;}



/** navbar NAVIGATION VERSION **/
.tp-bullets.simplebullets.navbar-old .bullet			{	cursor:pointer; position:relative;	background:url(../assets/navigdots.png) no-Repeat bottom left;	width:15px;	height:15px;  margin-left:5px !important; margin-right:5px !important;float:left; margin-top:10px;}
.tp-bullets.simplebullets.navbar-old .bullet.first		{	margin-left:30px !important;}
.tp-bullets.simplebullets.navbar-old .bullet.last		{	margin-right:30px !important;}


.tp-bullets.simplebullets .bullet:hover,
.tp-bullets.simplebullets .bullet.selected				{	background-position:top left; }

.tp-bullets.simplebullets.round .bullet:hover,
.tp-bullets.simplebullets.round .bullet.selected,
.tp-bullets.simplebullets.navbar .bullet:hover,
.tp-bullets.simplebullets.navbar .bullet.selected		{	background-position:bottom left; }



/*************************************
	-	TP ARROWS 	-
**************************************/

.tp-leftarrow.round										{	z-index:99999999999999;cursor:pointer; position:relative;	background:url(../images/next_prew.png) no-Repeat top left;	width:19px;	height:14px;  margin-right:0px; float:left; margin-top:-7px;	}
.tp-rightarrow.round									{	z-index:99999999999999;cursor:pointer; position:relative;	background:url(../images/next_prew.png) no-Repeat top left;	width:19px;	height:14px;  margin-right:0px; float:left;	margin-top:-7px;}


.tp-leftarrow.round-old									{	z-index:99999999999999;cursor:pointer; position:relative;	background:url(../images/next_prew.png) no-Repeat top left;	width:26px;	height:26px;  margin-right:0px; float:left; margin-top:-13px;	}
.tp-rightarrow.round-old								{	z-index:99999999999999;cursor:pointer; position:relative;	background:url(../images/next_prew.png) no-Repeat top left;	width:26px;	height:26px;  margin-right:0px; float:left;	margin-top:-13px;}


.tp-leftarrow.navbar									{	z-index:99999999999999;cursor:pointer; position:relative;	background:url(../images/next_prew.png) no-Repeat top left; width:20px;	height:15px;   float:left;	margin-right:4px; margin-top:-4px;}
.tp-rightarrow.navbar									{	z-index:99999999999999;cursor:pointer; position:relative;	background:url(../images/next_prew.png) no-Repeat top left;width:20px;	height:15px;   float:left;	margin-left:-36px; margin-top:-4px;}


.tp-leftarrow.navbar-old								{	z-index:99999999999999;cursor:pointer; position:relative;	background:url(../images/next_prew.png) no-Repeat top left;	width:9px;	height:16px;   float:left;	margin-right:-20px; margin-top:-8px;}
.tp-rightarrow.navbar-old								{	z-index:99999999999999;cursor:pointer; position:relative;	background:url(../images/next_prew.png) no-Repeat top left;	width:9px;	height:16px;   float:left;	margin-left:-20px; margin-top:-8px;}

.tp-leftarrow.navbar-old.thumbswitharrow				{	margin-right:10px; }
.tp-rightarrow.navbar-old.thumbswitharrow				{	margin-left:0px; }

.tp-leftarrow.square									{	z-index:99999999999999;cursor:pointer; position:relative;	background:url(../images/next_prew.png) no-Repeat top left;	width:12px;	height:17px;   float:left;	margin-right:0px; margin-top:-9px;}
.tp-rightarrow.square									{	z-index:99999999999999;cursor:pointer; position:relative;	background:url(../images/next_prew.png) no-Repeat top left;	width:12px;	height:17px;   float:left;	margin-left:0px; margin-top:-9px;}


.tp-leftarrow.square-old								{	z-index:99999999999999;cursor:pointer; position:relative;	background:url(../images/next_prew.png) no-Repeat top left;	width:12px;	height:17px;   float:left;	margin-right:0px; margin-top:-9px;}
.tp-rightarrow.square-old								{	z-index:99999999999999;cursor:pointer; position:relative;	background:url(../images/next_prew.png) no-Repeat top left;	width:12px;	height:17px;   float:left;	margin-left:0px; margin-top:-9px;}


.tp-leftarrow.large										{	z-index:99999999999999;cursor:pointer; position:relative;	background:url(../images/next_prew.png) no-Repeat top left;	width:40px;	height:40px;  margin-left:20px; margin-top:-20px; }
.tp-rightarrow.large									{	z-index:99999999999999;cursor:pointer; position:relative;	background:url(../images/next_prew.png) no-Repeat top left;	width:40px;	height:40px;  margin-left:-20px; margin-top:-20px; }

.tp-leftarrow:hover,
.tp-rightarrow:hover 									{	background-position:bottom left; }






/****************************************************************************************************
	-	TP THUMBS 	-
*****************************************************************************************************

 - tp-thumbs & tp-mask Width is the width of the basic Thumb Container (500px basic settings)

 - .bullet width & height is the dimension of a simple Thumbnail (basic 100px x 50px)

 *****************************************************************************************************/


.tp-bullets.tp-thumbs						{	z-index:99999999999999; position:absolute; padding:0px 2px 2px;background-color:#fff;
												width:500px;height:50px; 			/* THE DIMENSIONS OF THE THUMB CONTAINER */
											}

.fullwidthbanner-container .tp-thumbs					{  padding:2px;}

.tp-bullets.tp-thumbs .tp-mask				{	width:500px; height:50px;  			/* THE DIMENSIONS OF THE THUMB CONTAINER */
												overflow:hidden; position:relative;}


.tp-bullets.tp-thumbs .tp-mask .tp-thumbcontainer	{	width:5000px; position:absolute;}

.tp-bullets.tp-thumbs .bullet				{   width:100px; height:50px; 			/* THE DIMENSION OF A SINGLE THUMB */
												cursor:pointer; overflow:hidden;background:none;margin:0;float:left;
												-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";		-moz-opacity: 0.5;	-khtml-opacity: 0.5;	opacity: 0.5;
												-webkit-transition: all 0.2s ease-out; -moz-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out; -ms-transition: all 0.2s ease-out;
											}
.tp-bullets.tp-thumbs .bullet:hover,
.tp-bullets.tp-thumbs .bullet.selected		{ -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";		-moz-opacity: 1;	-khtml-opacity: 1;	opacity: 1;}
.tp-thumbs img								{	width:100%; }


/************************************
		-	TP BANNER TIMER		-
*************************************/
.tp-bannertimer								{	width:100%; height:10px; background:url(../assets/timer.png);position:absolute; z-index:200;}
.tp-bannertimer.tp-bottom					{	bottom:0px !important;height:5px;}




/***************************************
	-	RESPONSIVE SETTINGS 	-
****************************************/


	@media only screen and (min-width: 480px) and (max-width: 767px) {
			.responsive .tp-bullets.tp-thumbs				{	width:300px !important; height:30px !important;}
			.responsive .tp-bullets.tp-thumbs .tp-mask		{	width:300px !important; height:30px !important;}
			.responsive .tp-bullets.tp-thumbs .bullet		{	width:60px !important;height:30px !important;}

	}

    @media only screen and (min-width: 0px) and (max-width: 479px) {
				.responsive .tp-bullets	{	display:none}
				.responsive .tparrows	{	display:none;}
	}


/*********************************************

	-	BASIC SETTINGS FOR THE BANNER	-

***********************************************/

 .tp-simpleresponsive img {
		-moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
}


.tp-simpleresponsive ul {
	list-style:none;
	padding:0;
	margin:0;
}

.tp-simpleresponsive >ul li{
	list-stye:none;
	position:absolute;
	visibility:hidden;
}

/*  CAPTION SLIDELINK   **/
.caption.slidelink a div,
.tp-caption.slidelink a div {	width:10000px; height:10000px;  background:url(../assets/coloredbg.png) repeat;}

.tp-loader 	{ display:none;	background:url(../assets/loader.gif) no-repeat 10px 10px; background-color:#fff;  margin:-22px -22px; top:50%; left:50%; z-index:10000; position:absolute;width:44px;height:44px;
				border-radius: 3px;
				-moz-border-radius: 3px;
				-webkit-border-radius: 3px;
			}

