div.news_item {
	background-color: #F1F2F6;
    border: 1px solid #CCCCCC;
    float: left;
    width: 480px;
	padding:10px; 
	margin-bottom: 10px;
}

div.news_item div.news_content {
float: right; 
width: 70%;
}
div.news_item div.image {
float: left; 
width: 111px;
height: 111px;
background-color: #D0D2DE;
border: 1px solid #CCCCCC; 
padding:5px;
}

div.news_item div.news_content p{
margin: 10px;
margin-left: 0px;
color: #000000;
text-align: right; direction:rtl;
text-justify:inter-word;
}

.news_text{width:340px; float:left; color:#000000; margin-left:10px; margin-right:10px;}

div.news_item_single {
    float: left;
    width: 100%;
	padding:10px; 
}

div.news_item_single div.news_content {
float: right; 
width: 100%; direction:rtl; text-align:right; margin-right:20px;
}

div.news_item_single div.news_content p{
	color:#000000; 
}

.general_body_content {
	color:#000000;
	text-align:right; line-height:150%;
}

.general_body_content p.heading{
	font-size: 16px;
	font-weight: bold;
	color: #C7A317;
}


.general_body_title {
	color:#97000a; font-size: 18px; font-weight: bold;
	text-shadow: 0 1px 1px #FFF; margin-right:5px;/*edited by neethu*/ 
}

#news_home_heading{ background:url(../images/news_heading.png) no-repeat ; width:428px; padding:10px 55px 10px 20px; height:27px;color:#BC8545; font-size:18px; font-weight:bold; text-align:right; margin-right:10px;}


.news_item_title{min-width: 259px;color:#BC8545; margin-bottom:10px; font-size:12px; font-weight: bold; direction:rtl; text-align:right; float:right; padding-right:10px; margin-top:10px;}
.news_item_title a{color:#BC8545;}
div.news_item span.read_more a{color:#FF2833; text-align:right; direction:rtl; float:right; padding-right:10px;}

.content_inside_image {
float:left; margin: 8px 8px 15px 0px;/*edited by neethu*/
background-color: #D0D2DE;
border: 1px solid #CCCCCC;
padding: 3px;
}

.bottom_line{ text-align: center; width:100%; margin:5px 0 5px}
.bottom_line img{width:505px;}

/* .ministry_logo {width:220px; border: 1px solid #CCCCCC; margin-bottom:15px;height:85px;} */

.ministry_logo {height: 85px; min-width: 220px;  border: 1px solid #CCCCCC; margin-bottom:15px; }

div.general_body_content p{
margin-left: 0px;
margin-bottom: 10px;
text-align:justify!important; direction:rtl;
margin-top:5px; line-height:150%;/*edited by neethu*/
/*text-justify:inter-word;*/
}

div.general_body_content img {
outline:none;
transition: all 0.25s ease-in-out;
-webkit-transition: all 0.25s ease-in-out;
-moz-transition: all 0.25s ease-in-out;
/*border: solid 2px #D7D9E5;*/
border-radius: 3px;
margin-left: 10px;
margin-bottom: 5px;
}

div.general_body_content img {
outline:none;
transition: all 0.25s ease-in-out;
-webkit-transition: all 0.25s ease-in-out;
-moz-transition: all 0.25s ease-in-out;
/*border: solid 2px #D7D9E5;
border-radius: 3px;*/
margin-left: 10px;
margin-bottom: 5px;
}



.general_body_content ul li { list-style: none; padding: 8px; float:right; width:100%;  border-top: 1px solid #E4E4E4; border-left: 1px solid #E4E4E4; border-right: 1px solid #E4E4E4; background-color:#F7F8FA; }
.general_body_content ul li.first { background-color:#F7F8FA; }
.general_body_content ul li.second { background-color:#FFF; }
.general_body_content ul li:last-child {
border-bottom: 1px solid #E4E4E4;
}

div.general_body_content a{
color:#BC8545;
}
div.general_body_content a:hover{
color:#877535;
}


div.single_middle div.saidby {
border-right: #FBD850 solid 1px;
border-left: #FBD850 solid 1px;
border-bottom: #FBD850 solid 1px;
/*border: 1px solid #FBD850*/
/* width: 715px; 
margin-bottom: 10px; */

background: #fdf5ce url(images/ui-bg_glass_100_fdf5ce_1x400.png) 50% 50% repeat-x; 

}

div.single_middle div.saidby p{ text-align:right; direction:rtl;
}

div.single_middle div.saidby p img{
margin-left: 15px;
border: #BC8545 solid 5px;
/* margin-bottom: 15px; */
}

div.single_middle div.saidby span{
vertical-align:top;

color:#877535;
font-size: 16px;
font-weight: bold;
}


a.opened_tab {
background:url(/en/images/buttons_openclose.png) 0 -31px;
display:block;
height:31px;
width:35px;
}

a.closed_tab {
background:url(/en/images/buttons_openclose.png);
display:block;
height:31px;
width:35px;
}

#accordionGiftLelo h3 span {
font-size: 12px;
color:#333333;
font-weight:normal; direction:rtl; text-align:right;
}




div.ad-gallery {
width: 657px; margin: 0 auto;
padding: 40px 20px 25px 20px;height:517px;
background: url(../images/gallery_frame.jpg) no-repeat; direction:ltr;
}



.general_body_content h2, div.single_middle h2 {
font-family:Tahoma, Geneva, sans-serif;
font-size: 21px;
padding: 0 0 10px 0;
margin: 0 0 15px 0;
line-height: 21px;
font-weight: normal;
border-bottom: 1px solid #bba368;
width: 97%;
color: #97000a;
}

.general_body_content h4 {
font-size: 14px;
font-weight:bold;
color: #C7A317;
text-align:right;
margin: 5px 0;
margin-left: 0px; direction:rtl;
}



img.super_golden {
/*border: #E4C31C 5px solid; */
}



/* Carrers */

#dataTable{ margin-left:5px;font-family:Tahoma, Geneva, sans-serif;}

#dataTable td{ padding-top:5px;font-family:Tahoma, Geneva, sans-serif;}
.special_dev a{ margin-top:10px;}
#dataTable input {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CEBA69;
    margin-left: 0px;width:160px;
}
#dataTable1{ margin-left:5px; font-family:Tahoma, Geneva, sans-serif;}

#dataTable1 td{ padding-top:5px;}
#dataTable1 input {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CEBA69;
    margin-left: 0px;width:160px;
}
#dataTable2{ margin-left:5px;font-family:Tahoma, Geneva, sans-serif;}

#dataTable2 td{ padding-top:5px;width:120px; padding-left:10px;font-family:Tahoma, Geneva, sans-serif;}
#dataTable2 .row1{width:100px;}
#dataTable2 input {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CEBA69;
    margin-left: 0px;width:160px;
}

#dataTable2 select {
    border: 1px solid #CEBA69;
    float: left;
    resize: none;
    width: 170px; text-align:left; direction: ltr;
}
#dataTable3{ margin-right:5px;font-family:Tahoma, Geneva, sans-serif;}

#dataTable3 td{ padding-top:5px; text-align:right;font-family:Tahoma, Geneva, sans-serif;}

#dataTable3 input {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CEBA69;
    margin-left: 0px;width:150px;
}

#dataTable3td{ padding-top:5px;width:120px; padding-right:10px;}
#dataTable3 textarea{width:465px; resize:none;border: 1px solid #CEBA69;height:70px;}
.white_bg{ background:#FFFFFF;}
.reg_form .border_top{ border-top:1px solid #ccc;}
#rela{ display:none;}
/* Ends */


span.bread_crumb {
	font-weight: bold;
	display: inline-block;
	font-size: 10px; float:right; direction:rtl; margin-bottom:5px;
}
span.home a{
	color: #AEADB2;
	text-decoration: none;
}
span.bread_crumb_sub{
	color: #C5A317;
	font-size: 10px;
}

div.news_story div.read_more {
float:right;
direction:rtl;
color:#464646;
text-align:right;

}
div.news_story div.read_more a{
color:#464646;
}

div.single_middle div.first { background-color:#F7F8FA; }
div.single_middle div.second { background-color:#FFF; }
h4 {
text-align:left
}

/*arabic*/

.heading{font-size: 21px; color: #97000a; font-weight:bold;margin-left:20px; float:right; border-bottom: 1px solid #EBEBEB; width:100%;
direction:rtlt!important; text-align:right!important; padding: 0 0 10px 0;
margin: 18px 0 15px 0;
}

.reg_form {
    float: right;
    width: 700px; margin-left:20px; margin-top:10px; direction:rtl;font-size:12px;
}
.reg_form .text{width:680px; float:left; }
.reg_form .login_sidebar{float:left;width:230px; margin-bottom:10px; }
.even {
    background-color: #F7F8FA; border:1px solid #ccc; 
}
.reg_form .border_bottom{ border-bottom:1px solid #ccc;}
.odd {
    background-color: #fff;border:1px solid #ccc; border-top:0; border-bottom:0;
}
.submit_odd {
    background-color: #fff;border:1px solid #ccc; border-top:0; 
}
.input_row {
    clear: both;
    float: left;
    padding:10px;
    width: 671px; margin-right:7px; 
	position:relative
}
.iwidth{ float:left; width:260px;}
.input_label_div {
    float: left;
    width: 210px; font-family:Tahoma, Geneva, sans-serif;
}
.input_label_div_arb {
    float: right;
    direction:rtl; text-align:right; font-family:tahoma;
	width:170px;
}
.input_label_div_arb .red {
    color: #CC0000;
    text-align:right;
}
.input_label_div_arb span { text-align:right; direction:rtl;
    
}
.input_label_div span {
    float: left; direction:ltr;text-align:left;
}
.input_label_div .red {
    color: #CC0000;
    float: left;
}
.error {
    color: #CC0000;
    margin-left:3px;
    font-size: 12px; float:left; direction:ltr;
}
.input_div label.error{
	clear:left;
	width:97%;
	text-align:left
}
.input_div{float:left; width:250px;}
.input_row  .input_cls {
    border: 1px solid #CEBA69;

    float: left; 
    width: 250px;resize:none;
}
.input_row  .binput_cls {
    border: 1px solid #CEBA69;
    float: left;
    width: 173px;
}
.input_row  input {
    display: inline-block;
    vertical-align: middle;
    direction: rtl;
    margin-left: 3px;
}
.input_row  select {
    border: 1px solid #CEBA69;
    direction: ltr;
    margin-left: 3px; 
}

.arb{direction:rtl; text-align:left;}

.input_row  textarea{ margin-left:3px;}
p#vtip {
    background-color: white;
    border: 1px solid #D6D1BB;
    display: none;
    font-size: 11px;
    left: 5px;
    padding: 10px;
    position: absolute;
    width: 400px;
    z-index: 9999; direction:ltr;
}
p#vtip #vtipArrow {
    left: 5px;
    position: absolute;
    top: -10px;
}
p#vtip span {
    clear: both;
    display: block;
    padding: 5px 0 0 5px;
}
p#vtip1 {
    background-color: white;
    border: 1px solid #D6D1BB;
    display: none;
    font-size: 11px;
    left: 5px;
    padding: 10px;
    position: absolute;
    width: 400px;
    z-index: 9999; direction:rtl; text-align:right; float:right;
}
p#vtip1 #vtipArrow {
    left: 5px;
    position: absolute;
    top: -10px;
}
p#vtip1 span {
    clear: both;
    display: block;
    padding: 5px 0 0 5px;
}
.submit_button{float:right;width:350px; }

.special_dev {
    border: 1px solid #CCCCCC;
    clear: both;
    float: left;
    padding: 20px 5px;
    width: 681px;background:#F7F8FA; margin-top:10px;
}
.input_row_special {
   
    float: left;
    padding:5px 5px;
    width: 661px; text-align:left;
}

.input_row_special .input_label_div {
    float: left;
    width: 210px; padding: 5px;
}
.input_row_special .input_div {
    float: left;
    width: 230px; padding: 5px 0;
}

.input_row_special .input_div .input_cls {
    border: 1px solid #CEBA69;
    float: left;
    width: 240px;
}
.input_row_special .input_div .binput_cls {
    border: 1px solid #CEBA69;
    float: left;
    width: 140px;
}
 input {
    border: 1px solid #CEBA69;
    background:#fff;
    margin-left: 3px;
}
.input_row_special .add{float:right; margin-right:6px;width:75px; background-color:#E8EDE9}

.float_right{ float:right;}

.yellow{color:#BA9F14;}
.p_left{ margin-right:16px;}

.terms{  float: left;
    margin-top: 5px;
    width: 350px; direction:ltr; text-align:left;}
.terms_button{float:left; margin-left:14px; margin-top:10px;}
.terms p{ float:right; direction:rtl;width:210px; }
/*.input_div{ float:right; direction:rtl;}*/


/*mani login form begins*/

#login{width:760px;}
#login h3{color:#D2A118; font-size:12px; margin-right:25px; float:right; direction:rtl;}
#login .login_sidebar{float:left;width:230px;  margin-top:32px;}
#login  #acloginpod {
    background: url("/en/images/acloginpodbg.gif") repeat-x scroll 0 0 #EBEBEB;
    border: 1px solid #D3D3D3;
    
    width: 462px; margin-top:15px; margin-right:58px;float:right;
}
#acloginpod .acloginform {
    margin: 8px 20px 8px 10px; border:0;width:100%; float:right;
}
#acloginpod  .login_image{ float:right;}
#acloginpod .fieldset{ padding-top:15px; float:right; direction:rtl;}
#acloginpod form, #acloginpod fieldset {
    margin: 0 !important;
    padding: 0 !important; border:0;
}

 .acloginbttn {
    background: url("../images/buttons.png") no-repeat -174px -46px  ;
    border:0;
    height: 44px;
    padding:0px 0;
    width: 121px; color:#000000; font-weight:bold; cursor:pointer;
	/*color: #e6dba1;*/
	line-height:0;
	-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}
.iwidth{ float:left; width:260px; direction:ltr;}
/*.acloginbttn:hover{ background: url("/en/images/buttons.png") no-repeat -174px -46px  ;
    border:0;
    height: 45px;
    padding:0px 0 5px;
    width: 121px; color:#fff; font-weight:bold; }*/
#acloginpod label {
    color: #AEB0AF;
    display: block;
    font-size: 12px;
    margin-bottom: 3px;float:right;width:80px; padding-top:2px; text-align:right; direction:rtl; 
}
#acloginpod input.textinput {
    background: url("/en/images/textinputbg.gif") repeat-x scroll 0 0 #FFFFFF;
    border: 1px solid #CEB139;
    color: #AEB0AF;
    font-size: 12px;
    margin-bottom: 10px;
    padding: 5px 0;
    text-indent: 7px;
    width: 200px;; float:right; height:24px;
}
#login .download{width:740px; margin-right:10px; height:auto;  margin-top:15px; float:right; }
#login .download .download_image{width:140px; float:right; text-align:center; padding:20px 0;border:2px solid #ccc;font-size: 16px; color:#D2A118; font-weight:bold; margin-top:0px; }
#login .download .download_image img{ margin-top:5px;}
#login .download .download_content{width:580px; float:right;direction:rtl;}
#login .download .download_content .th{width:110px; float:right; font-weight:bold; color:#000000; border:1px solid #ccc; padding:10px 10px; text-align:center; border-bottom:0;direction:rtl;}
#login .download .download_content .td{width:110px; float:right;  color:#000000; border:1px solid #ccc; padding:10px 10px; text-align:center; border-bottom:0; height:22px;direction:rtl; }
#login .download .download_content .border_right{ border-right:1px solid #ccc;}
#login .download .download_content .border_bottom{ border-bottom:1px solid #ccc;}
#login .download .download_content a{ color:#000000; text-decoration:none}
/* login form ends */

ol{ direction:rtl;padding-right:10px; color: #C8A317;
    margin: 10px;}
	ol li{margin-bottom:10px; font-size:14px;}
	
	div.orgnization {
    
    margin: 0 auto;
    padding: 20px 0px 20px 0px; padding-left:0; text-align:center;
    
}
.frm_div{float:left;  /*width:715px;*/ width: 690px;
    border:0px #ccc solid; border-top:0px; color:#000; text-align:right; direction:rtl; margin-right:15px;}
.frm_head{background:url(../images/frm_bg.png) no-repeat; height:33px; width: 716px;}
.frm_title{clear:both; width:695px; float:left; font-size:16px; color:#000; padding:9px 25px 20px 0px; text-align:right}
.f_title{float:right; width:110px; padding:2px 20px 5px 5px;}


.f_input{float:left; width:525px;  padding:2px 0 8px 40px; text-align:right; direction:rtl;}
.f_input input{float:left; width:525px;}
.f_input textarea{float:left; width:130px; resize: none;}
.frm_middle { background:url(../images/frm_bg_middle.png) repeat-y; width:716px; height:335px;}
.frm_bottom { background:url(../images/frm_bg_bottom.png) repeat-y; width:716px; height:13px;}
div.video_item p a, div.video_item p a:hover, div.video_item p a:visited {
color: #BC8545; text-decoration: none;
}
.edu {
    display: none;
}
.fri{ display:none; float:left;}
.other{float:left;}


.board_member_item {
		float:right; width: 190px;
		margin: 18px;
		color: #C7A317; direction:rtl;
	}
	.board_member_item img{
		margin-bottom: 5px;
	}
	.board_member_item span {
		display: block;
	}
	.board_member_item span.designation {
		color: red;
		margin-top: 5px;
	}
	.board_member_item span.name {
		font-weight:bold;
	}
	.board_member_item span.slogan {
	 
	}
.add_more{ float:left; text-align:left;}
.add_more_arb{ float:right; text-align:right;}

#result { border: 1px solid green; width: 300px; margin: 0 0 35px 0; padding: 10px 20px; font-weight: bold; }
#change-image { font-size: 0.8em; }
.captcha{ padding-top:10px;float:left;width:240px;}

/*#table table { border:1px solid #C7A317;}
#table table th{ background:url(../images/thbg.png) repeat-x; height:32px;border:1px solid #C7A317; padding:2px; text-align:center; text-shadow:0 1px 0 white; color:#986F2D; font-size:16px; font-weight:bold;}
#table table .th{ background:url(../images/thbg2.png) repeat-x; height:79px;border:1px solid #C7A317; padding:0px; text-align:center; text-shadow:0 1px 0 white; color:#986F2D; font-size:16px; font-weight:bold;}
#table table p{ text-align:center; margin:0;}
#table table td{ background:#F3E7AB; padding:7px 0 ; text-align:center;}
#table table tr td:first-child + td{ background:#F9F1CC; text-align:center;}
#table table td:first-child + td + td{ background:#F3E7AB; padding:7px 0 ; text-align:center;}
#table table tr td:first-child + td + td + td{ background:#F9F1CC; text-align:center;}*/
#table table { border:1px solid #640204;}
#table table th{ background: rgba(150,0,10,1);
background: -moz-linear-gradient(top, rgba(150,0,10,1) 0%, rgba(100,2,4,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(150,0,10,1)), color-stop(100%, rgba(100,2,4,1)));
background: -webkit-linear-gradient(top, rgba(150,0,10,1) 0%, rgba(100,2,4,1) 100%);
background: -o-linear-gradient(top, rgba(150,0,10,1) 0%, rgba(100,2,4,1) 100%);
background: -ms-linear-gradient(top, rgba(150,0,10,1) 0%, rgba(100,2,4,1) 100%);
background: linear-gradient(to bottom, rgba(150,0,10,1) 0%, rgba(100,2,4,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#96000a', endColorstr='#640204', GradientType=0 ); border:1px solid #640204; height:32px; padding:2px; text-align:center; text-align: center;
color: #e6dba1;
font-size: 16px;
font-family:Tahoma, Geneva, sans-serif;}
#table table .th{  height:79px;border:1px solid #C7A317; padding:0px; text-align:center; text-shadow:0 1px 0 white; color:#986F2D; font-size:16px; font-weight:bold;}
#table table p{ text-align:center !important; margin:0; font-size:14px !important;}
#table table td{ padding: 9px 0 5px 0;
margin-right: 1px;
background-color: #e6dba1;
olor: #464646;
font-weight:normal;
text-align: center;
font-family:Tahoma, Geneva, sans-serif;
font-size:14px;
}
#table table td span {color: #464646;}
#table table tr td:first-child + td{ background-color: #e6dba1; text-align:center;}
#table table td:first-child + td + td{ padding:7px 0 ; text-align:center;}
#table table tr td:first-child + td + td + td{ background:#F9F1CC; text-align:center;};}
#table table tr td:first-child + td{ background:#F9F1CC;}


.news_letter{ background:url(/images/newsletter.jpg) no-repeat; width:223px; height:127px;}
.news_letter .title{text-shadow: white 0 1px 0;
color:#9C7038; text-transform:uppercase; padding-top:10px; font-weight:bold; text-align:center;}

.news_letter .input input {
    direction: rtl;
    margin-left: 18px; margin-top:23px; padding:2px 10 2px 0px; font-size:12px;
}
.news_letter .input .input_cls1 {
    border: 1px solid #CEBA69;
    float: left;
    resize: none;
    width: 180px; padding-right:10px;
}
#tab{border:1px solid #C7A317; border-bottom:none; border-right:none; margin-bottom:10px; min-height:157px;}
#tab td{border:1px solid #c7a317; border-left:none;border-top:none;}
.td_bg{ background-color:#fdeed1; padding:10px; padding-left:5px;}
.td_bg1{ background-color:#fdeed1; padding:35px 10px 38px; padding-left:5px;}
.no { display:none;}
.input_row .input_div{position:relative}
.input_row_dob {
    clear: both;
    float: left;
    padding:10px;
    width: 671px; margin-right:7px; 
	position:relative
}
.input_row_dob  .input_cls {
    border: 1px solid #CEBA69;

    float: left; 
    width: 250px;resize:none;
}
.input_row_dob  input {
    
    direction: rtl;
    margin-left: 3px;
}
/*country code field*/
.cont{
	width: 252px;
	height: 54px;
    direction: ltr;
}
.txtCode{
	display: block;
	width: 95px;
direction: ltr !important;
}
.contCode{
	float: left;
   text-align: left; margin-left:2px;

}
.txtNum{
	margin-left: 3px;
	width: 152px;
}
.contCode .txtEng,.contCode .txtArabic{
	font-size:10px;
	width: 100%;
	display: block;
	margin: 0;
	text-indent: 4px;
	font-weight: normal;
	color: gray;
}
.contCode input[type="text"]{
	margin-left:0
}
.contCode .txtArabic{
	line-height:1
}
.txtCode .txtEng,.txtCode .txtArabic{
	text-indent: 7px;
}
/* Poll section starts */

#pollWrap{
	width: 222px; margin-top:20px;  direction:rtl; text-align:right;
}
#pollWrap .poll_top {background:url(../images/polltop.png) no-repeat; width:207px; height:21px; color: #9C7038;

    font-weight: bold;
    padding-top: 10px;
    text-align: right;
    text-shadow: 0 1px 0 white;
    text-transform: uppercase; padding-right:12px;}
#pollWrap .poll_middle {background:url(../images/pollcenter.png) repeat;  width:201px; margin:0; padding:10px; padding-left:8px;}
#pollWrap .poll_bottom {background:url(../images/pollbottom.png) no-repeat; width:219px; height:5px;}
#pollWrap h3 {
	font-size: 12px;
	margin-bottom: 5px;
	font-weight:normal; text-align:right; padding-right:5px;
	word-wrap: break-word;
}
#pollWrap .poll_submit {
    background: url("/en/images/pollbutton.png") no-repeat scroll transparent;
    border: 0 none;
    color: #000000;
    cursor: pointer;
    font-weight: bold;
    height: 30px;
    padding: 0;
    width: 85px; margin-top:10px; 
}
#voted{width: 85px; margin-top:10px; margin-left:20px; color: #000000; font-weight: bold;}
#pollWrap  input{ margin-top:2px;}
#pollWrap .total_vote{float:right; padding-top:10px; font-size:12px; padding-left:5px; width:80px; }
#pollWrap a{color:#B27314}
#pollWrap ul {
	margin: 0;
	padding: 0 ;
	list-style:none;
}
#pollWrap li {
	padding: 3px 0; 
	overflow:hidden; /*for our lovely friend IE6 to behave nicely*/
	font-size: 12px;color:#AD7815; font-weight:bold;
}
#pollWrap li span {
	font-size: 11px;
}
.pollChart {
	margin-right: 5px;
	height: 11px;
	width:66%; border:1px solid #a9782b; float:right; position:relative;

}
.pollChart span{position: absolute;
left: 2px;
top: -2px;
color: #000;
z-index: 9999;
font-size: 11px; font-weight:normal;}
.pollper{ float:right; padding-right:6px;width:27%; color:#000; font-weight:normal;}
#pollWrap p { padding-top:10px;}
#pollSubmit {
	margin-top: 5px;
}
#pollMessage {
	color:#C00;
	font-size: 0.8em;
	font-weight: bold;
}
#pollWrap ul li.first {
    background-color: #faf1d1; border-left:0; border-right:0; border-top:0; border-bottom:0;
}
#pollWrap ul li.second {
    background-color: #faf1d1; border-left:0; border-right:0; border-top:0;border-bottom:0;
}
.poll_ar_top{ background: url("/en/images/poll_archive_top.jpg") no-repeat scroll transparent; width:219px; height:1px;}
.poll_archive{float:right; width:230px; margin-bottom:5px}
/*Poll ends*/
/*LOST POPUP*/
.lostpopup p{
text-align:center;
margin-top:6px;
direction:ltr
}
.lostpopup p:first-child{
direction:rtl
}
.lostpopup label{
float:left;
width:230px;
font-weight: bold;
margin: 20px 0 3px;
direction:ltr
}
.lostpopup label.arabic{
float:right;direction:rtl;
width:210px;
text-align:right
}
.lostpopup textarea{
clear:both;width:448px;height:88px;resize:none;outline:none;
border:1px solid #9a9a9a;
border-right-color:#eee;
border-bottom-color:#eee;
}
.lostpopup .clear{
margin:6px 0 12px;
}
.lostpopup input[type=button]{
cursor:pointer
}
.ui-widget-overlay {
background: #666666!important;
-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
filter: alpha(opacity=50);
-moz-opacity:.50;
-khtml-opacity:.50;
}
/*Personal Profile Account Module CSS*/
#summary_title{
	float:right;
	border:1px solid #bda716;
	background:#faefd3;
	font-weight:bold;
	color:#BC8545;
	
}
#summary_title div{
	float:right;
	border-left:1px solid #bda716;
	padding:5px 5px 5px 5px;
	width:90px;
	height:30px;
	
}
#summary{
	float:right;
	border:1px solid #bda716;
	border-bottom:none;
	border-top:none;
}
#summary div{
	float:right;
	border-left:1px solid #bda716;
	
	border-bottom:1px solid #bda716;
	padding:5px 5px 5px 5px;
	width:90px;
}
#points{
	background:none;
	padding:0px 20px 0px 0px; direction:rtl;
}
#points li{
		background:none;
		list-style:disc;
		border:none;
		padding:0px 0px 0px 0px;
}
#links_en{
	background:none;
	display:inline;
}
#links_en li{
	background:url(../images/li_arrow.png) no-repeat 0px 10px;
	border:none;
	display:inline!important;
	
	float:none;
}
#links_en li a{
	text-decoration:none;padding-left:5px;
}
#links_ar{
	background:none;
	display:inline;
}
#links_ar li{
	background:url(../images/arrow_arabic.png) no-repeat 0px 10px;
	border:none;
	display:inline!important;
	
	float:none;
}
#links_ar li a{
	text-decoration:none;padding-left:5px;
}
#tour_btn{
	background:url(../images/tour_btn.png) no-repeat;
	width:293px;
	height:33px;
	text-decoration:none;
	text-align:left;
	font-size:14px;
	font-weight:bold;
	padding:8px 0px 0px 12px;
	margin-bottom:5px;color:#000;
}
#tour_btn a{
	text-decoration:none;
	color:#352B06!important;
}
#tour_btn:hover{
	background:url(../images/tour_btn_mh.png) no-repeat;
	width:293px;
	height:33px;
	text-decoration:none;
	text-align:left;
	font-weight:bold;
	padding:8px 0px 0px 12px;
	margin-bottom:5px;color:#000;
}
#tour_ar a{
	text-align:right;
	direction:rtl;
	float:right;
	padding:0px 22px 0px 12px;
}
.even_one{
	background:#fff;
}
.odd_one{
	background:#fffcf7;
}
#date>span{
	display:block;
	color:#999
}
#date span{
	font-weight:normal;
}
#date span+span {
margin: 0px 0 5px 107px;
padding: 0 18px 0 0;
background: url(../images/li_arrow_down.png) no-repeat 92px 4px;
}
#date span+span a{
	color:#999;
	font-size: 11px;
	font-weight: bold;
	text-decoration:none;
}
#date span+span a:hover{
	text-decoration:underline;
}
#header .date {
	margin-top: 48px;
}
.book{
	background: url(../images/btn.png) no-repeat 0px 0px;
	margin:0 auto;
	margin-top:40px;
	border:0;
	width:251px;
	height:35px;
	
}
.book div{
	
}
.book a{
	color:#000!important;
	text-decoration:none;
	font-weight:bold;
	width:100%;
	height:100%;
	text-align:center;
	line-height:33px;
	display:block;
	
}
 .cmt_btn{
    background: url("/en/images/cmt_btn.png") no-repeat 0px 0px  ;
    border:0;
    height: 35px;

    width: 175px; color:#000000; font-weight:bold; cursor:pointer;
}
.hijri{
	float:right;
	margin:2px -10px -5px 0
}
.hijri span{padding:0px 10px}


.btnsCont .register_box1{
    background: url("/en/images/Tour_Operator_Registration_button.png") no-repeat !important;
    border:0;
    height: 44px;
    width: 195px; 
	color:#e5daa0; 
	font-weight:normal; 
float:right;
	line-height:15px;
	padding: 7px 0px 0px 14px;
}
.btnsCont .register_box2{
    background: url("/en/images/login_button.png") no-repeat;
    border:0;
     height: 32px;
    width: 207px;
	color:#000000; 
	font-weight:normal; 
float:right;
	padding: 7px 0px 0px 24px;
}

.btnsCont .register_box1 a,.btnsCont .register_box2 a{
	color: #e6dba1 !important;
	width: 199px;
	display: block;
	font-size: 12px;
	text-decoration: none;
	cursor: pointer;
}
.btnsCont .register_box2 a{
	margin-right: 45px;
}

/*
.register_box1{
    background: url("/en/images/new_button.png") no-repeat ;
    border:0;
     height: 47px;
     width: 119px; 
	color:#000000; 
	font-weight:bold; 
	text-align:center;
	line-height:15px;
	padding:10px 0px 0px 0px;
	float:left;
}
.register_box2{
    background: url("/en/images/new_button.png") no-repeat;
    border:0;
     height: 47px;
    width: 119px; 
	color:#000000; 
	font-weight:bold; 
	padding:17px 0px 0px 0px;
	float:right;
	text-align:center;
}

.register_box1 a,.register_box2 a{
	color:#000!important;
	text-align:center;
	text-decoration:none;
	cursor:pointer;
}
.register_box1 a:hover,.register_box2 a:hover{
	text-decoration:underline;
}
*/
.box_div{
	float:left;
	width:250px;
	margin-bottom:10px;
}
 input[type="radio"]{
    border: 0;
    background:none;
}

.prayer_seemore a {
position:relative;
z-index:9;
float:right;
color: #2b2b2b;
font-size: 13px;
margin: 15px 0px 15px 16px;
font-family:Tahoma, Geneva, sans-serif;
float:left;
}

.prayer_seeless a {
position:relative;
z-index:9;
float:right;
color: #2b2b2b;
font-size: 13px;
margin: 15px 0px 15px 16px;
font-family:Tahoma, Geneva, sans-serif;
float:left;
}

.register_box1 { float:right; width:195px;}
.tour_bnt { float:left;}
.tour_bnt a {  float:left; width:155px; height:41px; background:url(../images/Tour_Operator_Registration_button.png) no-repeat;
color: #000000;
font-weight: bold;
cursor: pointer;
color: #e6dba1;
font-size:12px;
padding:3px 20px 0 20px;
margin:0 0 5px 0;
}
.english { float:left;}
.arbi { float:right;}

.tour_bnt_login a {
	 float:left; width:155px; height:24px; background:url(../images/login_button.png) no-repeat;
color: #000000;
font-weight: bold;
cursor: pointer;
color: #e6dba1;
font-size:12px;
padding:8px 20px 0 20px;
}


.search_btn a {
	float:left;
	background:url(../images/search_btn.png) no-repeat;
	width:30px;
	margin:4px 0 0 0 ;
	height:22px;
	}

#ar-home-news-wrap .widge_archive_title a {  width: 82px;  }
.page_121 h2{ width:100% !important; }
.ar-tbf-top-btn .box_div {
    width: auto;  margin-left: 140px; 
}
.btnsCont .register_box1.old_yello_bg_logo{
  text-align: center;
  padding-top: 14px;
  padding-left: 0px;
}
.ar-tbf-top-btn .register_box2 {
    width: 199px;
}
.register_box1.old_yello_bg {
    background: url("/images/Tour_Operator_Registration_button_yellow.png") no-repeat;
}
.btnsCont .register_box1.old_yello_bg a, .btnsCont .register_box2.old_yello_bg a{color: #000}
.register_box2.old_yello_bg{
    background: url("/images/login_button_yellow.png") center no-repeat;
}
.general_body_content.page_121 {  color: #464646 !important;  }
.single_middle h2 {  width: 100% !important;  }
.red_h3{color: #97000a !important;}
a#change-image {  color: #7a0c03 !important;  font-size: 13px;  font-weight: bold;  }

.ui-dialog{z-index: 99999999!important;}
.input_row input.error, .input_row select.error {
    float: none!important;
    color: #000!important;
}
ul.bullet-points{color: #464646; padding-right: 15px;}
ul.bullet-points li{color:#464646;  }
ul.bullet-points li {  color: #464646;  background: none !important;  border: none !important; font-size: 16px; list-style: disc; }

.clear .chk{
	margin-top:-20px;
}

@-moz-document url-prefix() { 
	.clear .chk{
		margin-top:-23px;
		vertical-align: top;
	}
}