* {
	margin: 0;
	outline:0;
}

img {
	border:0;
	}

body {
	margin:0;
	padding:0;
	font-family:Tahoma, Geneva, sans-serif;
	direction:rtl;
	}

h1 , 
h2 ,
h3 , 
h4 , 
h5 , 
h6 , 
ul, 
li ,
 p {
	 outline:0;
 }


.clear{ 
	clear:both; 
}


p {margin: 0 0 12px;
 color:#464646;
 font-size:16px;
 line-height:23px; 
 direction:rtl;
 }
 
p a {
	text-decoration:none;

} 
a {
	text-decoration:none;
	}
	
a:hover {
	text-decoration:underline;
	}
	
h1 {
	float:right;
	margin:5px 0 0 0;
	}
	
	

header {
	margin:auto;
	width:948px;
	padding:0;
	}

.Right_Side1 {
	float:left!important;
	width:313px!important;
	}
	
.Right_Side {
	float:right!important;
	width:275px!important;
	}	
	
.grid_1 {
	float:right;
	margin:0 0 0 25px;
	width:500px;
	
	}
	
.grid_2 {
	float:left;
	}	

.grid_1 img {
	float:left;
	}
	
.title {
	font-size:27px;
	float:right;
	color:#bba368;
	margin:84px 40px 0 0;
	
}	

.grid_1 ul {
	float:right;
	width:auto;
	list-style:none;
	padding:0;
	margin:4px 0 0 0;
	
	}
	
.grid_1 ul li {
	float:left;
	}
	
.grid_1 ul li a {
	float:right;
	color:#bba368;
	font-size:12px;
	border-right:1px solid #ccba8e;
	padding:0 20px 0 0;
	margin:0 20px 0 0;
	direction:rtl;
	}
.grid_1 ul li a.last {
	border:0;
	width: 50px;}
	
.social_box {
	float:left;
	width:100%;
	height:30px;
	background:#e8e2d2;
	margin:9px 0 0 0;
	}	
	
.sub_social_box {
	margin:auto;
	width:948px;
	}
	
.sub_social_box ul {
	float:right;
	width:auto;
	list-style:none;
	padding:0;
	}
	
.sub_social_box ul li {
	float:right;
	margin:0 0px 0 10px;
	}	
	
.sub_social_box ul li a {
	float:right;
	}	
	
.home {
	background:url(../images/home.png) bottom no-repeat;
	width:16px;
	height:15px;
	margin:0px 0 0 0;
	padding:8px 10px;
	}
.home:hover {
	background:url(../images/home.png) top no-repeat #bba367;
	}
	
.home.active {
	background:url(../images/home.png) top no-repeat #bba367;
	}	
	
.phone {
	background:url(../images/phone.png)  bottom no-repeat;
	width:13px;
	height:15px;
	margin:8px 0 0 0;
	}
	
.phone:hover {background-position:top;}
.phone.active {background-position:top;}	
	
.social_media {
	background:url(../images/social_01.png) bottom no-repeat;
	width:17px;
	height:15px;
	margin:8px 0 0 0;
	}
	
.social_media:hover {background-position:top;}
.social_media.active {background-position:top;}	
	
	

.qustion {
	background:url(../images/question.png) bottom no-repeat;
	width:17px;
	height:15px;
	margin:8px 0 0 0;
	}
	
.qustion:hover {background:url(../images/question.png) top no-repeat;}
	
	
.small_a {
	background:url(../images/small_a.png) bottom no-repeat;
	width:14px;
	height:11px;
	margin:11px 0 0 0;
	}
	
.small_a:hover {background-position:top;}	
.small_a.active {background-position:top;}	
	
.cap_a {
	background:url(../images/cap_a.png) bottom no-repeat;
	width:24px;
	height:15px;
	margin:9px 0 0 0;
	}
	
.cap_a:hover {background-position:top;}
.cap_a.active {background-position:top;}	
	
.arbi_title {
	float:right;
	margin:8px 8px 0 0px;
	}	
	
.rss {
	background:url(../images/rss.png) bottom no-repeat;
	width:19px;
	height:18px;
	margin:6px 0 0 10px;
	}	
	
.rss:hover {background-position:top;}	
.youtube {
	background:url(../images/youtube.png) bottom no-repeat;
	width:19px;
	height:18px;
	margin:6px 0 0 0;
	}
	
.youtube:hover {background-position:top;}	
	
.reesMr {
	margin:0 10px 0 0!important;
	}	
	
.sub_social_box ul input { 
border: 0;
width: 135px;
padding: 0 5px 0 0px;
float:left;
height: 24px;
background:#fff;
color: #8d8d8d;
font-size: 13px;
cursor: pointer;
margin:4px 0 0 0;
font-family:Tahoma, Geneva, sans-serif;
	}		


	
.search_btn a {
	float:left;
	background:url(../images/search_btn.png) no-repeat;
	width:30px;
	margin:4px 0 0 0 ;
	height:22px;
	}
	


.banner {
	margin:auto;
	width:100%;
	}
	
.banner img {
	width:100%;
	margin:auto;
	}	

.main_box_content {
	margin:20px auto 0px auto;
	width:1030px;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.75);
	height:auto;
	padding:0 0 40px 0;
	}	
	

.nav {
float: left;
background: url(../images/nav_bg.jpg) no-repeat;
width: 1030px;
height: 40px;
margin: -30px 0 0 0;
z-index: 9999999!important;
position: absolute;
background-size: 100% auto;
	}
	
.nav ul {
float:right;
width:100%;
list-style:none;
padding:0;

}

.nav ul li {
float:right;
}	

.nav ul li a {
float:right;
color:#e5daa0;
font-size:14px;
font-family:Tahoma, Geneva, sans-serif;
height:29px;
background:url(../images/nav_border.jpg) right no-repeat ;
padding:11px 27px 0 27px;
direction:rtl;
}

.nav ul li a:hover {
	text-decoration:none;
	}
	
.about_sz {
	padding:15px 25px 0 25px!important;
	}	
	
.content {
	margin:auto;
	width:980px;
	padding:40px 0 0 0;
	}	
	
	
.content-left{ 
	width:212px; 
	height:auto; 
	float:right; 
	margin-right:15px;
	}
	
.content-left-box{ 
	width:210px; 
	height:auto; 
	border:1px solid #cdcdcd; 
	margin-bottom:17px; 
	position:relative;
    display: inline-block;
}
	
.content-left-box-round-corner { 
width: 212px;
height: auto;
margin-bottom: 17px;
float:left;
font-family:Tahoma, Geneva, sans-serif;
direction:rtl;
}

.prayer_timing {
	font-size:17px;
	color:#e5daa0;
	font-family:Tahoma, Geneva, sans-serif;
	float:right;
	margin:6px 0 0 18px;
	direction:rtl;
	}
	
.content-left-box-round-corner p {
	width:173px;
	margin:15px 0 0 18px;
	font-size:13px;
	color:#000;
	float:left;
}

.content-left-box-round-corner p span {
	float:right;
	}
	
.content-left-box-txt-menu{ 
	position:absolute; 
	bottom:0; 
	z-index:100; 
	width:210px; 
	height:38px; 
	background-color: rgba(255,255,255,0.60);
	}
.content-left-box-txt-menu-left{ 
	width:164px; 
	height:auto; 
	float:right;
	/*font-family: 'open_sanssemibold';*/
	/*font-family:Tahoma, Geneva, sans-serif; */
	font-size:15px; 
	color:#000000; 
	padding:10px 13px 0 0px;
	text-shadow: 0px 1px #FFF;
	direction:rtl;
	}
	
.content-left-box-txt-menu-left a{ 
	text-decoration:none; color:#000; font-weight: bold;
	}
.content-left-box-txt-menu-left a:hover{ 
	text-decoration:none; 
	color:#898989;
	}
.content-left-box-txt-menu-right{ 
	width:33px; 
	height:auto; 
	float:left;
	}
.content-right{ 
	width:688px; 
	margin:0 50px 0 0px;
	float:right;
	}	
	
.poll_box_left {
	float:left;
	width:212px;
	border:1px solid #cecece;
	border-radius: 7px 7px 7px 7px;
	-moz-border-radius: 7px 7px 7px 7px;
	-webkit-border-radius: 7px 7px 7px 7px;
	}	
	

.poll_title {
	float:right;
	width:196px;
	background:url(../images/poll_bg.jpg) repeat-x;
	height:37px;
	-webkit-border-top-right-radius: 7px;
	-webkit-border-top-left-radius: 7px;
	color:#c3ad7b;
	font-size:17px;
	padding:0 16px 0 0px;
	line-height:37px;
	}	
	
.poll_title img {
	float:left;
	margin:5px 0px 0 10px;
	}	
	
.poll_box_left p {
	font-size:15px;
	float:right;
	margin:9px 16px 0 0px;
	font-family:Tahoma, Geneva, sans-serif;
	color:#000;
	line-height:23px;
	width:195px;
	direction:rtl;
	text-align:right!important;
	}	
	
.chk_box {
	float:right;
	width:182px;
	margin:10px 10px 0 0px;
	}	
	
.percentdage_box {
	float:right;
	width:197px;
	margin:0 0 7px 0;
	}	
	

.box_01 {
	float:right;
	width:153px;
	border:1px solid #e0d8c3;
	height:12px;
	}
	

.box_right_02 {
	color:#000;
	font-size:10px;
	 font-family:Tahoma, Geneva, sans-serif;
	margin:0 5px 0 0px;
	float:right;
	direction:rtl;
	}
	
.gold_box1 {
	width:133px;
	height:12px;
	background:#e0d8c3;
	float:right;
	}	
	
.gold_box2 {
	width:3px;
	height:12px;
	background:#e0d8c3;
	float:right;
	}	
	
.gold_box3 {
	width:9px;
	height:12px;
	background:#e0d8c3;
	float:right;
	}	
	
.left_vote_box {
	float:right;
	width:212px;
	height:32px;
	background:url(../images/vote_bg.png) no-repeat;
	}
	
.left_vote_box p {
	float:right;
	width:120px;
	}
	
.vote_btn1 {
	float:right;
	background:url(../images/vote_btn.jpg) no-repeat;
	width:74px;
	height:32px;
	font-size:14px;
	font-family:Tahoma, Geneva, sans-serif;
	text-align:center;
	line-height:32px;
	color:#000;
	}	
	

.vote_btn:hover {
	    opacity: 0.7;
    filter: alpha(opacity=70); /* For IE8 and earlier */
	}
	
.previous_poll a {
	float:right;
	color:#937a42;
	font-size:13px;
	margin:15px 16px 15px 0px;
	 font-family:Tahoma, Geneva, sans-serif;
	 direction:rtl;
	}	
	
	
.right_banner {
	float:left;
	width:100%;
	}
	
.caption_right_banner {
	float:right;
	width:100%;
	height:37px;
	position:absolute;
	bottom:35px;
	background-color: rgba(0, 0, 0, 0.7);
	background: rgba(0, 0, 0, 0.7);
	
	}	
	
.caption_right_banner h2 {
	float:right;
	color:#baa367;
	font-size:19px;
	font-family:Tahoma, Geneva, sans-serif;
	direction:rtl;
	line-height:37px;
	margin:0 20px 0 0px;
	
	}	
	
.caption_right_banner h2 strong {
	color:#fff;

	}	
	
.more_btn a {
	float:left;
	color:#d91a04;
	font-size:14px;
	font-family:Tahoma, Geneva, sans-serif;
	background:url(../images/read_more.png) left no-repeat;
	padding:0 0px 0 30px;
	margin:7px 0px 0 20px;
	height:22px;
	direction:rtl;
	}	
	
.widge_box {
	float:left;
	width:100%;
	margin:50px 0;
	}
	
.widge_box ul {
	float:left;
	width:100%;
	padding:0;
	list-style:none;
	}	
	
.widge_box ul li {
	float:left;
	width:166px;
	margin:0 0 0 8px;
	}
	
.fist_tham {
	margin:0!important;
	}	
	
.widge_box ul li img {
	float:left;
	border:1px solid #c0a874;
	margin:0 0 10px 0;
	}	
	
.widge_box ul li a {
	float:right;
	color:#c0a874;
	font-size:16px;
	font-family:Tahoma, Geneva, sans-serif;
	background:url(../images/book_arow.png) right top no-repeat;
	padding:7px 28px 0 0px;
	width:138px;
	direction:rtl;
	}	
	
.widge_news {
	float:left;
	width:686px;
	border:1px solid #c4b07d;
	margin:50px 0 0 0;
	padding:1px;
	height:33px;
	}
	
.widge_news p {
	float:left;
	width:100%;
	direction:rtl;
	}	
	
	
.widge_news p a {
	font-size:12px;
	color:#2b2b2b;
    font-family:Tahoma, Geneva, sans-serif;
	text-align:center;
	background:#c4b07d;
	height:33px;
	line-height:33px;
	text-align:center!important;
	float:left;
	width:100%;
	direction:rtl;
	}	
	
.widge_archive_title {
	float:left;
	width:100%;
	margin:50px 0 0 0;
	color:#baa367;
	font-size:18px;
	font-family:Tahoma, Geneva, sans-serif;
	border-bottom:1px solid #baa367;
	padding:0 0 10px 0;
	}
	
.widge_archive_title a {
	float:left;
	color:#bf1202;
	font-size:14px;
	padding:0 0 0 12px;
	background:url(../images/news_archive.png) left no-repeat;
	width:70px;
	}	
	
.video_gallery {
	float:left;
	width:100%;
	margin:20px 0 0 0;
	}	
	
.left_vidoe {
	float:left;
	width:270px;
	}	
	
.left_vidoe p {
	float:right;
	width:270px;
	color:#c3ac79;
	font-size:16px;
	direction:rtl;
	text-align:right!important;
	}
	
.left_more_btn {
	color:#a10008!important;
	background:none!important;
	padding:10px 0 0 0!important;
	font-size:13px!important;
	}	
	
.vedio_link {
	float:left;
	margin:40px 0 0 0;
	}
	
.vedio_link:hover {
	  opacity: 0.7;
    filter: alpha(opacity=70); /* For IE8 and earlier */
	}	
	
.vedio_link2 {
	 margin:40px 0 0 56px;
	 }	
	 
.partner_box {
	margin:15px auto 30px auto;
width: 1000px;
-webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
height: 164px;

}	 

.footer{
	width:100%;
	height:217px;
	float:right;
	background-color:#790000;
	background-attachment: scroll;
	background-image: url(../images/footer-background.png);
	background-repeat: repeat-x;
	background-position: right top;
}
.footer-address{ 
	width:100%; 
	height:159px; 
	float:right;
	}
	
.footer-menu{ 
	width:100%; 
	height:28px; 
	float:right; 
	background-color:#2b2b2b;
	}
	
.footer-copyright{ 
	width:100%; 
	height:30px; 
	float:right;
	}
	
.footer-div{ 
	width:950px; 
	height:auto; 
	margin:0 auto; 
	padding:0 25px 0 25px;
	}
	
.copyright{
	font-family:Tahoma, Geneva, sans-serif; 
	font-size:11px; 
	color:#e6dba1; 
	padding-top:9px;
	direction:rtl;
	}
	
.menu{
	font-family:Tahoma, Geneva, sans-serif; 
	font-size:12px; color:#e6dba1; 
	padding-top:7px;
	direction:rtl;
	}
	
.menu span{ 
	padding:0 17px;
	}
	
.menu a{
	color:#e6dba1;
	text-decoration:none;
	}
	
.menu a:hover{
	color:#898989;
	text-decoration:none; 
	}
	
.footer-address-left{ 
	float:right; 
	width:250px;
	}
	
.footer-address-middle{ 
	float:right; 
	width:250px;
	}
	
.footer-address-middle ul{ 
	list-style:none; 
	margin:52px 0 0 0; 
	padding:0px;
	}
	
.footer-address-middle ul li{
	font-family:Tahoma, Geneva, sans-serif; 
	font-size:14px; 
	color:#e6dba1; 
	padding-left:30px; 
	margin:8px 0 8px 0;
	direction:rtl;
	}
	
.footer-address-middle ul li a{
	color:#e6dba1;
	text-decoration:none;
	}
	
.footer-address-middle ul li a:hover{
	color:#ce906d;
	text-decoration:none; 
	}
	
.footer-address-right{ 
	float:right; 
	width:434px; 
	margin-top:52px; 
	border-right:1px solid #e6dba1; 
	padding-right:15px;
	}
	
.footer-address-right p {
	font-family:Tahoma, Geneva, sans-serif; 
	font-size:12px; 
	color:#e6dba1; 
	line-height:14px;
	direction:rtl;
	text-align:right!important
	}
	
.telephone-background{
	background-attachment: scroll;
	background-image: url(../images/phone-ico.png);
	background-repeat: no-repeat;
	background-position: left top;
}


.brad_cram {
	float:right;
	width:980px;
	margin:auto;
	}

.brad_cram ul {
	float:right;
	list-style:none;
	padding:0;
	margin:0 0 0 14px;
	}
	
.brad_cram ul li {
	float:right;
	}	
	
.brad_cram ul li a {
	float:right;
	color:#baa367;
	font-size:12px;
	font-family:Tahoma, Geneva, sans-serif;
	background:url(../images/brad_cram.jpg) left no-repeat;
	padding:0 0px 0 10px;
	margin:0 10px 0 0;
	line-height:20px;
	direction:rtl;
	}
.brad_cram ul li a:hover {
	text-decoration:none;
	}	
	
.brad_cram ul li a.active {
	color:#9f000b;
	background:none;
	}	
	
.inside_conter {
	float:left;
	width:950px;
	margin:35px 0 0 14px;
	}	
	
.Visiting_box {
	float:right;
	width:100%;
	}	

.Visiting_box ul {
	float:right;
	list-style:none;
	padding:0;
	margin:0 0 0px 0;
	}
	
.Visiting_box ul li {
	float:right;
	width:293px;
	border:1px solid #c3ad7b;
	-webkit-border-radius: 7px;
	-webkit-border-radius: 7px;
	margin:0 32px 32px 0px;
	}	

.Visiting_box ul li img {
	float:right;
	border-bottom:3px solid #c7b284;
	margin:0 0 11px 0;
    border-radius: 6px 6px 0 0;
	}
	
.Visiting_box ul li span a {
	color:#bfa773;
	font-size:18px;
	font-family:Tahoma, Geneva, sans-serif;
	line-height:45px;
	height:65px;
	direction:rtl;
	 }

.Visiting_box ul li a {
    color:#bfa773;
    font-size:18px;
    font-family:Tahoma, Geneva, sans-serif;
    line-height:45px;
    display: block;
    direction:rtl;
}
	
.Visiting_box ul li span img {
	float:right;
	border:0;
	margin:0 20px 10px 30px;
	}	
	
.visiting_page_height {
	/*height:970px!important;*/
	}	


.login-div{ width:655px; height:320px; float:right;}
.login-title{
	width:625px;
	height:38px;
	float:right;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:17px;
	padding:15px 30px 0 0px;
	background-attachment: scroll;
	background-image: url(../images/login-title-image.png);
	background-repeat: no-repeat;
	background-position: left top; color:#c3ac79;
	direction:rtl;
}
.login-container{
	width:655px;
	height:267px;
	float:right;
	background-attachment: scroll;
	background-image: url(../images/login-box-image.png);
	background-repeat: no-repeat;
	background-position: left top;font-family:Tahoma, Geneva, sans-serif; font-size:16px; color:#000;
	direction:rtl;
}

.login-container ul{ margin:40px 35px 0 35px; padding:0px; list-style:none;}
.login-container ul li{ list-style:none; float:right;}
.login-container ul li.label{ width:113px; height:33px; margin-bottom:20px; display:block;}
.login-container ul li.textarea{
	width:472px;
	height:33px;
	margin-bottom:20px;
	display:block;
	background-attachment: scroll;
	background-image: url(../images/login-textarea-background.png);
	background-repeat: no-repeat;
	background-position: left top;
}
.login-container ul li.link{ width:472px; padding-right:113px;display:block; color:#000; font-size:12px; }
.login-container ul li.link a{ text-decoration:underline; color:#000;}
.login-container ul li.link a:hover{ text-decoration:none; color:#000;}
.login-txtbox{ 
	width:432px; height:33px; float:right; font-size:14px; line-height:18px; color:#bfa773; padding:0 20px 0 20px;font-family:Tahoma, Geneva, sans-serif; border:0px !important; background-color:transparent; direction:rtl;}
.login-btn{
	float:right;
	width:129px;
	height:41px;
	border:0px !important;
	margin:30px 0px 0 35px;
	background-attachment: scroll;
	background-image: url(../images/login-btn.png);
	background-repeat: no-repeat;
	background-position: left top; background-color:transparent;
}

.register-btn{
	float:right;
	width:129px;
	height:41px;
	border:0px !important;
	margin:30px 0px 0 0;
	background-attachment: scroll;
	background-image: url(../images/register-btn.png);
	background-repeat: no-repeat;
	background-position: left top; background-color:transparent;
}


.prayer-timing-title-div{
	width:192px;
	height:30px;
	float:right;
	background-attachment: scroll;
	background-image: url(../images/prayer-timings-title-image.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	color:#c3ad7b;
	font-size:16px; padding:7px 20px 0 0px;
	
}
.prayer-timing-div{
	width:192px;
	height:22px;
	float:right;
	background-attachment: scroll;
	background-image: url(../images/prayer-timings-image.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	color:#000000;
	font-size:14px; padding:7px 20px 0 0px;
    border-bottom: 1px solid #fff;
}
.prayer-timing-div span{ float:left; margin-left:20px;}

.current-whether-title-div {
width: 192px;
height: 27px;
float: left;
background-attachment: scroll;
background-image: url(../images/current-whether-title-image.jpg);
background-repeat: no-repeat;
background-position: left top;
color: #000000;
font-size: 16px;
padding: 7px 0 0 20px;
}

.current-whether-div {
width: 192px;
height: 27px;
float: left;
background-attachment: scroll;
background-image: url(../images/current-whether--image.jpg);
background-repeat: no-repeat;
background-position: left top;
color: #9f000b;
font-size: 16px;
padding: 7px 0 0 20px;
}

.content-left-box-txt-menu {
position: absolute;
bottom: 0;
z-index: 100;
width: 210px;
height: 38px;
background-color: rgba(255,255,255,0.60);
}

.current-whether-div span {
float: right;
margin-right: 20px;
}

.tour_operators_page_height {
	height:730px!important;
	}
	
.punctuation-div{ width:947px; height:26px; float:left; background-color:#e0d8c3; padding:1px; margin:27px 0 17px 14px;}
.punctuation-div-inner{
	width:885px;
	height:24px;
	float:left;
	background-color:#ece9da;
	border:1px solid #FFF;
	color:#9f000b;
	font-size:12px;
	font-family:Tahoma, Geneva, sans-serif;
	line-height:25px;
	padding-left:60px;
	background-attachment: scroll;
	background-image: url(../images/punctuation-ico.png);
	background-repeat: no-repeat;
	background-position: left center;
	direction:rtl;
}

.breadcrumb-div{ 
	width:949px; 
	height:auto; 
	float:left; 
	margin:0 0 10px 0;
	font-size:12px;
	font-family:Tahoma, Geneva, sans-serif;
	line-height:20px;
	color:#9f000b;
	direction:rtl;
	}
.breadcrumb-div a{ color:#baa367; text-decoration:none;}
.breadcrumb-div a:hover{ color:#464646; text-decoration:none;}
.breadcrumb-div span{
	margin-right:12px;
	padding-right:17px;
	background-attachment: scroll;
	background-image: url(../images/breadcrumb-arrow.png);
	background-repeat: no-repeat;
	background-position: right center;
}	


.whatsapp-div{
	width:911px;
	height:50px;
	float:right;
	margin:37px 0 27px 0;
	background-attachment: scroll;
	background-image: url(../images/whatsapp-background-image.jpg);
	background-repeat: no-repeat;
	background-position: left top; padding:100px 39px 0 0px;
	font-family:Tahoma, Geneva, sans-serif; font-size:16px; color:#000;
	direction:rtl;
}
.textbox-label{ width:500px; height:32px; float:right; padding-top:6px;}
.texbox-div{
	width:46px;
	height:38px;
	float:right;
	margin:0 0 0 40px;
	background-attachment: scroll;
	background-image: url(../images/text-box-background.png);
	background-repeat: no-repeat;
	background-position: left center;
}
.whatsapp-txtbox{ width:300px; height:33px; float:right; font-size:14px; background: #fff; line-height:18px; color:#bfa773; padding-right:10px;font-family:Tahoma, Geneva, sans-serif; border:1px solid !important; background-color:transparent;}
.whatsapp-txtbox01{ width:200px; height:33px; float:right; font-size:14px; background: #fff; line-height:18px; color:#bfa773; padding-right:10px;font-family:Tahoma, Geneva, sans-serif; border:1px solid !important; background-color:transparent;}
.whatsapp-btn{float:left; background:url(../images/whatsapp-btn.png) no-repeat; width:49px; height:33px; border:0px !important; margin:1px 4px 0 0;}


.gallery{width:949px; height:auto; float:right; margin-top:10px; margin-left:14px;}
.gallery img{ margin-bottom:19px;
  .facebook {
 background:url(../images/facebook.png) top no-repeat;
 width:19px;
 height:18px;
 margin:5px 0 0 0
 }
 
.facebook:hover {
 background-position:bottom;
 }
}
.gallery-div{ width:223px; height:auto; margin-right:19px; float:left;}
.gallery-div-end{ margin:0px !important;}
.facebook {
 background:url(../images/facebook.png) top no-repeat;
 width:19px;
 height:18px;
 margin:5px 0 0 0
 }
 
.facebook:hover {
 background-position:bottom;
 }
#vidsCont ul li a img.play-btn {
    width: 19%;
    position: absolute;
    margin: 17% 36%;
}
#vidsCont ul li {
    position: relative;
}
.icon-wrap{
    width: 110px;
    display: inline-block;
    float: right;
}
.icon-wrap img{
    margin-left: 0 !important;
}
.tour-operators-log{
    /*float: left;*/
}
.jcarousel-item a {
    color: #c0a874;
}
.uniform-h2-wrap h2 {
    width: 100% !important;
}



.content-middle-box-round-corner { 
/*width: 600px;*/
width: 100%;
background: url(images/bgprayer.jpg) bottom left no-repeat;
height: auto;
margin-bottom: 17px;
float:left;
font-family:Tahoma, Geneva, sans-serif;
direction:rtl; /*margin-left:88px;*/
}
.prayer-timing-title-div-page{
	width: 97.1%;
	/*width:580px;*/
	height:30px;
	float:right;
	background-attachment: scroll;
	background-image: url(../images/prayer-timings-title-image-page.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	color:#c3ad7b;
	font-size:16px; padding:7px 20px 0 0px;
	
}
.prayer-timing-div-page{
	width: 97.1%;
	/*width:580px;*/
	height:22px;
	float:right;
	/*background-attachment: scroll;
	background-image: url(../images/prayer-timings-image-page.jpg);
	background-repeat: no-repeat;
	background-position: left top;*/
	background-color: rgba(252,232,151, .5);
	color:#000000;
	font-size:14px; padding:10px 20px 10px 0;
    border-bottom: 1px solid #fff !important;
	transition: all 300ms;
	-webkit-transition: all 300ms;
}
.prayer-timing-div-page.odd{
	background-color: rgba(223,197,90, .5);
	border: none;
}
.prayer-timing-div-page:hover {
	background-color: rgba(255,245,205,.5) !important;
}
.prayer-timing-div-page span{ float:left; margin-left:20px;}
.prayer-timing-div-page span.time-title { float: right; margin: 0;}