.content-right{ float: none !important; width: 100% !important; margin: 0;}
.video_top{background: none;}
#list_videos{background: none; width: 100%; padding: 0;}
#vidsCont{width:100%;}
.carousel ul{text-align: center;}
.carousel ul li{float: none; display: inline-block; margin: 0 3px 8px 3px; vertical-align: top;}
.video_bottom{background: none;}
.player-wrap{width: 90%;}
.player-wrap {
    width: 91%;
    margin: 0 auto;
}
div.single_middle h2{ width: 91%;   margin: 0 auto 15px auto;}
.carousel li a>span{display: inline-block !important; max-height: 28px;  overflow: hidden;}
.more_videos a {  margin-left: auto;  display: block;  margin-right: auto;  background: url(../images/morevideo.png) no-repeat;  width: 22%;  height: 70px;  text-align: center;  padding: 20px 0; color: #BC8545 !important;  font-size: 17px !important;  font-weight: bold; }