@charset "utf-8";
/* CSS Document */
body { direction:rtl; background:url(../images/14369547131.jpg) center fixed; background-size:auto 100%;}

 @font-face {
    font-family: "DancingScript";
	src:url('../fonts/DancingScript.ttf')
   format('OpenType');
			 }
h1,.h1{font-size:36px}
 h2,.h2{font-size:24px; color:#fff;font-family:'Century Gothic'; font-weight:bold; text-transform:uppercase; border-bottom:1px solid #919292; float:right; width:auto; padding-bottom:7px; margin-bottom:15px; margin-top:0}
 .span-text {font-size:24px;  font-weight:normal; text-transform:uppercase; color:#c18028}
 h3,.h3{font-size:24px}
 h4,.h4{font-size:18px}
 h5,.h5{font-size:14px}
 h6,.h6{font-size:12px}
 p{margin:0 0 15px; font-size:15px;font-family: 'open_sansregular'; color:#FFF; line-height:18px;}
 .lead{margin-bottom:20px;font-size:16px;font-weight:300;line-height:1.4}			 
.container-fluid { float:left; width:80%;position:absolute; left:0; right:0; bottom:0; margin:auto; z-index:999;}
.left-nav { float:left; width:300px; min-height:900px;background-color: rgba(0, 0, 0, 0.8);background: rgba(0, 0, 0, 0.8); border-top-left-radius: 50em; border-top-right-radius: 50em;top:0;}
.brand { margin-top:100px; margin-bottom:15px;}
ul.navigation { float:left; width:100%; padding:0; list-style:none;}
ul.navigation li { float:left; width:100%; text-align:center; margin-bottom:5px;}
ul.navigation li a {text-align:center; color:#fff; font-size:18px; font-family:'Century Gothic'; text-decoration:none; outline:none;}
ul.navigation li a:hover { color:#c18028;}
ul.navigation li a.active { color:#c18028; font-weight:bold;}
.social-link { float:left; width:300px; margin-top:50px; color:#0CC}
ul.social-media { float:left; width:300px; padding:0 0 0 40px; list-style:none; margin-bottom:20px;}
ul.social-media li a { width:49px; float:left; height:49px;/* border:1px solid #c18028;*/ border-radius:50%;   background: url(../images/facebook.png)  no-repeat; margin-left:20px;
display: inline-block;position: relative;-webkit-transition-duration: 0.3s;transition-duration: 0.3s;
  -webkit-transition-property: transform;transition-property: transform;-webkit-transform: translateZ(0);transform: translateZ(0);}
ul.social-media li a.twiter {background:url(../images/twitter.png) 0 0 no-repeat;}
ul.social-media li a.printers {background:url(../images/printers.png) 0 0 no-repeat;}
ul.social-media li a:hover {-webkit-transform: translateY(-5px);transform: translateY(-5px); /* move the element up by 5px */}
.qute-box { float:left; width:280px; margin-left:10px; background-image:url(../images/qute_ar.png), url(../images/uncote_ar.png); background-repeat:no-repeat, no-repeat; background-position:94% 0, 8% 70%; min-height:150px; padding-left:20px; padding-right:20px; margin-bottom:50px;}
.qute-box p { font-size:26px; color:#fff;font-family: "DancingScript"; text-align:center; line-height:37px;}
.right-content { float:left; width:800px; margin-left:30px; margin-top:17%;}
.peding-40px { padding:30px 15px;}
.peding-30px { padding:30px 15px;}
.border-left-1px { border-right:1px solid #919292}
.vertical-center-img { margin:0% auto 0; width:100%;}
.vertical-center-img1 { margin:0% 0 0;}
.orange-text { color:#c18028; font-size:18px; line-height:24px;}
.gallery-box { width:1208px!important; min-height:1000px!important; left:10%; }
.gallery-tham-box { float:left; width:100%; background:#fff9ec; margin-bottom:25px; border-radius:15px; padding:15px;}
.peding-left-right { padding-left:10px!important; padding-right:10px!important;}
.font-14px { font-size:14px;}
.peding-left-none { padding-left:15!important; padding-right:0px!important}
.peding-right-none { padding-right:15!important;padding-left:0px!important}
.peding-none { padding:0!important;}
.submit-btn { float:left; padding:7px 0px; width:100%; background:#c18029; font-size:16px; color:#fff; font-family: 'open_sansregular'; border:0;  margin-top:26px;}
.peding-left-right15px { padding-left:10px; padding-right:10px;}
ul.pagination { width:auto; float:left; list-style:none; padding:0; margin-top:25px;  margin-left: 290px;}
ul.pagination li { float:left;}
ul.pagination li a { float:left; width:39px; height:35px; text-align:center; line-height:23px; color:#fff; border:0; font-size:16px;font-family: 'open_sansregular';margin-left:5px;background-color: rgba(0, 0, 0, 0.8);
  background: rgba(0, 0, 0, 0.8);}
ul.pagination li a:hover { text-decoration:none; color:#fff; background:#ceb280;}
ul.pagination li a.active { text-decoration:none; color:#fff; background:#ceb280;}
.addTOCartConfirmOverLay{  width: 100%;  height: 100%;  position: fixed;  top: 0;  left: 0;  background: url('ie.png');  background: -moz-linear-gradient(rgba(11,11,11,0.1), rgba(11,11,11,0.6)) repeat-x rgba(11,11,11,0.2);  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(11,11,11,0.1)), to(rgba(11,11,11,0.6))) repeat-x rgba(11,11,11,0.2);  z-index: 100000; display: none; }
.addTOCartConfirmPopup{ background: url('../images/popup_bg.jpg') repeat-x left bottom #e5e5e5;  width: 460px;  position: fixed;  left: 50%;  top: 50%;  margin: -130px 0 0 -230px;  border: 1px solid rgba(33, 33, 33, 0.6);  -moz-box-shadow: 0 0 2px rgba(255, 255, 255, 0.6) inset;  -webkit-box-shadow: 0 0 2px rgba(255, 255, 255, 0.6) inset;  box-shadow: 0 0 2px rgba(255, 255, 255, 0.6) inset;  -moz-border-radius: 10px;  -webkit-border-radius: 10px;}
.addTOCartConfirmPopup p {
    background: none;
    font-size: 16px;
    line-height: 1.4;
    padding-top: 35px;
}
.addTOCartConfirmPopup h1, .addTOCartConfirmPopup p {
    font-family: Arial, Helvetica, sans-serif;
    font: 26px/1 Arial, Helvetica, sans-serif;
    background: url('../images/header_bg.jpg') repeat-x left bottom #f5f5f5;
    padding: 18px 25px;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.6);
    color: #666;
}
.addTOCartConfirmPopup {
    padding: 15px 0 25px;
    text-align: center;
}
.addTOCartConfirmPopup .blue {
    background-position: left top;
    text-shadow: 1px 1px 0 #5889a2;
}
.addTOCartConfirmPopup .button {
    display: inline-block;
    background: url('../images/buttons.png') no-repeat;
    color: white;
    position: relative;
    height: 33px;
    font: 15px/31px 'Cuprum','Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 15px;
    padding: 0 35px 0 35px;
    text-decoration: none;
    border: none;
	width:200px;
}
.addTOCartConfirmPopup .gray {
    background-position: -200px top;
    text-shadow: 1px 1px 0 #707070;
}
.showResult{ display: none; }
.cart-wrap {
   
    color: #fff;
    /*overflow: scroll;
    height: 65vh;*/
}
.cart-wrap input.cart-quantity{ width:50px; background-color: #000;
  border: 1px solid #c18028;}
.contact-form2 label, .contact-form2 input, .contact-form2 textarea { float: right; }
.contact-form2 label{ float: left; width: 8%;  padding-left: 1%; }
.textbox-wrap {  display: inline-block;  width: 100%;  padding: 5px;  }
.contact-form2 .textbox-wrap textarea{ width: 100%; }
.contact-form2 .textbox-wrap textarea {  width: 94%;  height: 60px;  }
.button-wrap input.button {  background:#c18028; padding:5px 10px; color:#fff; border:0px; margin:0 0px 0 10px;  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;  }
.contact-form2 {  padding-top: 20px;  }
.cart-content table th {  text-align: center;  }
.cart-message {   color: #fff;  text-align: center;  padding: 56px;  border-radius: 6px;  font-family: 'Century Gothic';  }
.error-input{  border: 1px solid red !important;  }
.error{ color: red; font-size: 12px;}