 @font-face {
    font-family: "DancingScript";
	src:url('../fonts/DancingScript.ttf')
   format('OpenType');
			 }

body{
	overflow-y: scroll;
	overflow-x: hidden;
	direction:rtl;
}
.ie7 body{
	overflow:hidden;
}

.container{
	position: relative;
	text-align: center;
}

.container > header{
	margin:auto;
	display: block;
	width:980px;

}

img { outline:0; border:0;}

.arit1 { font-weight:bold;}	
.arit2 { font-weight:bold; font-size:15px;}	
.arit3 { font-size:13px;}	
.leftboxmain {
  float: left;
  width: 300px;
  /* min-height: 3500px; */
  position: fixed;
  /* max-height: 100%; */
  right: 5%;
  background-color: rgba(0, 0, 0, 0.8);
  background: rgba(0, 0, 0, 0.8);
  border-top-left-radius: 50em;
  border-top-right-radius: 50em;
  margin-top: 100px;
  bottom: 0;
  padding-bottom: 20px;
}
	
.leftboxmain img {
	float:left;
		margin:100px 0 20px 0;
		}
		
		
.footerBox {
	width:100%;
	background:#FFF;
	height:64px;
	position: fixed;
    bottom: 0px;
    margin-right: auto;
    margin-left: auto;
	z-index:999999999999;
	
	}	
	
.sociallink {
	float:right;
	position:absolute;
	right:3%;
}	
	
.sociallink a img {
	float:right;
	margin:20px 5px 0 0;
	}
	
.sociallink a img:hover {
	opacity:0.7;
filter:alpha(opacity=70); /* For IE8 and earlier */
}	
	
	
.footerBoxSmall {
	margin:0 0 0 100px;
	width:980px;
	}
	
	
#map {
	width:90%;
	height:330px;
	float:left;
	margin:0 0 0px 30px;
}

.gm-style .gm-style-iw {
font-weight: 300;
font-size: 13px;
color: #000;
}
		
	
.footerBoxSmall p {
	float:left;
	font-size:11px;
	color:#BDBDBD;
	font-family:Helvetica, Arial, sans-serif;
	margin:15px 0 0 0;
	text-align:left;
	line-height:17px;
	}	
	
	
.footerBoxSmall p a {
	font-size:11px;
	color:#BDBDBD;
	font-family:Helvetica, Arial, sans-serif;
	text-align:left;
	text-decoration:none;
	}	
	
.footerBoxSmall p a:hover {
	text-decoration:underline;
	}
	
	


.clear {
	clear:both;}
	
.mainslicder {
	margin:auto; right:0; left:0px;
	width:100%;
	height:100%;
	position:fixed;
	z-index:-99999999999999!important;
	}	
	
.logolist {
	float:left;
	width:640px;
	margin:0 0 0 -10px;
	z-index:99999999999999!important;
	}
	
.logolist ul {
	list-style:none;
	width:640px;
	margin:20px 0 30px 0;
	float:left;
	}
	
.logolist ul li {
	width:200px;
	float:left;
	margin:0 0 15px 18px;
	font-size: 14px;
font-family: "Gafata";
text-align: left;
color: #DADADA;
line-height:20px;
	}	
.logo_img{display:none;}	
.logo_img > img, .left_logo_img >img
{
	border:none !important;
	margin-left:100px;
}
/*#book
	{
		min-height:700px;
	}*/
#explore
	{
		min-height:560px;
	}	
	
	
.treadmark {line-height:0px;
font-size: 12px!important;
margin:-10px 0 20px 0px!important;
font-family: "Gafata";
text-align: left;
color: #DADADA;
padding:0!important;
width:100%!important;
}	


.iconnewwindwo { float:left; margin:3px 7px 0 0}
.topmrn{ margin:0px 0 100px 0!important;}
	
.italicline { font-style:italic;}	
@media (min-width: 1600px) {
	#aboutus, #explore, #book, #media, #contact{right:26%!important;}
	#about_id{min-height:442px;}
}
@media (max-width: 1400px) and (min-width: 960px) {
	#explore
	{
		min-height:560px;
	}
	/*#book
	{
		min-height:700px;
	}*/
#about_id{max-height:350px;}
ul.social-media li a {
  width: 40px;
  float: left;
  height: 40px;
  /* border: 1px solid #c18028; */
  /* border-radius: 50%; */
  background: url(../images/facebook.png) no-repeat;
  margin-left: 20px;
  display: inline-block;
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  background-size: 100% auto;
}
ul.social-media li a.twiter {
	background-size: 100% auto;
}
ul.social-media li a.printers {
  background-size: 100% auto;
}
#masthead ul li a{font-size:15px!important;}
.social-link {
	margin-top:20px;
}
.qute-box {
  background-position: 94% 0, 20% 80%;
  /* height: 150px; */
  height:auto; width:auto; margin-right:10px;
  margin-bottom: 20px; min-height:inherit;
}
.qute-box p {
  font-size: 20px;
  line-height: 24px;
}
.logo_img > img, .left_logo_img >img {
  margin-left: 80px;
}
.leftboxmain{
width:260px;
}
#masthead, .social-link, #masthead ul, #masthead ul li {width:100%!important;}
ul.social-media {padding-left:30px;}

.leftboxmain img{margin-top:50px;}
#aboutus, #explore, #book, #media, #contact{/*right:40%!important;*/ left:5%; width:auto!important; margin:40px 0 0!important}
#contact form .col-md-2{float:left}

}
@media (max-width: 1700px) and (min-width: 1400px) {
.captchabox_main{width:65%!important;}
.captchabox{width:45%!important;}
}
@media (max-width: 1400px) and (min-width: 960px) {
.captchabox_main{width:75%!important;}
.captchabox{width:45%!important;}
#change-image{left:-22%!important}
}
/*@media (max-width: 960px) {

	

.leftboxmain {display:none;}
.navbar{display:block !important;}
.navbar-toggle{display:block !important;}
.logo_img{display:block;text-align:center;margin-left:auto;margin-right:auto;height:0;}
.logo_img > img{margin-top:8px;}
.mainslicder{margin-top:0px;}

@-moz-document url-prefix() {
                       .mainslicder{margin-top:53px;}
                    }
}
@media (max-width:850px) {
.leftboxmain {display:none;}
.navbar{display:block !important;}
.navbar-toggle{display:block !important;}
.logo_img{display:block;}
}*/
@media (max-width:960px) {
.peding-right-none{padding-left:0!important}	
.leftboxmain {display:none;}
.navbar{display:block !important;}
.navbar-toggle{display:block !important;}
.responBox { width:700px; margin:auto; }
#aboutus, #explore, #book, #media, #contact { display:none; margin:auto!important; /*position:static;*/ top: 120px; /*left:0;*/ margin-top: 0; /*margin-left:-500px;*/
}
.logo_img{display:block;text-align:center;margin-left:auto;margin-right:auto;}
.vertical-center-img{margin-top:15px;}	
.navbar-nav{margin:7px 0; padding:0px;}
html {overflow:visible}	
.navbar-collapse {position:relative; z-index:9}
.navbar-default .navbar-nav > li > a{text-align:right!important}
body{  overflow-y: scroll!important;}
}
@media (max-width:799px) {
	.logo_img{display:block;text-align:left;margin-right:20px;float: right;
  width: 40px;}
  .navbar-toggle{float:left!important; margin-left:15px!important;}
  .logo_img img{width:100%;}
  .navbar-default {background:none!important; border:none!important}
  .cart_div{display:none}
  .navbar-collapse{background:#000}
  .cart_div_language{top:50px!important; left:0!important; z-index:9969}
  .mainslicder{display:none!important}
}
@media (max-width: 600px) {
.contact-form2 label, .contact-form2 input, .contact-form2 textarea {
  float: left;
  width: 94%;
  margin-bottom: 5px;
}
.button-wrap input.button{margin-bottom:5px}	
.hide_m{display:none!important}	
	
}
@media (max-width: 500px) {
.footerBoxSmall {
margin: 0 0 0 3px;
font-size:9px!important;
}

.sociallink {
	right:1%
}
.sociallink a img {
float: right;
margin: 20px 3px 0 0;
}
}
#viewcart-nav1{border-left:2px solid #333; padding:15px 24px 5px 10px;}
.lang_div{float:left; margin-right:10px; text-align:right; background:#c18028; border-radius:15px; padding-right:10px; margin-top:13px; color:#fff; font-size:14px;}
.lang_div a{float:left!important; margin-right:10px; background:#333;border-radius:15px 0 0 15px; padding:0 10px;}
.lang_div a:hover{background:#c18028; text-decoration:none}
.cart_div{position:fixed; top:50px; left:0px; background:#000; float:left;  font-size:16px; font-weight:normal; line-height:25px; padding:5px 10px 5px 5px; border-radius:0px 30px 30px 0; overflow:hidden;-webkit-transition: 0.5s; /* Safari */
    -webkit-transition-timing-function: linear; /* Safari */
    transition: 0.5s;cursor:pointer;
    transition-timing-function: linear; }
.cart_div_language{position:fixed; top:90px; left:-58px; background:#000; float:left;  font-size:16px; font-weight:normal; line-height:20px; padding:5px 10px 5px 5px; border-radius:0px 5px 5px 0; overflow:hidden;-webkit-transition: 0.5s; /* Safari */
    -webkit-transition-timing-function: linear; /* Safari */
    transition: 0.5s;cursor:pointer;
    transition-timing-function: linear; }
.cart_div:hover, .cart_div_language:hover{left:0; }	
.cart_div img, .cart_div_language img{float:right; margin-left:5px;}
.cart_div a, .cart_div_language a{float:right;cursor:pointer;}
.cart_div label, .cart_div_language label{margin:0;font-weight:normal;cursor:pointer; }
a title {display: none !important;}
.productQuantity{border:1px solid #ccc;  color:#999; margin-top:5px; }
.addToCartButton{background:#c18028; color:#fff; border:1px solid #ccc;margin-top:5px; margin-left:3px}
.lb-number, #cboxCurrent, .carousel-control{display:none!important}
#submitCartForm table{background:#000;}
#submitCartForm table th{background:#c18028;}
#submitCartForm table th, #submitCartForm table td{border:1px solid #c18028; text-align:center; padding:5px;}
.input_text{width:30%; border:1px solid #fff; float:right; height:30px; margin-bottom:0px; padding:0 5px; margin-left:2%;  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;color:#c18028}
.input_text2{width:46%; float:right; height:30px; margin-bottom:15px;padding:0 5px;}
.input_text1{width:99%; float:left;height:30px;margin-bottom:15px;padding:0 5px;}
.input_text3{width:99%; float:left;margin-bottom:0px;padding:0 5px;  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;border:1px solid #fff;color:#c18028}
.contact-form2{float:right; width:100%; max-width:700px;}
.button{background:#c18028; padding:5px 10px; color:#fff; border:0px;}
.cart_qty{
  background: #c18028;
  padding: 3px;
  font-size: 14px;
  color: #fff;
  position: absolute;
  right: 15px;
  top: 6px;
  border-radius: 10px;
  float: left;
  line-height: 14px;
  min-width: 21px;
  text-align: center;
}
.captchabox {
	padding-left: 0 !important; 
}

#captcha {
	  margin-right: -23px;
    margin-top: 27px; 	
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.form-control {
	background: #fff;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
.submit-btn{	
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
#captcha-form {
	-webkit-border-top-left-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	-moz-border-radius-topleft: 0;
	-moz-border-radius-bottomleft: 0;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
ul.social-media li a {
	outline: none;
}

#change-image{
  cursor: pointer;
  display: inline-block;
  float: right;
  left: -10px;
  margin: 35px 0 0;
  position: relative;
}
.submit_div{margin-right:18px;}
.nicescroll-rails{opacity:1!important; margin-left:-20px;}