  body * {
    /*visibility:hidden;*/
	background: white;
          color: black;
	
  }
  #print_area{visibility:visible;}
  #print_area * {
    visibility:visible;
  }

.tbl_tyle{border:1px #ccc solid; background:#fff; color:#000; width:500px;}
.tbl_tyle td{border:1px #ccc solid; padding:3px 5px 3px 5px; color:#000; }
.tbl_tyle th{border:1px #ccc solid; padding:3px 5px 3px 5px; color:#000; text-align:left; }
.tbl_tyle .td_title{width:250px;}
.tbl_tyle .td_value{width:300px;}