@charset "utf-8";
/*
.container1{ background:#FFFFFF; border:solid 2px; border-color:#ccc; height:1400px; width:99%;margin-right: auto; margin-left: auto;}

#header_panel_wrapper{float:left;padding:10px 10px 0px 10px; width:98%;}
.header_panel{float:left;border:solid 1px; border-color:#ccc; height:140px; width:100%;
background: url(../images/gradient_header.jpg) repeat-y left top;
}

#left_panel_wrapper{float:left;padding:10px 0px 0px 10px; width:18%;}
.left_panel{float:left;border:solid 1px; border-color:#ccc; height:1200px; width:100%;}

#right_panel_wrapper{float:left;padding:10px 10px 0px 0px;font-family: Verdana, Arial, Helvetica, sans-serif;font-size:12px; 
width:78%;}

.right_panel{float:left;border:solid 1px; border-color:#ccc; height:1200px; width:100%; padding-top:0px;}


.a_header{ text-decoration:none; color:#FFFFFF;}
.a_header:hover{color:#FFFFFF;}



h1{
       font: bold 14px Verdana, Arial, Helvetica, sans-serif;
	   padding:10px;
	   color:#006699;
	   font-size:18px;
	   font-weight:bold;
           text-align:left;
		   line-height:normal;
}

h2 {
        font: bold 14px Verdana, Arial, Helvetica, sans-serif;
        color: #000;
        margin: 0px;
        padding: 0px 0px 0px 15px;
}
*/

ul {
        list-style: none;
        margin: 0;
        padding: 0;
        }

img {
    border: none;
}

textarea {
border: 1px solid #CCC;
font-family:Verdana, Arial, Helvetica, sans-serif;
color:#666666;
font-size: 12px;
width:200px;
}
input{
border: 1px solid #CCC;
font-family:Verdana, Arial, Helvetica, sans-serif;
color:#666666;
font-size: 12px;
}
.input_class{
border: 1px solid #CCC;
font-family:Verdana, Arial, Helvetica, sans-serif;
color:#666666;
font-size: 12px;
width:200px;
}

select{
border: 1px solid #CCC;
font-family:Verdana, Arial, Helvetica, sans-serif;
color:#666666;
font-size: 12px;
width:200px;
}

a{ text-decoration:none; color:#057FAC}

input:focus {
border:1px solid #006699;
}


textarea:focus {
border:1px solid #006699;
}

.button_cls {
    border: 1px solid #3D586A;
    background: #9cf;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#4D4D4D;
	
}


/*

.input_form
{
clear:both;
float:left;
width:100%;
text-align:left;
background:#DFEEF9;

}


.cls_sort{
vertical-align:middle; padding:2px;
}



.input_field_row
{
width:100%;
height:20px;
margin-top:5px;


background-color:#D7EBFF;

}

.input_field_row_hide
{
 display:none;
}

.input_title
{
float:left;width:41%; height:20px; text-align:left; padding-left:3%;padding-top:2px;
}
.input_field
{
float:left;width:55%; height:20px; text-align:left;padding-top:2px;
}








.input_field_row_text_area
{
width:100%;
padding-top:5px;
background-color:#DFEEF9;

}

.input_field_row_text_area_2
{
width:100%;
height:100px;
margin-top:5px;
background-color:#DFEEF9;
}


#input_field_text_area
{
clear:left;
float:left; padding-bottom:30px; text-align:left; padding-left:50px;
}

.input_field_text_area_2
{
float:left; height:100px; text-align:left;
}



#input_field_text_area select
{
font-family:Verdana, Arial, Helvetica, sans-serif;
color:#666666;
font-size: 12px;
width: 150px;
}

*/



#error_div {

	padding:5px 20px 5px 20px;
	margin-left:30px;
	font-weight:bold; font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	text-align:center;
	
	background:#f2f2f2;
	color:#3366cc;
	
	border:1px solid #ccc;
	width:95%px;
	cursor:pointer !important;
	-moz-border-radius:5px; -webkit-border-radius:5px;
	display:none;
}




#overlay{ position: absolute; top: 0; left: 0; z-index: 90; width: 100%; height: 500px; background-color: #fff; }


#error_msg
{
clear:both;width:95%;text-align: center;font-family:Arial, Helvetica, sans-serif;font-size:12px;color:#CC0000;
}


/*************************    file upload  **************/

#upload,#upload_main,#upload_floor_plan,#upload_location_map,#upload_brochure{
	/*margin:30px 200px;*/
	margin-bottom:10px;
	padding:8px;
	font-weight:bold; font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	text-align:center;
	background:#f2f2f2;
	color:#3366cc;
	border:1px solid #ccc;
	width:150px;
	cursor:pointer !important;
	-moz-border-radius:5px; -webkit-border-radius:5px;
}


.darkbg{
	background:#ddd !important;
}
#status,#status_main,#status_floor_plan,#status_location_map,#status_brochure,#location_map_files,#brochure_files{
	font-family:Arial, Helvetica, sans-serif; font-size:10px; color:#CC3333;
        padding:5px;
}

ul#files,ul#files_main,ul#floor_plan_files,ul#location_map_files,ul#brochure_files{ list-style:none; padding:0; margin:0; text-align:center; }
ul#files li,ul#files_main li,ul#floor_plan_files li,ul#location_map_files li,ul#brochure_files li{ padding:10px; margin-bottom:2px;  float:left; margin-right:10px;}

ul#files li img,ul#files_main li img,ul#floor_plan_files li img,ul#location_map_files li img,ul#brochure_files li img{ width:65px; height:60px; }


.success{ background:#A8D5F5; border:1px solid #339933; }
.error{ background:#f0c6c3; border:1px solid #cc6622; }




/*************************    file upload ens here  **************/










/****************  tooltip ends here ****************/




/*- Menu 10--------------------------- */

#menu {

clear:both;
float:left;
        width:200px;
        
        margin:10px;
        font-family:Verdana, Arial, Helvetica, sans-serif;
        font-size:14px;
        font-weight:bold;
		text-align:justify;
		/*padding-left:5%;*/

        }

#menu li a {
        height: 32px;
          voice-family: "\"}\"";
          voice-family: inherit;
          height: 24px;
        text-decoration: none;
        }

#menu li a:link, #menu li a:visited {
        color: #4D4D4D;
        display: block;
        background:  url(../images/menu.gif);
        padding: 8px 0 0 10px;
        }


#menu li a:hover, #menu li #current {
        color: #FF9834;
        background:  url(../images/menu.gif) 0 -32px;
        padding: 8px 0 0 10px;
        }





/************** menu ends ***********/

/*
	.suggestionsBox {
		position: relative;
		left: 30px;
		margin: 10px 0px 0px 0px;
		width: 200px;
		background-color: #212427;
		-moz-border-radius: 7px;
		-webkit-border-radius: 7px;
		border: 2px solid #000;	
		color: #fff;
	}

	*/
	
		.suggestionsBox {
		position: absolute;
		left: 45%;
		margin: 10px 0px 0px 0px;
		width: 350px;
		background-color: #212427;
		-moz-border-radius: 7px;
		-webkit-border-radius: 7px;
		border: 2px solid #000;	
		color: #fff;
		z-index:100;

	}

	
	.suggestionList {
		margin: 0px;
		padding: 0px;
	}
	
	.suggestionList li {
		
		margin: 0px 0px 3px 0px;
		padding: 3px;
		cursor: pointer;
	}
	
	.suggestionList li:hover {
		background-color: #659CD8;
	}


/*        rich text box  */

.rteImage {
	background: #D3D3D3;
	border: 1px solid #D3D3D3;
	cursor: pointer;
	cursor: hand;
}

.rteImageRaised, .rteImage:hover {
	background: #D3D3D3;
	border: 1px outset;
	cursor: pointer;
	cursor: hand;
}

.rteImageLowered, .rteImage:active {
	background: #D3D3D3;
	border: 1px inset;
	cursor: pointer;
	cursor: hand;
}

.rteVertSep {
	margin: 0 4px 0 4px;
}

.rteBack {
	background: #D3D3D3;
	border: 1px outset;
	letter-spacing: 0;
	padding: 2px;
}

.rteBack tbody tr td, .rteBack tr td {
	background: #D3D3D3;
	padding: 0;
}

/*    end of rich text box */



.table_design2
{ 
width:100%;
background-color: #fafafa;
border: 1px #000000 solid;
border-collapse: collapse;
border-spacing: 0px; 
font-size:11px;
}


td.table_design2_header
{ background-color: #99CCCC;
border: 1px #000000 solid;
font-size: 12px;
color: #404040; }


td.table_design2_data
{ 
border: 1px #CCC solid;
text-align: left;
color: #404040;
background-color: #fafafa;
padding-top: 4px;
padding-bottom: 4px;
padding-left: 8px;
padding-right: 0px; 
}




#PopupTopHandle {

	position:relative;
	clear:both;
	background: #A9A8A8;
	border:2px #020F8A outset;
	padding:0px;
	font-weight:bold;
	color:#ffffff;

}

#PopupTopTitle {
	height:18px;
	margin-top:2px;
	margin-left:12px;
	
}

#PopupTopButtons {
	position:absolute;
	right:4px;
	top:2px;
}

#PopupContent {
	border:2px #E1DAFC outset;	
	border-top:0px #ffffff inset;	
	/*background-color:#FFFFFF;*/
	background-color:#DFEEF9;
	padding:10px 10px 10px 10px;
	text-align:justify;
}


.black_overlay{
			display: none;
			position: absolute;
			top: 0%;
			left: 0%;
			/*width: 100%;*/
			/*height: 100%;*/
			width: 100%;
			/*height: 100%;*/
			height:1350px;
			background-color: white;
			z-index:1001;
			-moz-opacity: 0.8;
			opacity:.80;
			filter: alpha(opacity=80);
		}

.white_content {
			display: none;
			position: absolute;
			/*top: 25%;
			left: 35%;*/
			/*width: 500px;*/
			/*height: 50%;*/
			/*padding: 16px;*/
			/*border: 14px solid #ccc;*/
			/*background-color: white;*/
			z-index:1002;
			overflow: auto;
		}


.pgnation_sel{font-size:14px;font-weight:bold; color:#999999;padding:3px; border:1px #ccc solid;}
.pgnation{padding:3px; border:1px #ccc solid;}
.pgnation:hover{ background-color:#E5F1F4}




#copyright{ clear: both;margin-top:3px; font-size:10px; color:#CCCCCC;}
