#triggers{width:auto;margin:20px auto;background:transparent;height:16px;font-size:12px;}
#triggers ul{height:16px;line-height:16px;}
#triggers ul li{display:inline;text-align:center;}
#triggers ul li a,#triggers ul li a:visited{background:#efd;border:1px solid #cfa;padding:5px;display:block;text-decoration:none;float:left;color:#592;}
#triggers ul li a:hover{background:#9f6;}
#calendar table tr td { padding: 5px;}
table{border-spacing:3;}
.monthly{width:670px;font-size:12px;margin-top:10px;margin-right:10px;border-left:0px dotted #ccc;float:left;padding:0;}
caption.cMonth{background:none repeat scroll 0 0 #fff;font-family:tahoma;font-size:14px;font-weight:700;height:25px;text-align:right;width:670px; color:#C7A317; direction:rtl; padding-right:10px; }
.hMonth{background:none repeat scroll 0 0 #fff;color:#C7A317;font-family: Arial, Helvetica, sans-serif;font-size:14px;font-style:normal;font-weight:700;height:18px;text-align:right; font-weight:bold;}

th{margin-bottom:10px; }
td p{display:block;margin:0; padding-bottom:3px; padding-top:3px;}
td a{  text-decoration:none; font-family:Arial, Helvetica, sans-serif; }
.cDate{font-family: Arial, Helvetica, sans-serif;text-align:left;display:block; color:#959BBB;  font-size:12px;}
.cDate_highlight{font-family: Arial, Helvetica, sans-serif;text-align:left;display:block; color:#ffffff;  font-size:12px; text-decoration:none;}
.hDate{color:#C7A216;font-style:normal;font-family: Arial, Helvetica, sans-serif;text-align:right;font-weight:bold;}
.hDate_highlight{color:#ffffff;font-style:normal;font-family: Arial, Helvetica, sans-serif;text-align:right;font-weight:bold; text-decoration:none;}
.hDateRed{color:#C7A216;font-weight:700;font-style:normal;font-family:Arial, Helvetica, sans-serif;;text-align:right;font-weight:bold;}
.hDateBidh{color:#C7A216;font-weight:700;font-style:normal;font-family:Arial, Helvetica, sans-serif;;text-align:right; }
.calCell{width:27px;border:1px solid #ccc;padding:5px 4px; height:60px; }
.calCellEmpty{width:27px; border:1px solid #ccc;}
.iEvents{font-size:12px;padding:0;}
.iEvents td{padding-left:10px;padding-right:10px;padding-top:0;}
.iEvents caption{background-color:#ddd;text-align:center;font-weight:700;font-size:14px;font-family:Arial;border-bottom:1px solid #FFF;padding:2px;}
#calendar{float:left;width:670px; font-family: tahoma;}
#events{float:left;margin-top:10px;text-align:center;width:200px;}
#maincontent{width:800px;}
#calendar-header{text-align:center;background:url(http://js.al-habib.info/images/islamic-calendar-2011-background.jpg) #ffc no-repeat center bottom;height:100px;color:#000;}
#calendar-header h2,#calendar-header h4{font-family:Arial;}
#calendar-header h2{font-size:44px;line-height:48px;padding-bottom:10px;padding-top:5px;}
#calendar-header h4{font-size:14px;margin-top:-50px;}
.iEventsCaption{background:none repeat scroll 0 0 #FFC;border-top:2px solid #000;font-family:Arial;font-size:14px;height:36px;margin:0;padding:0 2px;}
.iEvents li{border-bottom:0px dotted;float:left;list-style:none inside none;margin:5px 0;padding-bottom:5px;width:200px;}
#notes{float:left;margin-top:10px;text-align:center;width:200px;font-size:12px;}
	    </style>  <style type="text/css" charset="utf-8">/* See license.txt for terms of usage */
/** reset styling **/

#tttop {display:block;overflow:hidden; color:#3EE1FF;  }
#ttbot {display:block;overflow:hidden;color:#3EE1FF;}
#ttcont {display:block; padding:2px 12px 3px 7px; width:185px; background-color:none; background:none;}

#tt ul{list-style-type:none; margin:0px; padding:5px; list-style:none; width:185px; height:39px; background-color:#F3DF98;float:right; direction:rtl; text-align:right;    }
#tt p{list-style-type:none; margin:0px; padding:5px; list-style:none; width:185px; height:39px; background-color:#F3DF98; float:right; direction:rtl; text-align:right;  border:1px solid #C9A216;}
#tt ul li{ padding-bottom:8px; color:#000;  }
#tt ul li span{ float:left; text-align:left;font-weight:bold; white-space:nowrap; padding-right:5px; padding-left:5px; color:#000000;}
#tt ul li span.tip_header{ float:left; font-weight:bold; padding:5px 0px 15px 0px; width:200px; color:#877535; }

.calCell1{width:27px;border-right:0px dotted #ccc;border-bottom:1px dotted #ccc;padding:0 4px; background-color:#D9AC13; color:#36280E;}

.cDayNames{color:#000;font-weight:bold; padding-left:4px; background:#C7A317;width:100px; padding:10px;  }


