.jcarousel-skin-tango .jcarousel-container {
	width:940px;
}

.jcarousel-skin-tango .jcarousel-direction-rtl {
	direction: rtl;
}

.jcarousel-skin-tango .jcarousel-container-horizontal {
    width:940px;
	z-index:9999999 !important;
	padding:0px; margin:0px 0 0 30px;
}
.jcarousel-skin-tango .jcarousel-clip-horizontal {
      width:850px;
    height:182px;
	margin:0 0 0 45px;
	

}

.jcarousel-skin-tango .jcarousel-item {
    width:115px;
    height:180px; 
	margin:27px 68px 0 0;
	float:left;
	color:#c0a874;
	font-size:13px;
	font-family: 'open_sansregular';
	text-align:center;
	
}



.jcarousel-skin-tango .jcarousel-item-horizontal:hover {

	
}



.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-item-horizontal {
	
}


.jcarousel-skin-tango .jcarousel-item-placeholder {
	display:none;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-tango .jcarousel-next-horizontal {
    position: absolute;
    top:52px;
    right: 0px;
     width:32px;
    height: 32px;
    cursor: pointer;
    background:url(../images/arrows2.png) right top no-repeat;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-next-horizontal {


}

.jcarousel-skin-tango .jcarousel-next-horizontal:hover { 
	background-position:bottom right;
}

.jcarousel-skin-tango .jcarousel-next-horizontal:active {
}

.jcarousel-skin-tango .jcarousel-next-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:active {
}

.jcarousel-skin-tango .jcarousel-prev-horizontal {
    position: absolute;
     top: 52px;
    left:0px;
    width:32px;
    height: 32px;
    cursor: pointer;
 background:url(../images/arrows2.png) left top no-repeat;}
 
 

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-prev-horizontal {
    left: auto;
    right: 5px;



}
.jcarousel-skin-tango .jcarousel-prev-horizontal:hover {
	background-position:bottom left;
}
.jcarousel-skin-tango .jcarousel-prev-horizontal:active {
}
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active {
}

