/*
 * jQuery FlexSlider v1.7
 * http://flex.madebymufffin.com
 *
 * Copyright 2011, Tyler Smith
 * Free to use under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */
 /* by firoz */
 body {
	 margin:0;
	 padding:0;
	 overflow-x:hidden;
	 }
 /* by firoz */
/* Browser Resets */
.flex-container a:active,
.flexslider a:active {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {width: 100%; margin: 0; padding: 0;}
.flexslider .slides > li {display: none; max-width: 100%; max-height:100%;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img { z-index: 1000;    
    left: 0px;
    width: 100%;
    -webkit-animation: titleAnimation 36s linear infinite 0s;
    -moz-animation: titleAnimation 36s linear infinite 0s;
    -o-animation: titleAnimation 36s linear infinite 0s;
    -ms-animation: titleAnimation 36s linear infinite 0s;
    animation: titleAnimation 36s linear infinite 0s;
	margin: 0;
	padding:0;
	
	
	}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider { position: relative; -webkit-border-radius: 5px; -moz-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; zoom: 1;}
.flexslider .slides {zoom: 1;}
.flexslider .slides > li {position: relative;}
/* Suggested container for "Slide" animation setups. Can replace this with your own, if you wish */
.flex-container {zoom: 1; position: relative;}

/* Caption style */
/* IE rgba() hack */
.flex-caption {background:none; -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000); zoom: 1;}
.flex-caption {width: 96%; padding: 2%; position: absolute; left: 0; bottom: 0; background: rgba(0,0,0,.3); color: #fff; text-shadow: 0 -1px 0 rgba(0,0,0,.3); font-size: 14px; line-height: 18px;}

/* Direction Nav */
.flex-direction-nav li a {width:52px; height:52px; margin: -13px 0 0; display:none; background: url(file:///D|/SZGMC/Website/css/theme/bg_direction_nav.png) no-repeat 0 0; position: absolute; top:40%; cursor: pointer; text-indent: -9999px; z-index:999;}
.flex-direction-nav li a.next {background-position: -52px 0; right: 10%;  outline:none;}
.flex-direction-nav li a.prev {background-position: 0 0; left: 10%;   outline:none;}
.flex-direction-nav li a.disabled {opacity: .3; filter:alpha(opacity=30); cursor: default;}

.flex-direction-nav li a:hover {opacity:0.4;
filter:alpha(opacity=40); /* For IE8 and earlier */  outline:none;}

/* by firoz start 11 / 28 / 14 */
.flex-control-nav {	
	width:668px; 
	position: absolute; 
	bottom:1.5%; 
	height:30px; 
	background-color: rgba(0, 0, 0, 0.9);
	background: rgba(0, 0, 0, 0.9);
	text-align:left; 
	z-index:0;
	padding:0 0 0 20px;
	}

/* by firoz start end 11 / 28 / 14 */
.flex-control-nav li { 
	display: inline-block; 
	zoom: 1; 
	*display: inline; 
	margin:10px 0px 0 5px;
	}
	
.flex-control-nav li:first-child {
		margin: 0;
		}
		
.flex-control-nav li a {
		width: 11px; 
		height: 11px; 
		display: block; 
		background:#555555;  
		cursor: pointer; 
		text-indent: -9999px; 
		-webkit-border-radius: 11px;
		-moz-border-radius: 11px;
		border-radius: 11px;
}

.flex-control-nav li a:hover {
		background:#9f000b;
		}
.flex-control-nav li a.active {
		background:#9f000b; 
		cursor: default;
		}

