div.single_middle {
			/* text-align: center; */
		}
		div.single_middle div.news_story {
			width: 95%;
			min-height: 320px;
			height: auto !important;
			padding: 20px;
			border: 1px solid #E5E5E5;
		}
		div.single_middle div.news_story p, div.single_middle div.news_story_search p {
			text-align:justify;
			text-justify:inter-word;
			color:#464646;
		}
		div.single_middle div.news_story img {
			float: left;
			vertical-align: middle;
			display: inline-block;
			border: solid 3px #D8DDE3;
			border-radius: 3px;
			margin-right: 10px;
		}
		div.single_middle div.news_story h3, div.single_middle div.news_story_search h3 {
			font-size: 16px;
			text-align: left;
			font-weight:bold;
			color: #97000a;
			margin-bottom: 6px;/*edited by neethu*/
		}
		div.single_middle div.news_story h3 a, div.single_middle div.news_story_search h3 a{
			text-decoration: none;
			color: #C7A317;
		}
		
		div.single_middle div.news_story div.date {
			font-weight: bold;
			color: #040404;
			margin-bottom: 5px;
			text-align:left;
		}
		
		div.single_middle div.news_story span.read_more a {
		color:#FF2833;}
		
		#news_controller span.current {
			display: inline-block;
			margin: 0 auto;
			width: 27px;
			height: 27px;
			padding-top:0px;
			line-height: 27px;
			background: rgba(150,0,10,1);
background: -moz-linear-gradient(top, rgba(150,0,10,1) 0%, rgba(100,2,4,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(150,0,10,1)), color-stop(100%, rgba(100,2,4,1)));
background: -webkit-linear-gradient(top, rgba(150,0,10,1) 0%, rgba(100,2,4,1) 100%);
background: -o-linear-gradient(top, rgba(150,0,10,1) 0%, rgba(100,2,4,1) 100%);
background: -ms-linear-gradient(top, rgba(150,0,10,1) 0%, rgba(100,2,4,1) 100%);
background: linear-gradient(to bottom, rgba(150,0,10,1) 0%, rgba(100,2,4,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#96000a', endColorstr='#640204', GradientType=0 );
border: 1px solid #640204;
text-align: center;
font-size: 16px;
font-family: 'open_sanssemibold';
color: #e6dba1!important;
		}
		
		#news_controller span {
			display: inline-block;
			margin: 0 auto;
			width: 27px;
			height: 27px;
			padding-top: 0px;
			text-align: center;
			background-color: #e6dba1;
			color: #464646;
			border: 1px solid #E5E5E5;
			line-height: 27px;
		}
		
		#news_controller span a{
			text-decoration: none;
			color: #000000;
			font-weight:bold;
		}
		
		
		
		#news_controller span.previous_active {
			margin: 0 auto;
			width: 92px;
			height: 27px;
			padding-top: 0px;
			background: -moz-linear-gradient(top, rgba(150,0,10,1) 0%, rgba(100,2,4,1) 100%);
			background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(150,0,10,1)), color-stop(100%, rgba(100,2,4,1)));
			background: -webkit-linear-gradient(top, rgba(150,0,10,1) 0%, rgba(100,2,4,1) 100%);
			background: -o-linear-gradient(top, rgba(150,0,10,1) 0%, rgba(100,2,4,1) 100%);
			background: -ms-linear-gradient(top, rgba(150,0,10,1) 0%, rgba(100,2,4,1) 100%);
			background: linear-gradient(to bottom, rgba(150,0,10,1) 0%, rgba(100,2,4,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#96000a', endColorstr='#640204', GradientType=0 ); border:1px solid #640204; 
			line-height:25px;
			text-align:center!important;
			color: #e6dba1!important;
		}
		#news_controller span.previous_inactive {
			margin: 0 auto;
			width: 80px;
			height: 27px;
			padding: 0px 0px 0px 0px;
			background-color: #e6dba1;
			color: #464646;
			border: 1px solid #E5E5E5;
			text-align: center!important;


		}
		
		#news_controller span.next_active {
			margin: 0 auto;
			width: 92px;
			height: 27px;
			padding-top: 0px;
			background: -moz-linear-gradient(top, rgba(150,0,10,1) 0%, rgba(100,2,4,1) 100%);
			background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(150,0,10,1)), color-stop(100%, rgba(100,2,4,1)));
			background: -webkit-linear-gradient(top, rgba(150,0,10,1) 0%, rgba(100,2,4,1) 100%);
			background: -o-linear-gradient(top, rgba(150,0,10,1) 0%, rgba(100,2,4,1) 100%);
			background: -ms-linear-gradient(top, rgba(150,0,10,1) 0%, rgba(100,2,4,1) 100%);
			background: linear-gradient(to bottom, rgba(150,0,10,1) 0%, rgba(100,2,4,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#96000a', endColorstr='#640204', GradientType=0 ); border:1px solid #640204; 
			line-height:25px;
			text-align:center!important;
			color: #e6dba1!important;
		}
		#news_controller span.next_inactive {
			margin: 0 auto;
			width: 87px;
			height: 22px;
			padding: 5px 0px 0px 5px;
			color: #e6dba1!important;
		}
		
		
		
		#news_controller span.next {
		}
		
		
		
		#news_controller {
			text-align: right;
			margin-right: 15px;
		}
		/*
		
		#news_controller span.current {
			display: inline-block;
			margin: 0 auto;
			width: 27px;
			height: 22px;
			padding-top: 5px;
			background:url(../images/news_pagination_buttons.png) no-repeat -97px -4px;
		}
		
		#news_controller span {
			display: inline-block;
			margin: 0 auto;
			width: 27px;
			height: 22px;
			padding-top: 5px;
			text-align: center;
			background:url(../images/news_pagination_buttons.png) no-repeat -97px -58px;
		}
		
		#news_controller span a{
			text-decoration: none;
			color: #000000;
			font-weight:bold;
		}
		
		
		
		#news_controller span.previous_active {
			margin: 0 auto;
			padding-left: 10px;
			width: 82px;
			height: 22px;
			padding-top: 5px;
			background:url(../images/news_pagination_buttons.png) no-repeat -4px -58px;
		}
		#news_controller span.previous_inactive {
			margin: 0 auto;
			width: 87px;
			height: 22px;
			padding: 5px 0px 0px 5px;
			background:url(../images/news_pagination_buttons.png) no-repeat -4px -4px;
		}
		
		#news_controller span.next_active {
			margin: 0 auto;
			width: 92px;
			height: 22px;
			padding-top: 5px;
			background:url(../images/news_pagination_buttons.png) no-repeat -126px -58px;
		}
		#news_controller span.next_inactive {
			margin: 0 auto;
			width: 87px;
			height: 22px;
			padding: 5px 0px 0px 5px;
			background:url(../images/news_pagination_buttons.png) no-repeat -126px -4px;
		}
		
		
		
		#news_controller span.next {
		}
		*/
		div.single_middle div.news_story_search {
			width: 95%;
			height: 40px;
			padding: 20px;
			border: 1px solid #E5E5E5;
		}
		
		div.single_middle h4.search {
			color: #000000;	
		}
		
		div.single_middle div.news_story_search div.bullet {
			float: left;
			background:url(../images/buttons_openclose.png) no-repeat 0px -5px;
			width: 35px;
			height: 25px;
		}
		
		div.single_middle div.news_story_search p {
			padding-left: 35px;
		}