/*
#agents{ margin-top:-10px;}
#agents .left_div{float:left; width:286px; padding-left:2px;}
#agents .right_div{float:left; width:395px; height:164px; background:#A8A8A8;}
#agents .right_div_top{float:left; width:395px; background:#7C4E2D; padding:3px 0px; height:26px; color:#FFFFFF;}
#agents .right_div_top h2{ color:#fff; padding-left:5px; font-size:16px; font-weight:bold;}
#agents .right_div .details{float:left; width:370px; padding:10px; color:#333;}
*/
#left_slider{}
#left_slider .OverlayIcon{ background:none;}
.jcarousel-skin-tango .jcarousel-container {
float:left;
margin:10px 0px;
width:600px;
}
.slider_tango .jcarousel-skin-tango .jcarousel-container {
float:left;
margin:10px 0px;
width:250px;
}
.kart_results .jcarousel-skin-tango .jcarousel-container {
float:left;
margin:10px 0px;
width:150px;
}
.kart_results_slider .jcarousel-skin-tango .jcarousel-container {
float:left;
margin:10px 0px;
width:190px;
}


.jcarousel-skin-tango ul{overflow: hidden; position: relative;}
.jcarousel-skin-tango .jcarousel-direction-rtl {
	direction: rtl;
}
.jcarousel-skin-tango .jcarousel-container-horizontal {
padding:0px 25px 0 55px;
    width: 590px;
	overflow:hidden;
}
.jcarousel-skin-tango .jcarousel-container-vertical{
    width: 210px;
    height: 112px;
    padding: 40px 20px;
}

.jcarousel-skin-tango .jcarousel-clip-horizontal {
    width:  590px;
    height: 160px;
}
.slider_tango .jcarousel-skin-tango .jcarousel-clip-horizontal {
    width:  250px;
    height: 25px;
}

.kart_results .jcarousel-skin-tango .jcarousel-clip-horizontal {
    width:  150px;
    height: 25px;
}

.kart_results_slider .jcarousel-skin-tango .jcarousel-clip-horizontal {
    width:  190px;
    height: 25px;
}


.jcarousel-skin-tango .jcarousel-clip-vertical {
    width:  210px;
    height: 100px;
}
.jcarousel-skin-tango .jcarousel-item {
   width: 115px;
   padding:1px;
   margin:5px;
    height: 99px;
 

}
.gallery_video .jcarousel-skin-tango .jcarousel-item {
height:133px;
}

	
.jcarousel-skin-tango .jcarousel-item p{ clear:both; color:#BC8545;   margin:2px; font-size:11px; padding:2px 4px;  width:100px;  overflow:hidden; text-align:center; direction:ltr;}


#mycarousel_left .img_block{float:left; width:114px; height:80px; overflow:hidden; }



.jcarousel-skin-tango .jcarousel-item a{ clear:both; color:#BC8545; font-size:11px; text-decoration:none; }


#left_slider .jcarousel-skin-tango .jcarousel-item {
   width: 115px;
    height: 75px;
}

.slider_tango .jcarousel-skin-tango .jcarousel-item {
	margin:0px;
	padding:5px;
   width: 235px;
    height: 14px;
	padding-top:3px;
	margin-top:1px;
	background:#fff;
	text-align:center;
	color:#B00000;
	font-weight:bold;
	
}

.kart_results .jcarousel-skin-tango .jcarousel-item {
width:135px;
}

.kart_results_slider .jcarousel-skin-tango .jcarousel-item {
width:178px;
}



.jcarousel-skin-tango .jcarousel-item-horizontal {
	margin-left: 0;
    /*margin-right: 10px;*/

}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-item-horizontal {
	/*margin-left: 10px;*/
    margin-right: 0;
}

.jcarousel-skin-tango .jcarousel-item-vertical {
    margin-bottom: 10px;
}

.jcarousel-skin-tango .jcarousel-item-placeholder {
    background: #000;
    color: #ccc;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-tango .jcarousel-next-horizontal {
    position: absolute;
    top: 32px;
    right: -2px;
    width: 23px;
    height: 45px;
    cursor: pointer;
    background: transparent url(/en/css/photo_gallery/ad_scroll_forward.png) no-repeat 0 0;
}
.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-next-horizontal {
    left: 5px;
    right: auto;
    background-image: url(/en/css/photo_gallery/ad_scroll_back.png);
}
.slider_tango .jcarousel-skin-tango .jcarousel-next-horizontal {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 23px;
    height: 25px;
    cursor: pointer;
    background: transparent url(/en/css/photo_gallery/ad_scroll_forward.png) no-repeat -1px 0;
}
.slider_tango .jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-next-horizontal {
    left: 5px;
    right: auto;
    background-image: url(/en/css/photo_gallery/ad_scroll_back.png);
}
.jcarousel-skin-tango .jcarousel-next-horizontal:hover {
   /*background-position: -32px 0;*/
}
.jcarousel-skin-tango .jcarousel-next-horizontal:active {
/*    background-position: -64px 0;*/
}
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:active {
    cursor: default;
   /*background-image: url(/img/next_disabled.jpg);*/
   /* background-position: -96px 0;*/
}

.jcarousel-skin-tango .jcarousel-prev-horizontal {
    position: absolute;
    top: 32px;
    left: 0px;
    width: 23px;
    height: 45px;
    cursor: pointer;
    background: transparent url(/en/css/photo_gallery/ad_scroll_back.png) no-repeat 0 0; margin-left:25px;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-prev-horizontal {
    left: auto;
    right: 5px;
    background-image: url(/en/css/photo_gallery/ad_scroll_forward.png);
}

.slider_tango .jcarousel-skin-tango .jcarousel-prev-horizontal {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 23px;
    height: 25px;
    cursor: pointer;
    background: transparent url(/img/site/prev.jpg) no-repeat -3px 0;
}

.slider_tango .jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-prev-horizontal {
    left: auto;
    right: 5px;
    background-image: url(/img/site/next.jpg);
}
.jcarousel-skin-tango .jcarousel-prev-horizontal:hover {
   /* background-position: -32px 0;*/
}
.jcarousel-skin-tango .jcarousel-prev-horizontal:active {
/*    background-position: -64px 0;*/
}
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active {
    cursor: default;	
  /*background-image: url(/img/prev_disabled.jpg);*/
/*    background-position: -96px 0;*/
}
