/*
	Totem Ticker Stylesheet
	Zach Dunn / Build Internet (buildinternet.com)
	Winter 2011
*/


#vertical-ticker{
	height:250px;
	overflow:hidden;
	margin:0; padding:0;
	width:640px;
	float:left;
}

	#vertical-ticker li{
		padding:0;
		float:left;
		width:620px;
		}
		
#ticker-previous {
	background:url(../images/prew_btn.png) top no-repeat;
	float:left;
	width:32px;
	height:32px;
	text-indent:5000px;
	margin:40px 0 0 0;
	}		

#ticker-previous:hover {
	background-position:bottom;
	}
	
#ticker-next {
	background:url(../images/next_btn.png) top no-repeat;
	float:left;
	width:32px;
	height:32px;
	text-indent:5000px;
	margin:12px 0 0 0;
	}		

#ticker-next:hover {
	background-position:bottom;
	}	