

* {
	margin: 0;
	outline:0;
}

img {
	border:0;
	}

body {
	margin:0;
	padding:0;
	font-family:'open_sansregular';
	}

h1 , 
h2 ,
h3 , 
h4 , 
h5 , 
h6 , 
ul, 
li ,
 p {
	 outline:0;
 }


.clear{ 
	clear:both; 
}


p {margin: 0 0 12px;
 color:#464646;
 font-size:16px;
 line-height:23px;
 text-align:left!important;
 }
 
p a {
	text-decoration:none;

} 
a {
	text-decoration:none;
	}
	
a:hover {
	text-decoration:underline;
	}
	
h1 {
	float:left;
	margin:5px 0 0 0;
	}
	
	

header {
	margin:auto;
	width:948px;
	padding:0;
	}

.Right_Side {
	float:right!important;
	width:300px!important;
	}
	
.grid_1 {
	float:left;
	margin:0 0 0 25px;
	width:500px;
	
	}
	
.grid_2 {
	float:right;
	}	

.grid_1 img {
	float:left;
	}
	
.title {
	font-size:27px;
	float:left;
	color:#bba368;
	margin:84px 0 0 0;
	
}	

.grid_1 ul {
	float:left;
	width:auto;
	list-style:none;
	padding:0;
	margin:4px 0 0 0;
	}
	
.grid_1 ul li {
	float:left;
	}
	
.grid_1 ul li a {
	float:left;
	color:#bba368;
	font-size:12px;
	border-right:1px solid #ccba8e;
	padding:0 20px 0 0;
	margin:0 20px 0 0;
	}
.grid_1 ul li a.last {
	border:0;}	
	
.social_box {
	float:left;
	width:100%;
	height:30px;
	background:#000;
	margin:6px 0 0 0;
	}	
	
.sub_social_box {
	margin:auto;
	width:948px;
	}
	
.sub_social_box ul {
	float:left;
	width:auto;
	list-style:none;
	padding:0;
	}
	
.sub_social_box ul li {
	float:left;
	margin:0 20px 0 0;
	}	
	
.sub_social_box ul li a {
	float:left;
	}	
	
.home {
	background:url(../images/home.png)  top no-repeat;
	width:16px;
	height:15px;
	margin:8px 0 0 0;
	}
.home:hover {
	background-position:bottom;
	}
	
.home.active {
	background-position:bottom;
	}	
	
.phone {
	background:url(../images/phone.png)  top no-repeat;
	width:13px;
	height:15px;
	margin:8px 0 0 0;
	}
	
.phone:hover {
	background-position:bottom;
	}
	
.phone.active {
	background-position:bottom;
	}	
	
.social_media {
	background:url(../images/social.png) top no-repeat;
	width:17px;
	height:15px;
	margin:8px 0 0 0;
	}
	
.social_media:hover {
	background-position:bottom;
	}
	
.social_media.active {
	background-position:bottom;
	}	
	
.small_a {
	background:url(../images/small_a.png) top no-repeat;
	width:14px;
	height:11px;
	margin:11px 0 0 0;
	}
	
.small_a:hover {
	background-position:bottom;
	}
	
.small_a.active {
	background-position:bottom;
	}	
	
.cap_a {
	background:url(../images/cap_a.png) top no-repeat;
	width:24px;
	height:15px;
	margin:9px 0 0 0;
	}
	
.cap_a:hover {
	background-position:bottom;
	}
	
.cap_a.active {
	background-position:bottom;
	}	
	
.arbi_title {
	float:left;
	margin:8px 20px 0 0;
	}	
	
.rss {
	background:url(../images/rss.png) top no-repeat;
	width:19px;
	height:18px;
	margin:6px 0 0 0;
	}	
	
.rss:hover {
	background-position:bottom;
	}	

.youtube {
	background:url(../images/youtube.png) top no-repeat;
	width:19px;
	height:18px;
	margin:6px 0 0 0;
	}
	
.youtube:hover {
	background-position:bottom;
	}	
	
.reesMr {
	margin:0 10px 0 0!important;
	}	
	
	
.sub_social_box ul input { 
	border:0; 
	width:165px; 
	padding:0 0 0 5px; 
	float:right;
	height:22px;
	background:url(../images/search_box.png) right no-repeat;
	color:#8d8d8d;
	font-size:13px;
	cursor:pointer;
	margin:4px 0 0 0 ;
	font-family: 'open_sansregular';
	}	
/* by firoz start 11 / 28 / 14 */
.banner {
	margin:auto;
	width:auto;
	height:auto;
	}
/* by firoz end 11 / 28 / 14 */

.banner img {
	width:100%;
	margin:auto;
	}	
/* by firoz start start 11 / 28 / 14 */
.main_box_content {
	margin:20px auto 0px auto;
	width:1000px;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.75);
	height:auto;
	}	
	
/* by firoz start end  11 / 28 / 14 */	
	
.clb { clear:both;}	


.nav {
float: left;
background: url(../images/nav_bg.jpg) no-repeat;
width: 1000px;
height: 40px;
margin: -30px 0 0 0;
z-index: 9999999!important;
position: absolute;
	}
	
.nav ul {
float: left;
width:100%;
list-style:none;
padding:0;

}

.nav ul li {
float: left;
}	

.nav ul li a {
float: left;
color:#e5daa0;
font-size:14px;
font-family: 'open_sansregular';
height:29px;
background:url(../images/nav_border.jpg) left no-repeat ;
padding:11px 27px 0 27px;
}

.nav ul li a:hover {
	text-decoration:none;
	}

.about_sz {
	padding:11px 25px 0 25px!important;
	}	
	
.content {
	margin:auto;
	width:980px;
	padding:40px 0 0 0;
	}	
	
	
.content-left{ 
	width:212px; 
	height:auto; 
	float:left; 
	margin-left:15px;
	}
	
.content-left-box{ 
	width:210px; 
	height:auto; 
	border:1px solid #cdcdcd; 
	margin-bottom:17px; 
	position:relative;
	}
	
.content-left-box-round-corner { 
width: 212px;
height: auto;
margin-bottom: 17px;
float: left;
font-family: 'open_sanssemibold';
}
	}
.prayer_timing {
	font-size:17px;
	color:#e5daa0;
	font-family: 'open_sansregular';
	float:left;
	margin:6px 0 0 18px;
	}
	
.content-left-box-round-corner p {
	width:173px;
	margin:15px 0 0 18px;
	font-size:13px;
	color:#000;
	float:left;
}

.content-left-box-round-corner p span {
	float:right;
	}
	
.content-left-box-txt-menu{ 
	position:absolute; 
	bottom:0; 
	z-index:100; 
	width:210px; 
	height:38px; 
	background-color: rgba(255,255,255,0.60);
	}
.content-left-box-txt-menu-left{ 
	width:164px; 
	height:auto; 
	float:left;
	font-family: 'open_sanssemibold'; 
	font-size:15px; 
	color:#000000; 
	padding:10px 0 0 13px;
	text-shadow: 1px 1px #FFF;
	}
	
.content-left-box-txt-menu-left a{ 
	text-decoration:none; color:#000;
	}
.content-left-box-txt-menu-left a:hover{ 
	text-decoration:none; 
	color:#898989;
	}
.content-left-box-txt-menu-right{ 
	width:33px; 
	height:auto; 
	float:left;
	}
.content-right{ 
	width:688px; 
	margin:0 0 0 50px;
	float:left;
	}	
	
.poll_box_left {
	float:left;
	width:212px;
	border:1px solid #cecece;
	border-radius: 7px 7px 7px 7px;
	-moz-border-radius: 7px 7px 7px 7px;
	-webkit-border-radius: 7px 7px 7px 7px;
	}	
	

.poll_title {
	float:left;
	width:196px;
	background:url(../images/poll_bg.jpg) repeat-x;
	height:37px;
	-webkit-border-top-right-radius: 7px;
	-webkit-border-top-left-radius: 7px;
	color:#c3ad7b;
	font-size:17px;
	padding:0 0 0 16px;
	line-height:37px;
	}	
	
.poll_title img {
	float:right;
	margin:5px 10px 0 0;
	}	
	
.poll_box_left p {
	font-size:15px;
	float:left;
	margin:10px 0 0 16px;
	font-family: 'open_sanssemibold';
	color:#000;
	line-height:18px;
	width:170px;
	}	
	
.chk_box {
	float:left;
	width:182px;
	margin:10px 0 0 10px;
	}	
	
.percentdage_box {
	float:left;
	width:190px;
	margin:0 0 7px 0;
	}	
	

.box_01 {
	float:left;
	width:153px;
	border:1px solid #e0d8c3;
	height:12px;
	}
	

.box_right_02 {
	color:#000;
	font-size:10px;
	 font-family: 'open_sansbold';
	margin:0 0 0 5px;
	float:left;
	}
	
.gold_box1 {
	width:133px;
	height:12px;
	background:#e0d8c3;
	float:left;
	}	
	
.gold_box2 {
	width:3px;
	height:12px;
	background:#e0d8c3;
	float:left;
	}	
	
.gold_box3 {
	width:9px;
	height:12px;
	background:#e0d8c3;
	float:left;
	}	
	
.left_vote_box {
	float:left;
	width:212px;
	height:32px;
	background:url(../images/vote_bg.png) no-repeat;
	}
	
.left_vote_box p {
	float:left;
	width:120px;
	}
	
.vote_btn {
	float:right;
	}	
	
.vote_btn:hover {
	    opacity: 0.7;
    filter: alpha(opacity=70); /* For IE8 and earlier */
	}
	
.previous_poll a {
	float:left;
	color:#937a42;
	font-size:13px;
	margin:15px 0 15px 16px;
	 font-family: 'open_sanssemibold';
	}	
	
	
.right_banner {
	float:left;
	width:100%;
	}
	
.caption_right_banner {
	float:left;
	width:100%;
	height:37px;
	position:absolute;
	bottom:35px;
	background-color: rgba(0, 0, 0, 0.7);
	background: rgba(0, 0, 0, 0.7);
	
	}	
	
.caption_right_banner h2 {
	float:left;
	color:#baa367;
	font-size:19px;
	font-family: 'open_sanssemibold';
	line-height:37px;
	margin:0 0 0 20px;
	}	
	
.caption_right_banner h2 strong {
	color:#fff;
	}	
	
.more_btn a {
	float:right;
	color:#d91a04;
	font-size:14px;
	font-family: 'open_sanssemibold';
	background:url(../images/read_more.png) right no-repeat;
	padding:0 30px 0 0;
	margin:7px 20px 0 0;
	height:22px;
	}	
	
.widge_box {
	float:left;
	width:100%;
	margin:50px 0;
	}
	
.widge_box ul {
	float:left;
	width:100%;
	padding:0;
	list-style:none;
	}	
	
.widge_box ul li {
	float:left;
	width:166px;
	margin:0 0 0 8px;
	}
	
.fist_tham {
	margin:0!important;
	}	
	
.widge_box ul li img {
	float:left;
	border:1px solid #c0a874;
	margin:0 0 10px 0;
	}	
	
.widge_box ul li a {
	float:left;
	color:#c0a874;
	font-size:16px;
	font-family: 'open_sansregular';
	background:url(../images/book_arow.png) left top no-repeat;
	padding:7px 0 0 28px;
	width:138px;
	}	
	
.widge_news {
	float:left;
	width:686px;
	border:1px solid #e0d8c3;
	margin:50px 0 0 0;
	padding:1px;
	height:33px;
	}
	
.widge_news p {
	font-size:12px;
	color:#000;
    font-family: 'open_sanssemibold';
	text-align:center;
	background:#ece9da;
	height:33px;
	line-height:33px;
	text-align:center!important;
	float:left;
	width:100%;
	}	
	
.widge_archive_title {
	float:left;
	width:100%;
	margin:50px 0 0 0;
	color:#baa367;
	font-size:18px;
	font-family: 'open_sanssemibold';
	border-bottom:1px solid #baa367;
	padding:0 0 10px 0;
	}
	
.widge_archive_title a {
	float:right;
	color:#bf1202;
	font-size:14px;
	padding:0 0 0 12px;
	background:url(../images/news_archive.png) left no-repeat;
	}	
	
.video_gallery {
	float:left;
	width:100%;
	margin:20px 0 0 0;
	}	
	
.left_vidoe {
	float:left;
	width:270px;
	}	
	
.left_vidoe p {
	float:left;
	width:270px;
	color:#c3ac79;
	font-size:16px;
	}
	
.left_more_btn {
	color:#a10008!important;
	background:none!important;
	padding:10px 0 0 0!important;
	font-size:13px!important;
	}	
	
.vedio_link {
	float:left;
	margin:40px 0 0 0;
	}
	
.vedio_link:hover {
	  opacity: 0.7;
    filter: alpha(opacity=70); /* For IE8 and earlier */
	}	
	
.vedio_link2 {
	 margin:40px 0 0 56px;
	 }	
	 
.partner_box {
	margin:15px auto 50px auto;
width: 1000px;
-webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
min-height: 165px;
}	 

.footer{
	width:100%;
	height:217px;
	float:left;
	background-color:#790000;
	background-attachment: scroll;
	background-image: url(../images/footer-background.png);
	background-repeat: repeat-x;
	background-position: left top;
}
.footer-address{ 
	width:100%; 
	height:159px; 
	float:left;
	}
	
.footer-menu{ 
	width:100%; 
	height:28px; 
	float:left; 
	background-color:#2b2b2b;
	}
	
.footer-copyright{ 
	width:100%; 
	height:30px; 
	float:left;
	}
	
.footer-div{ 
	width:950px; 
	height:auto; 
	margin:0 auto; 
	padding:0 25px 0 25px;
	}
	
.copyright{
	font-family: 'open_sansregular'; 
	font-size:11px; 
	color:#e6dba1; 
	padding-top:9px;
	}
	
.menu{
	font-family: 'open_sansregular'; 
	font-size:12px; color:#e6dba1; 
	padding-top:7px;
	}
	
.menu span{ 
	padding:0 18px 0 18px;
	}
	
.menu a{
	color:#e6dba1;
	text-decoration:none;
	}
	
.menu a:hover{
	color:#898989;
	text-decoration:none; 
	}
	
.footer-address-left{ 
	float:left; 
	width:250px;
	}
	
.footer-address-middle{ 
	float:left; 
	width:250px;
	}
	
.footer-address-middle ul{ 
	list-style:none; 
	margin:52px 0 0 0; 
	padding:0px;
	}
	
.footer-address-middle ul li{
	font-family: 'open_sansregular'; 
	font-size:14px; 
	color:#e6dba1; 
	padding-left:30px; 
	margin:8px 0 8px 0;
	}
	
.footer-address-middle ul li a{
	color:#e6dba1;
	text-decoration:none;
	}
	
.footer-address-middle ul li a:hover{
	color:#ce906d;
	text-decoration:none; 
	}
	
.footer-address-right{ 
	float:left; 
	width:434px; 
	margin-top:52px; 
	border-left:1px solid #e6dba1; 
	padding-left:15px;
	}
	
.footer-address-right p {
	font-family: 'open_sansregular'; 
	font-size:12px; 
	color:#e6dba1; 
	line-height:14px;
	}
	
.telephone-background{
	background-attachment: scroll;
	background-image: url(../images/phone-ico.png);
	background-repeat: no-repeat;
	background-position: left top;
}


.brad_cram {
	float:left;
	width:980px;
	margin:auto;
	}

.brad_cram ul {
	float:left;
	list-style:none;
	padding:0;
	margin:0 0 0 14px;
	}
	
.brad_cram ul li {
	float:left;
	}	
	
.brad_cram ul li a {
	float:left;
	color:#baa367;
	font-size:12px;
	font-family: 'open_sansregular';
	background:url(../images/brad_cram.jpg) right no-repeat;
	padding:0 10px 0 0;
	margin:0 10px 0 0;
	line-height:20px;
	}
.brad_cram ul li a:hover {
	text-decoration:none;
	}	
	
.brad_cram ul li a.active {
	color:#9f000b;
	background:none;
	}	
	
.inside_conter {
	float:left;
	width:950px;
	margin:35px 0 0 14px;
	}	
	
.Visiting_box {
	float:left;
	width:100%;
	}	

.Visiting_box ul {
	float:left;
	list-style:none;
	padding:0;
	margin:0 0 32px 0;
	}
	
.Visiting_box ul li {
	float:left;
	width:293px;
	border:1px solid #c3ad7b;
	-webkit-border-radius: 7px;
	-webkit-border-radius: 7px;
	margin:0 0 0 32px;
	}	

.Visiting_box ul li img {
	float:left;
	border-bottom:3px solid #c7b284;
	margin:0 0 11px 0;
	}
	
.Visiting_box ul li span a {
	color:#bfa773;
	font-size:18px;
	font-family: 'open_sanssemibold';
	line-height:45px;
	height:65px;
	 }
	
.Visiting_box ul li span img {
	float:left;
	border:0;
	margin:0 40px 10px 20px;
	}	
	
.visiting_page_height {
	height:970px!important;
	}	


.login-div{ width:655px; height:320px; float:right;}
.login-title{
	width:625px;
	height:38px;
	float:left;
	font-family: 'open_sansbold';
	font-size:17px;
	padding:15px 0 0 30px;
	background-attachment: scroll;
	background-image: url(../images/login-title-image.png);
	background-repeat: no-repeat;
	background-position: left top; color:#c3ac79;
}
.login-container{
	width:655px;
	height:267px;
	float:left;
	background-attachment: scroll;
	background-image: url(../images/login-box-image.png);
	background-repeat: no-repeat;
	background-position: left top;font-family: 'open_sansregular'; font-size:16px; color:#000;
}

.login-container ul{ margin:40px 35px 0 35px; padding:0px; list-style:none;}
.login-container ul li{ list-style:none; float:left;}
.login-container ul li.label{ width:113px; height:33px; margin-bottom:20px; display:block;}
.login-container ul li.textarea{
	width:472px;
	height:33px;
	margin-bottom:20px;
	display:block;
	background-attachment: scroll;
	background-image: url(../images/login-textarea-background.png);
	background-repeat: no-repeat;
	background-position: left top;
}
.login-container ul li.link{ width:472px; padding-left:113px;display:block; color:#000; font-size:12px; }
.login-container ul li.link a{ text-decoration:underline; color:#000;}
.login-container ul li.link a:hover{ text-decoration:none; color:#000;}
.login-txtbox{ width:432px; height:33px; float:left; font-size:14px; line-height:18px; color:#bfa773; padding:0 20px 0 20px;font-family: 'open_sansregular'; border:0px !important; background-color:transparent;}
.login-btn{
	float:left;
	width:129px;
	height:41px;
	border:0px !important;
	margin:30px 25px 0 0;
	background-attachment: scroll;
	background-image: url(../images/login-btn.png);
	background-repeat: no-repeat;
	background-position: left top; background-color:transparent;
}

.register-btn{
	float:left;
	width:129px;
	height:41px;
	border:0px !important;
	margin:30px 4px 0 0;
	background-attachment: scroll;
	background-image: url(../images/register-btn.png);
	background-repeat: no-repeat;
	background-position: left top; background-color:transparent;
}


.prayer-timing-title-div{
	width:192px;
	height:30px;
	float:left;
	background-attachment: scroll;
	background-image: url(../images/prayer-timings-title-image.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	color:#c3ad7b;
	font-size:16px; padding:7px 0 0 20px;
	
}
.prayer-timing-div{
	width:192px;
	height:30px;
	float:left;
	background-attachment: scroll;
	background-image: url(../images/prayer-timings-image.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	color:#000000;
	font-size:14px; padding:7px 0 0 20px;
}
.prayer-timing-div span{ float:right; margin-right:20px;}

.current-whether-title-div {
width: 192px;
height: 27px;
float: left;
background-attachment: scroll;
background-image: url(../images/current-whether-title-image.jpg);
background-repeat: no-repeat;
background-position: left top;
color: #000000;
font-size: 16px;
padding: 7px 0 0 20px;
}

.current-whether-div {
width: 192px;
height: 27px;
float: left;
background-attachment: scroll;
background-image: url(../images/current-whether--image.jpg);
background-repeat: no-repeat;
background-position: left top;
color: #9f000b;
font-size: 16px;
padding: 7px 0 0 20px;
}

.content-left-box-txt-menu {
position: absolute;
bottom: 0;
z-index: 100;
width: 210px;
height: 38px;
background-color: rgba(255,255,255,0.60);
}

.current-whether-div span {
float: right;
margin-right: 20px;
}

.tour_operators_page_height {
	height:730px!important;
	}
	
.punctuation-div{ width:947px; height:26px; float:left; background-color:#e0d8c3; padding:1px; margin:27px 0 17px 14px;}
.punctuation-div-inner{
	width:885px;
	height:24px;
	float:left;
	background-color:#ece9da;
	border:1px solid #FFF;
	color:#9f000b;
	font-size:12px;
	font-family: 'open_sansregular';
	line-height:25px;
	padding-left:60px;
	background-attachment: scroll;
	background-image: url(../images/punctuation-ico.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.breadcrumb-div{ 
	width:949px; 
	height:auto; 
	float:left; 
	margin:0 0 10px 0;
	font-size:12px;
	font-family: 'open_sansregular';
	line-height:20px;
	color:#9f000b;
	}
.breadcrumb-div a{ color:#baa367; text-decoration:none;}
.breadcrumb-div a:hover{ color:#464646; text-decoration:none;}
.breadcrumb-div span{
	margin-left:12px;
	padding-left:17px;
	background-attachment: scroll;
	background-image: url(../images/breadcrumb-arrow.png);
	background-repeat: no-repeat;
	background-position: left center;
}	


.whatsapp-div{
	width:911px;
	height:50px;
	float:left;
	margin:37px 0 27px 0;
	background-attachment: scroll;
	background-image: url(../images/whatsapp-background-image.jpg);
	background-repeat: no-repeat;
	background-position: left top; padding:100px 0 0 39px;
	font-family: 'open_sansregular'; font-size:16px; color:#000;
}
.textbox-label{ width:500px; height:32px; float:left; padding-top:6px;}
.texbox-div{
	width:370px;
	height:38px;
	float:left;
	background-attachment: scroll;
	background-image: url(../images/text-box-background.png);
	background-repeat: no-repeat;
	background-position: left center;
}
.whatsapp-txtbox{ width:285px; height:33px; float:left; font-size:14px; line-height:18px; color:#bfa773; padding-left:10px;font-family: 'open_sansregular'; border:0px !important; background-color:transparent;}
.whatsapp-btn{float:right; background:url(../images/whatsapp-btn.png) no-repeat; width:49px; height:33px; border:0px !important; margin:1px 4px 0 0;}


.gallery{width:960px; height:auto; float:left; margin-top:10px; margin-left:14px;}
.gallery img{ margin-bottom:19px;
  
}
.gallery-div{ width:300px; height:auto; margin-right:19px; float:left;}
.gallery-div-end{ margin:0px !important;}

.general_body_content h2
{
font-family: 'open_sansregular';
font-size: 21px;
padding: 0 0 10px 0;
margin: 0 0 15px 0;
line-height: 21px;
font-weight: normal;
border-bottom: 1px solid #EBEBEB;
width: 100%;
color: #97000a;
}

