html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, pre, a, img, ol, ul, li, form, label, b, p, object {
    border: 0 none;
    margin: 0;
    padding: 0;
}
body {
    
    font-family: Arial,Verdana,Helvetica,sans-serif;
    font-size: 12px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 100%;
    word-spacing: 1px; background:url(../images/background.jpg) repeat-x;
}
.wrapper{ width:1002px; margin:0 auto ; background:#FFFFFF;}

.wrapper .header{width:1002px;}
.header .logo{width:700px; float:left; margin-top:20px; }
.header .date{ float:right;color:#C7A317; margin-top:30px;}
.header .date img{ margin-left:5px;}
.header .logo span{color:#C7A317; font-size:18px; font-weight:bold; padding-left:20px;}
.clear{ clear:both;}
.header .top_menu{width:1002px;}
.header .top_menu .home{width:112px; float:left; margin-top:22px;}
.header .top_menu .home a{ background:url(../images/Home.png) no-repeat; color:#000000; padding:10px 50px 10px 52px; text-decoration:none; font-weight:bold; height:16px;}
.header .top_menu .home a:hover{ background:url(../images/home_mousehover.png) no-repeat; color:#fff; padding:10px 50px 10px 52px; text-decoration:none; font-weight:bold;}
.header .top_menu .home .current{ background:url(../images/home_mousehover.png) no-repeat; color:#fff; padding:10px 50px 10px 52px; text-decoration:none; font-weight:bold; height:16px;}
.header .top_menu .contactus{width:114px;float:left;margin-top:22px;}
.header .top_menu .contactus a{ background:url(../images/contactus.png) no-repeat; color:#000000; width:114px;padding:10px 25px 10px 15px; text-decoration:none; font-weight:bold;height:16px;}
.header .top_menu .contactus a:hover{ background:url(../images/contactus_hover.png) no-repeat; color:#fff; padding:10px 25px 10px 15px; text-decoration:none; font-weight:bold;}
.header .top_menu .contactus .current{ background:url(../images/contactus_hover.png) no-repeat; color:#fff; padding:10px 25px 10px 15px; text-decoration:none; font-weight:bold;}

.header .top_menu .sitemap{width:114px;float:left;margin-top:22px;}
.header .top_menu .sitemap a{ background:url(../images/contactus.png) no-repeat; color:#000000; width:114px;padding:10px 25px 10px 15px; text-decoration:none; font-weight:bold;height:16px;}
.header .top_menu .sitemap a:hover{ background:url(../images/contactus_hover.png) no-repeat; color:#fff; padding:10px 25px 10px 15px; text-decoration:none; font-weight:bold;}
.header .top_menu .sitemap .current{ background:url(../images/contactus_hover.png) no-repeat; color:#fff; padding:10px 25px 10px 15px; text-decoration:none; font-weight:bold;}


.header .top_menu .search{ background:url(../images/search_bg.png) no-repeat; width:776px; height:48px; float:left; }

.header .top_menu .search .top-search-box {
    border: 1px solid #6E980E;
    color: #6d6d6d;
    font-size: 12px;
    height: 16px;
    margin: 18px 0 0 465px;
    padding: 0 0 0 5px;
    width: 145px; float:left;
}

 .submitbutton {
    background: url("../images/search.png") no-repeat scroll 0 0 transparent;
    border: 0 none;
    height: 28px;
     margin-top:12px; 
    width: 28px; float:left;
}
.header .top_menu .search .language{float:right; margin-right:21px; margin-top:21px;}
.header .top_menu .search .language a{ color:#000000; text-transform:uppercase; font-weight:bold;}
.header .banner{ background:url(../images/banner_bg.png) no-repeat; width:1002px; height:363px; }
.header .banner .slider{width:982px; height:308px; padding:10px;}
.header .banner .menu{ margin-top:270px; position:absolute;width:900px; z-index:10000;}
.header .banner .menu ul {
    float: left;
    list-style: none outside none;
    width: 1002px; margin-top:1px;
}
.header .banner .menu ul li {
   
    float: left;
    font-size: 12px;
    font-weight: bold;
    display:block;
}
.header .banner .menu .social_media{float:left;margin-top:43px;  margin-left:870px;  }


#mydroplinemenu ul li a {
	color:#000000; text-decoration:none
}
#mydroplinemenu ul li a:hover {
	color:#000000; text-decoration:none
}
#mydroplinemenu ul li.current {
	color:#000000; text-decoration:none
}


#szgmc a{ background:url(../images/szgmc.png) no-repeat;   padding:15px 66px 12px 70px;}
#szgmc a:hover{ background:url(../images/szgmc_mouse_hover.png) no-repeat; padding:15px 66px 12px 70px;}
#szgmc .current{ background:url(../images/szgmc_mouse_hover.png) no-repeat; padding:15px 66px 12px 70px;}

#founder a{ background:url(../images/founder.png) no-repeat;  padding:15px 31px 12px 20px; }
#founder a:hover{ background:url(../images/founder_mh.png) no-repeat; padding:15px 31px 12px 20px; }
#founder .current{ background:url(../images/founder_mh.png) no-repeat;padding:15px 31px 12px 20px; }

#about a{ background:url(../images/about.png) no-repeat;  padding:15px 19px 12px 20px; }
#about a:hover{ background:url(../images/about_mh.png) no-repeat; padding:15px 19px 12px 20px; }
#about .current{ background:url(../images/about_mh.png) no-repeat;padding:15px 19px 12px 20px; }

#archi a{ background:url(../images/archi.png) no-repeat;  padding:15px 54px 12px 20px; }
#archi a:hover{ background:url(../images/archi_mh.png) no-repeat; padding:15px 54px 12px 20px; }
#archi .current{ background:url(../images/archi_mh.png) no-repeat;padding:15px 54px 12px 20px; }

#contact a{ background:url(../images/cont_us.png) no-repeat;  padding:15px 66px 12px 20px; }
#contact a:hover { background:url(../images/cont_us_mh.png) no-repeat; padding:15px 66px 12px 20px; }
#contact a.current { background:url(../images/cont_us_mh.png) no-repeat;padding:15px 66px 12px 20px; }
.wrapper .top{ width:822px;  border-left:1px solid #ccc; padding-left:10px; margin-top:26px; position:absolute; padding-top:10px;   }
.wrapper .top .weather{float:left; width:135px; margin-top:4px; background:url(../images/weather.png) no-repeat;  height:25px;color:#FF2833; padding-left:86px; padding-top:30px; font-weight:bold; font-size:12px; z-index:1000;}
.wrapper .top .vision{float:right; margin-left:22px; background:url(../images/visio_mission.png) no-repeat; width:579px; height:40px; text-align:center;  padding-top:18px; z-index:1000;}
.wrapper .top .vision a{font-size:20px; font-weight:bold;color:#857913; text-decoration:none; padding-right:10px;}
#szgmc_menu{ z-index:10000;
display: none;
position: absolute;
background:url(../images/dropdownbg.png) no-repeat; width:802px; height:56px;
margin-left:20px;   
}
#szgmc_menu .top_arrow{background:url(../images/arrow.png) no-repeat; width:50px; height:8px; margin-top:-7px;position:absolute;left:8%;}
.dropdown_menu ul {
    display: inline;
    float: left;
    font-size: 12px;
    list-style: none outside none;
    padding: 0;
    position: relative; margin-left:30px;
}

.dropdown_menu ul li.no_divider {
    background: none repeat scroll 0 0 transparent;
    float: left;
}
.dropdown_menu ul li a {
    color: #EECB3B;
    float: left;
    font-weight: normal;
    text-decoration: none;
}
.dropdown_menu a:hover {
    color: #fff;
    float: left;
    font-weight: normal;
    text-decoration: none;
}

.dropdown_menu ul li {
    background: url("../images/dropdown_divider.png") no-repeat scroll 0 0 transparent;
    float: left;
    margin-left: 0;
    margin-top: 10px;
}

.dropdown_menu li a span {
    float: left;
    padding: 5px 24px; 
}
.dropdown_menu ul .p_top{ padding-top:10px;}
#founder_menu{ z-index:10000;
display: none;
  position: absolute;
 background:url(../images/dropdownbg.png) no-repeat; width:802px; height:56px;margin-left:20px; 
}

.dropdown_menu a.current {
	color: #fff;
    float: left;
	font-weight: bold;
    text-decoration: none;
}

#about_menu{ z-index:10000;
display: none;
  position: absolute;
 background:url(../images/dropdownbg.png) no-repeat; width:802px; height:56px;margin-left:20px; 
}
#about_menu .top_arrow{background:url(../images/arrow.png) no-repeat; width:50px; height:8px; margin-top:-7px;position:absolute;
left:42%;}

#founder_menu .top_arrow{background:url(../images/arrow.png) no-repeat; width:50px; height:8px; margin-top:-7px;position:absolute;
left:25%;}

#archi_menu{ z-index:10000;
display: none;
  position: absolute;
 background:url(../images/dropdownbg.png) no-repeat; width:802px; height:56px;margin-left:20px; 
}
#archi_menu .top_arrow{background:url(../images/arrow.png) no-repeat; width:50px; height:8px; margin-top:-7px;position:absolute;
left:60%;}

.wrapper .content{ width:980px;  border:1px solid #ccc; padding-left:10px; color:#000; border-top:0; border-bottom:0; min-height:600px; height:auto; padding-top:10px; padding-right:10px; background:url(../images/background_strip.png) repeat-y scroll center ; background-repeat:repeat-y; margin:0 auto;     }

.wrapper .content .left{width:221px; float:left;}
.wrapper .content .middle{float:left;width:510px; margin-left:24px;}
.wrapper .content .right{width:215px; float:left; margin-left:5px;}
.wrapper .content .single_middle{float:left;width:710px; margin-left:24px;margin-right:24px;}

.wrapper .content .left .side_menu{width:221px;}
.wrapper .content .left .side_menu ul{list-style: none outside none;}
.wrapper .content .left .side_menu ul li{font-size: 12px;font-weight: bold;display:block; text-transform:uppercase; margin-bottom:1px; }
.wrapper .content .left .side_menu ul li a{font-size: 12px;font-weight: bold;display:block; background:url(../images/side_tabs.png) no-repeat; width:201px; height:15px; color:#BC8545; padding:10px; text-decoration:none;}
.wrapper .content .left .side_menu ul li a:hover{font-size: 12px;font-weight: bold;display:block; background:url(../images/side_tabs_mh.png) no-repeat; width:201px; height:15px; color:#BC8545; padding:10px;}
.wrapper .content .left .img { margin:10px 0 0 2px;}
#sub_menu  li a{font-size: 12px;font-weight: bold;display:block; background:url(../images/side_tabs_dropdown.png) no-repeat; width:201px; height:15px; color:#BC8545; padding:10px; text-decoration:none;}
#sub_menu  li{ margin-bottom:0;}
#side_menu ul{
    display: none;
}
#side_menu div { display:block;}
.wrapper .content .middle .content_topbox {
    background-color: #F1F2F6;
    border: 1px solid #CCCCCC;
    float: left;
    width: 480px; padding:10px;
}
.wrapper .content .middle .content_topbox h2{ font-size:16px;color:#BC8545; margin-bottom:10px;}
.wrapper .content .middle .content_topbox .content_img{width:150px; float:left;}
.wrapper .content .middle .content_topbox .content_text{width:320px; float:left; color:#6d6d6d; margin-left:10px;}
.wrapper .content .middle .content_topbox .content_text .read_more{ padding-top:13px;}
.wrapper .content .middle .content_topbox .content_text .read_more a{color:#FF2833;}
.wrapper .content .middle .news_home{width:540px; padding-top:10px;}
.wrapper .content .middle .news_home .news_box {
    background-color: #F1F2F6;
    border: 1px solid #CCCCCC;
    float: left;
    width: 480px; padding:10px; 
}
.wrapper .content .middle .news_home .news_box .news_text{width:340px; float:left; color:#6d6d6d; margin-left:10px; margin-right:10px;}
.wrapper .content .middle .news_home .news_box .news_text .news_title{color:#BC8545; margin-bottom:10px; font-size:12px;}
.wrapper .content .middle .news_home .news_box .news_text .news_title a{color:#BC8545;}
.wrapper .content .middle .news_home .news_box .news_img{width:112px; float:left;background-color: #D0D2DE;
    border: 1px solid #CCCCCC; padding:3px; }
.wrapper .content .middle .news_home .news_box .news_text .read_more a{color:#FF2833;}
.wrapper .content .middle .news_home .line{ text-align: center; width:100%; margin:5px 0 5px}
.wrapper .content .middle .news_home .line img{width:505px;}

.news_button {
    background: url("../images/news_button.png") no-repeat scroll left top transparent;
    border: 0 none;
    color: #FF2833;
    float: left;
    font-size: 12px;
    font-weight: bold;
    height: 14px;
    margin: 0;
    padding: 8px 0;
    text-align: center;
    text-decoration: none;
    width: 113px; margin-top:10px; text-transform:uppercase;
}
.wrapper .content .right .prayer_timing{ background:url(../images/prayertimings.jpg) no-repeat; width:222px; height:167px; color:#22284C; padding-top:80px; margin-bottom:10px;}
.wrapper .content .right .prayer_timing .prayer_l {
    clear: left;
    float: left;
    font-weight: bold;
    padding-left: 70px; padding-bottom:4px;
}

.wrapper .content .right .prayer_timing .prayer_r {
    clear: right;
    float: right;
    font-weight: bold;
    padding-right: 28px; 
}


.content_bottom{ background:url(../images/bottom.png) no-repeat; width:1004px; height:25px; margin:0 auto; }
.footer_bg{ background:url(../images/footerbg.png) repeat-x; width:100%; height:80px; padding-top:10px;} 
.footer {
    background: url("../images/footer.png") no-repeat scroll 0 0 transparent;
   
    height: 41px; margin:0 auto; 
   
    text-align: left;
    width: 1000px;
}

.footer .footer_menu { margin:0 auto;
}

.footer .footer_menu ul {
    display: inline;
    float: left;
    font-size: 12px;
    list-style: none outside none;
    padding: 0;
    position: relative;
}

.footer .footer_menu ul li.no_divider {
    background: none repeat scroll 0 0 transparent;
    float: left;
}
.footer .footer_menu ul li a {
    color: #BC8545;
    float: left;
    font-weight: normal;
    text-decoration: none;
}
.footer .footer_menu ul li a:hover {
    color: #fff;
    float: left;
    font-weight: normal;
    text-decoration: none;
}
.footer .footer_menu ul li .current {
    color: #fff;
    float: left;
    font-weight: normal;
    text-decoration: none;
}
.footer .footer_menu ul li {
    background: url("../images/divider.png") no-repeat scroll 0 0 transparent;
    float: left;
    margin-left: 0;
    margin-top: 10px;
}

.footer .footer_menu li a span {
    float: left;
    padding: 5px 19px; text-transform:uppercase;
}
.footer .footer_menu li .ptop{ padding-top:0;}

#copyright {
    color: #BC8545;
    font-size: 10px;
    text-align: center;
    width: 100%; float:left;
}

#copyright span {
    color: #BC8545;
    font-size: 10px;
    text-decoration: none;
}

.wrapper .content .middle .news_home .news_box_expanded {
    background-color: #F1F2F6;
    border: 1px solid #CCCCCC;
    float: left;
    width: 100%; padding:10px; 
}
.wrapper .content .middle .news_home .news_box_expanded .news_text{width:340px; float:left; color:#6d6d6d; margin-left:10px; margin-right:10px;}
.wrapper .content .middle .news_home .news_box_expanded .news_text .news_title{color:#BC8545; margin-bottom:10px; font-size:12px;}
.wrapper .content .middle .news_home .news_box_expanded .news_text .news_title a{color:#BC8545;}
.wrapper .content .middle .news_home .news_box_expanded .news_img{width:112px; float:left;background-color: #D0D2DE;
    border: 1px solid #CCCCCC; padding:3px; }
.wrapper .content .middle .news_home .news_box_expanded .news_text .read_more a{color:#FF2833;}


div.news_item {
	background-color: #F1F2F6;
    border: 1px solid #CCCCCC;
    float: left;
    width: 480px;
	padding:10px; 
}

div.news_item div.news_content {
float: left; 
width: 70%;
}
div.news_item div.image {
float: left; 
width: 25%;
background-color: #D0D2DE;
border: 1px solid #CCCCCC; 
padding:3px;
}

div.news_item div.news_content p{
margin: 10px;
}

.news_text{width:340px; float:left; color:#6d6d6d; margin-left:10px; margin-right:10px;}

div.news_item_single {
    float: left;
    width: 100%;
	padding:10px; 
}

div.news_item_single div.news_content {
float: left; 
width: 100%;
}

div.news_item_single div.news_content p{
	color:#6d6d6d; margin-left:10px; margin-right:10px;
}

.general_body_content {
	color:#6d6d6d;
}

.general_body_title {
	color:#C5A317; font-size: 18px; font-weight: bold;
	text-shadow: 0 1px 1px #FFF;
}

#news_home_heading{ background:url(../images/news_heading.png) no-repeat ; width:428px; padding:10px; height:27px;color:#BC8545; padding-left:65px; font-size:16px; font-weight:bold;}


.news_item_title{color:#BC8545; margin-bottom:10px; font-size:12px;}
.news_item_title a{color:#BC8545;}
div.news_item span.read_more a{color:#FF2833;}

.content_inside_image {
float:right; margin: 0 0 15px 15px;
background-color: #D0D2DE;
border: 1px solid #CCCCCC;
padding: 3px;
}

.bottom_line{ text-align: center; width:100%; margin:5px 0 5px}
.bottom_line img{width:505px;}

/* .ministry_logo {width:220px; border: 1px solid #CCCCCC; margin-bottom:15px;height:85px;} */

.ministry_logo {height: 85px; min-width: 220px;  border: 1px solid #CCCCCC; margin-bottom:15px; }

div.general_body_content p{
margin-bottom: 10px;
text-align:justify;
text-justify:inter-word;
}

div.general_body_content p img {
outline:none;
transition: all 0.25s ease-in-out;
-webkit-transition: all 0.25s ease-in-out;
-moz-transition: all 0.25s ease-in-out;
border: solid 2px #D7D9E5;
border-radius: 3px;
margin-left: 5px;
margin-bottom: 5px;
}



.general_body_content ul li { list-style: none; padding: 8px; float:left; width:100%;  border-top: 1px solid #E4E4E4; border-left: 1px solid #E4E4E4; border-right: 1px solid #E4E4E4; background-color:#F7F8FA; }
.general_body_content ul li.first { background-color:#F7F8FA; }
.general_body_content ul li.second { background-color:#FFF; }
.general_body_content ul li:last-child {
border-bottom: 1px solid #E4E4E4;
}

div.general_body_content a{
color:#BC8545;
}
div.general_body_content a:hover{
color:#877535;
}




/*mani edited padding*/
.footer .footer_menu li a span {
    float: left;
    padding: 5px 15px; text-transform:uppercase;
}
/*mani login form begins*/
.heading{font-size: 16px; color:#D2A118; font-weight:bold;margin-left:20px;}
#login{width:760px;}
#login h3{color:#D2A118; font-size:12px; margin-left:25px;}
#login .login_sidebar{float:left;width:230px; margin-left:20px; margin-top:10px;}
#login  #acloginpod {
    background: url("/en/images/acloginpodbg.gif") repeat-x scroll 0 0 #EBEBEB;
    border: 1px solid #D3D3D3;
    
    width: 462px; margin-top:15px; margin-left:20px;float:left;
}
#acloginpod .acloginform {
    margin: 8px 20px 8px 10px; border:0;width:100%;
}
#acloginpod .login_image{width:140px; float:left;}
#acloginpod .fieldset{ padding-top:15px;}
#acloginpod form, #acloginpod fieldset {
    margin: 0 !important;
    padding: 0 !important; border:0;
}

 .acloginbttn {
    background: url("/en/images/buttons.png") no-repeat -174px -3px  ;
    border:0;
    height: 45px;
    padding:18px 0;
    width: 121px; color:#000000; font-weight:bold;
}
/*.acloginbttn:hover{ background: url("/en/images/buttons.png") no-repeat -174px -46px  ;
    border:0;
    height: 45px;
    padding:0px 0 5px;
    width: 121px; color:#fff; font-weight:bold; }*/
#acloginpod label {
    color: #AEB0AF;
    display: block;
    font-size: 12px;
    margin-bottom: 3px;float:left;width:80px; padding-top:2px; 
}
#acloginpod input.textinput {
    background: url("/en/images/textinputbg.gif") repeat-x scroll 0 0 #FFFFFF;
    border: 1px solid #CEB139;
    color: #AEB0AF;
    font-size: 12px;
    margin-bottom: 10px;
    padding: 5px 0;
    text-indent: 7px;
    width: 200px;; float:left; height:24px;
}
#login .download{width:740px; margin-left:20px; height:auto;  margin-top:15px;}
#login .download .download_image{width:140px; float:left; text-align:center; padding:20px 0;border:2px solid #ccc;font-size: 16px; color:#D2A118; font-weight:bold; }
#login .download .download_image img{ margin-top:5px;}
#login .download .download_content{width:580px; float:left;}
#login .download .download_content .th{width:110px; float:left; font-weight:bold; color:#6d6d6d; border:1px solid #ccc; padding:10px 10px; text-align:center; border-bottom:0;}
#login .download .download_content .td{width:110px; float:left;  color:#6d6d6d; border:1px solid #ccc; padding:10px 10px; text-align:center; border-bottom:0; }
#login .download .download_content .border_right{ border-right:1px solid #ccc;}
#login .download .download_content .border_bottom{ border-bottom:1px solid #ccc;}
#login .download .download_content a{ color:#6d6d6d; text-decoration:none}
/* login form ends */



div.single_middle div.saidby {
border-right: #FBD850 solid 1px;
border-left: #FBD850 solid 1px;
border-bottom: #FBD850 solid 1px;
/*border: 1px solid #FBD850*/
/* width: 715px; 
margin-bottom: 10px; */

background: #fdf5ce url(images/ui-bg_glass_100_fdf5ce_1x400.png) 50% 50% repeat-x; 

}

div.single_middle div.saidby p{
}

div.single_middle div.saidby p img{
margin-right: 15px;
border: #BC8545 solid 5px;
/* margin-bottom: 15px; */
}

div.single_middle div.saidby span{
vertical-align:top;

color:#877535;
font-size: 16px;
font-weight: bold;
}


a.opened_tab {
background:url(/en/images/buttons_openclose.png) 0 -31px;
display:block;
height:31px;
width:35px;
}

a.closed_tab {
background:url(/en/images/buttons_openclose.png);
display:block;
height:31px;
width:35px;
}

#accordionGiftLelo h3 span {
font-size: 12px;
color:#333333;
font-weight:normal;
}



/* Media Tour form*/
.yellow{color:#BA9F14;}
.p_left{ margin-left:6px;}
.reg_form {
    float: left;
    width: 700px; margin-left:20px; margin-top:10px;
}
.reg_form .text{width:450px; float:left; }
.reg_form .login_sidebar{float:left;width:230px; margin-left:20px;margin-bottom:10px; }
.even {
    background-color: #F7F8FA; border:1px solid #ccc;
}
.reg_form .border_bottom{ border-bottom:1px solid #ccc;}
.odd {
    background-color: #fff;border:1px solid #ccc; border-top:0; border-bottom:0;
}
.submit_odd {
    background-color: #fff;border:1px solid #ccc; border-top:0; 
}
.input_row {
    clear: both;
    float: left;
    padding:10px;
    width: 671px; margin-right:7px;
}

.input_label_div {
    float: left;
    width: 370px; 
}
.input_label_div span {
    float: left;
}
.red {
    color: #CC0000;
    float: left;
}
.error {
    color: #CC0000;
    float: left;
    font-size: 12px;
}
.input_row  .input_cls {
    border: 1px solid #CEBA69;
    float: left;
    width: 250px;resize:none;
}
.input_row  .binput_cls {
    border: 1px solid #CEBA69;
    float: left;
    width: 173px;
}
.input_row  input {
    
    direction: ltr;
    margin-left: 3px;
}
.input_row  select {
    border: 1px solid #CEBA69;
    direction: ltr;
    margin-left: 3px;
}
.input_row  textarea{ margin-left:3px;}
p#vtip {
    background-color: white;
    border: 1px solid #D6D1BB;
    display: none;
    font-size: 11px;
    left: 5px;
    padding: 10px;
    position: absolute;
    width: 400px;
    z-index: 9999;
}
p#vtip #vtipArrow {
    left: 5px;
    position: absolute;
    top: -10px;
}
p#vtip span {
    clear: both;
    display: block;
    padding: 5px 0 0 5px;
}
.submit_button{float:right;width:350px; }

.special_dev {
    border: 1px solid #CCCCCC;
    clear: both;
    float: left;
    padding: 20px 5px;
    width: 681px;background:#F7F8FA; margin-top:10px;
}
.input_row_special {
   
    float: left;
    padding:5px 0;
    width: 340px; 
}

.input_row_special .input_label_div {
    float: left;
    width: 100px; padding: 5px;
}
.input_row_special .input_div {
    float: left;
    width: 230px; padding: 5px 0;
}

.input_row_special .input_div .input_cls {
    border: 1px solid #CEBA69;
    float: left;
    width: 175px;
}
.input_row_special .input_div .binput_cls {
    border: 1px solid #CEBA69;
    float: left;
    width: 140px;
}
 input {
    border: 1px solid #CEBA69;
    background:#fff;
    margin-left: 3px;
}
.input_row_special .add{float:right; margin-right:6px;width:75px; background-color:#E8EDE9}
#crew_table{width:670px; overflow:auto;}
.tbl_cls {
    direction: ltr;width:650px; margin:10px;
}
.tbl_cls tr {
    border: 1px solid #CCCCCC;
    padding: 2px;
}
.tbl_cls th {
    border: 1px solid #CCCCCC;
    padding: 2px;font-size:12px;
}
.tbl_cls td {
    border: 1px solid #CCCCCC;
    padding: 2px;font-size:12px;
}
.terms{float:left;width:450px; margin-top:5px;}
.terms_button{float:right; margin-right:38px; margin-top:10px;}
.edu {
    display: none;
}
.ntborder{ border-top:0; }
.nbborder{ border-bottom:0; }
.reg_form .text a{ text-decoration:none; color:#D2A118}
/* Ends */
