
/*.main_box_content .content{ width:980px;  border:1px solid #ccc; padding-left:10px; color:#000; border-top:0; border-bottom:0; min-height:600px; height:auto; padding-top:10px; padding-right:10px; background:url(../images/background_strip.png) repeat-y scroll center ; background-repeat:repeat-y; margin:0 auto;     }
*/

.main_box_content .content .middle{float:left;width:510px; margin-left:24px;}
.main_box_content .content .right{width:215px; float:left; margin-left:5px;}
.main_box_content .content .single_middle{float:left;width:690px; margin-left:24px;margin-right:24px;}

.main_box_content .content  .side_menu{width:221px; margin-left: -39px !important;}
.main_box_content .content  .side_menu ul{list-style: none outside none;}
.main_box_content .content  .side_menu ul li{font-size: 12px;font-weight: bold;display:block; text-transform:uppercase; margin-bottom:1px; }
.main_box_content .content  .side_menu ul li a{font-size: 12px;font-weight: bold;display:block; background:url(../images/side_tabs.png) no-repeat; width:201px; height:15px; color:#BC8545; padding:10px; text-decoration:none; text-shadow: white 0 1px 0;}
.main_box_content .content  .side_menu ul li a:hover, .main_box_content .content .left .side_menu ul li a.selected{font-size: 12px;font-weight: bold;display:block; background:url(../images/side_tabs_mh.png) no-repeat; width:201px; height:15px; color:#BC8545; padding:10px;}
.main_box_content .content  .img { margin:10px 0 0 2px;}

#sub_menu li a{font-size: 12px;font-weight: bold;display:block; background:url(../images/side_tabs_dropdown.png) no-repeat; width:201px; height:15px; color:#BC8545; padding:10px; text-decoration:none;}

#sub_menu li a.selected, #sub_menu li a:hover{color:#743303}

#sub_menu  li{ margin-bottom:0;}
#side_menu ul{
    display: none;
}
#side_menu div { display:block;}
.main_box_content .content .middle .content_topbox {
    background-color: #F1F2F6;
    border: 1px solid #CCCCCC;
    float: left;
    width: 480px; padding:10px;
}
.main_box_content .content .middle .content_topbox h2{ font-size:16px;color:#BC8545; margin-bottom:10px;}
.main_box_content .content .middle .content_topbox .content_img{width:150px; float:left;}
.main_box_content .content .middle .content_topbox .content_text{width:320px; float:left; color:#000000; margin-left:10px;}
.main_box_content .content .middle .content_topbox .content_text .read_more{ padding-top:13px;}
.main_box_content .content .middle .content_topbox .content_text .read_more a{color:#FF2833;}
.main_box_content .content .middle .news_home{width:540px; padding-top:10px;}
.main_box_content .content .middle .news_home .news_box {
    background-color: #F1F2F6;
    border: 1px solid #CCCCCC;
    float: left;
    width: 480px; padding:10px; 
}
.main_box_content .content .middle .news_home .news_box .news_text{width:340px; float:left; color:#000000; margin-left:10px; margin-right:10px;}
.main_box_content .content .middle .news_home .news_box .news_text .news_title{color:#BC8545; margin-bottom:10px; font-size:12px;}
.main_box_content .content .middle .news_home .news_box .news_text .news_title a{color:#BC8545;}
.main_box_content .content .middle .news_home .news_box .news_img{width:112px; float:left;background-color: #D0D2DE;
    border: 1px solid #CCCCCC; padding:3px; }
.main_box_content .content .middle .news_home .news_box .news_text .read_more a{color:#FF2833;}
.main_box_content .content .middle .news_home .line{ text-align: center; width:100%; margin:5px 0 5px}
.main_box_content .content .middle .news_home .line img{width:505px;}

.news_button {
    background: url("../images/news_button.png") no-repeat scroll left top transparent;
    border: 0 none;
    color: #FF2833;
    float: left;
    font-size: 12px;
    font-weight: bold;
    height: 14px;
    margin: 0;
    padding: 8px 0;
    text-align: center;
    text-decoration: none;
    width: 113px; margin-top:10px; text-transform:uppercase;
}
.main_box_content .content .right .prayer_timing{ background:url(../images/prayertimings.jpg) no-repeat; width:222px; height:187px; color:#22284C; padding-top:60px; margin-bottom:10px;}
.main_box_content .content .right .prayer_timing .prayer_l {
    clear: left;
    float: left;
    font-weight: bold;
    padding-left: 35px; padding-bottom:4px;
    
    
}

.main_box_content .content .right .prayer_timing .prayer_r {
    clear: right;
    float: right;
    font-weight: bold;
    padding-right: 35px; 
}



.main_box_content .content .middle .news_home .news_box_expanded {
    background-color: #F1F2F6;
    border: 1px solid #CCCCCC;
    float: left;
    width: 100%; padding:10px; 
}
.main_box_content .content .middle .news_home .news_box_expanded .news_text{width:340px; float:left; color:#000000; margin-left:10px; margin-right:10px;}
.main_box_content .content .middle .news_home .news_box_expanded .news_text .news_title{color:#BC8545; margin-bottom:10px; font-size:12px;}
.main_box_content .content .middle .news_home .news_box_expanded .news_text .news_title a{color:#BC8545;}
.main_box_content .content .middle .news_home .news_box_expanded .news_img{width:112px; float:left;background-color: #D0D2DE;
    border: 1px solid #CCCCCC; padding:3px; }
.main_box_content .content .middle .news_home .news_box_expanded .news_text .read_more a{color:#FF2833;}


div.news_item {
	background-color: #F1F2F6;
    border: 1px solid #CCCCCC;
    float: left;
    width: 480px;
	padding:10px; 
	margin-bottom: 10px;
}

div.news_item div.news_content {
float: left; 
width: 70%;
}
div.news_item div.image {
float: right; 
width: 111px;
height: 111px;
background-color: #D0D2DE;
border: 1px solid #CCCCCC; 
padding:5px;
}

div.news_item div.news_content p{
margin: 10px;
margin-left: 0px;
color: #000000;
text-align: justify;
text-justify:inter-word;
}

.news_text{width:340px; float:left; color:#000000; margin-left:10px; margin-right:10px;}

div.news_item_single {
    float: left;
    width: 100%;
	padding:10px; 
}

div.news_item_single div.news_content {
float: left; 
width: 100%;
}

div.news_item_single div.news_content p{
	color:#000000; margin-left:10px; margin-right:10px;
}

.general_body_content {
    color:#000000;
    font-family: 'open_sansregular';
    font-size: 15px;
    line-height: 21px;    text-align:justify;
}

.general_body_content p.heading{
	font-size: 16px;
	font-weight: bold;
	color: #C7A317;
}


.general_body_title {
	color:#C5A317; font-size: 18px; font-weight: bold;
	text-shadow: 0 1px 1px #FFF;
}

#news_home_heading{ background:url(../images/news_heading.png) no-repeat ; width:428px; padding:10px; height:27px;color:#BC8545; padding-left:65px; font-size:16px; font-weight:bold;}


.news_item_title{color:#BC8545; margin-bottom:10px; font-size:12px; font-weight: bold;}
.news_item_title a{color:#BC8545;}
div.news_item span.read_more a{color:#FF2833;}

.content_inside_image {
float:right; margin: 0 0 15px 15px;
background-color: #D0D2DE;
border: 1px solid #CCCCCC;
padding: 3px;
}

.bottom_line{ text-align: center; width:100%; margin:5px 0 5px}
.bottom_line img{width:505px;}

/* .ministry_logo {width:220px; border: 1px solid #CCCCCC; margin-bottom:15px;height:85px;} */

.ministry_logo {height: 85px; min-width: 220px;  border: 1px solid #CCCCCC; margin-bottom:15px; }

div.general_body_content p{
margin-left: 0px;
margin-bottom: 10px;
text-align:justify !important;
text-justify:inter-word;
}

div.general_body_content img {
outline:none;
transition: all 0.25s ease-in-out;
-webkit-transition: all 0.25s ease-in-out;
-moz-transition: all 0.25s ease-in-out;
/*border: solid 2px #D7D9E5;
border-radius: 3px;*/
margin-left: 10px;
margin-bottom: 5px;
}



.general_body_content ul li { list-style: none; padding: 8px; float:left; width:100%;  border-top: 1px solid #E4E4E4; border-left: 1px solid #E4E4E4; border-right: 1px solid #E4E4E4; background-color:#F7F8FA; }
.general_body_content ul li.first { background-color:#F7F8FA; }
.general_body_content ul li.second { background-color:#FFF; }
.general_body_content ul li:last-child {
border-bottom: 1px solid #E4E4E4;
}

div.general_body_content a{
color:#000;
}
div.general_body_content a:hover{
color:#877535;
}




/*mani edited padding*/
.footer .footer_menu li a span {
    float: left;
    padding: 5px 15px; text-transform:uppercase;
}
/*mani login form begins*/
.heading{font-size: 16px; color:#D2A118; font-weight:bold;margin-left:20px;}
#login{width:760px;}
#login h3{color:#D2A118; font-size:12px; margin-left:25px;}
#login .login_sidebar{float:left;width:230px; margin-left:20px; margin-top:10px;}
#login  #acloginpod {
    background: url("/en/images/acloginpodbg.gif") repeat-x scroll 0 0 #EBEBEB;
    border: 1px solid #D3D3D3;
    
    width: 462px; margin-top:15px; margin-left:20px;float:left;
}
#acloginpod .acloginform {
    margin: 8px 20px 8px 10px; border:0;width:100%;
}
#acloginpod .login_image{width:140px; float:left;}
#acloginpod .fieldset{ padding-top:15px;}
#acloginpod form, #acloginpod fieldset {
    margin: 0 !important;
    padding: 0 !important; border:0;
}

 .acloginbttn {
    background: url("../images/buttons.png") no-repeat -174px -46px  ;
    border:0;
    height: 44px;
    padding:0px 0;
    width: 121px; color:#000000; font-weight:bold; cursor:pointer;
	/*color: #e6dba1;*/
	line-height:0;
}
/*.acloginbttn:hover{ background: url("/en/images/buttons.png") no-repeat -174px -46px  ;
    border:0;
    height: 45px;
    padding:0px 0 5px;
    width: 121px; color:#fff; font-weight:bold; }*/
#acloginpod label {
    color: #AEB0AF;
    display: block;
    font-size: 12px;
    margin-bottom: 3px;float:left;width:80px; padding-top:2px; 
}
#acloginpod input.textinput {
    background: url("/en/images/textinputbg.gif") repeat-x scroll 0 0 #FFFFFF;
    border: 1px solid #CEB139;
    color: #AEB0AF;
    font-size: 12px;
    margin-bottom: 10px;
    padding: 5px 0;
    text-indent: 7px;
    width: 200px;; float:left; height:24px;
}
#login .download{width:740px; margin-left:20px; height:auto;  margin-top:15px;}
#login .download .download_image{width:140px; float:left; text-align:center; padding:20px 0;border:2px solid #ccc;font-size: 16px; color:#D2A118; font-weight:bold; }
#login .download .download_image img{ margin-top:5px;}
#login .download .download_content{width:580px; float:left;}
#login .download .download_content .th{width:110px; float:left; font-weight:bold; color:#000000; border:1px solid #ccc; padding:10px 10px; text-align:center; border-bottom:0;}
#login .download .download_content .td{width:110px; float:left;  color:#000000; border:1px solid #ccc; padding:15px 10px; text-align:center; border-bottom:0; height:50px;}
#login .download .download_content .border_right{ border-right:1px solid #ccc;}
#login .download .download_content .border_bottom{ border-bottom:1px solid #ccc;}
#login .download .download_content a{ color:#000000; text-decoration:none}
/* login form ends */



div.single_middle div.saidby {
border-right: #FBD850 solid 1px;
border-left: #FBD850 solid 1px;
border-bottom: #FBD850 solid 1px;
/*border: 1px solid #FBD850*/
/* width: 715px; 
margin-bottom: 10px; */

background: #fdf5ce url(images/ui-bg_glass_100_fdf5ce_1x400.png) 50% 50% repeat-x; 

}

div.single_middle div.saidby p{
	text-align:justify;
}

div.single_middle div.saidby p img{
margin-right: 15px;
border: #BC8545 solid 5px;
/* margin-bottom: 15px; */
}

div.single_middle div.saidby span{
vertical-align:top;

color:#877535;
font-size: 16px;
font-weight: bold;
}


a.opened_tab {
background:url(/en/images/buttons_openclose.png) 0 -31px;
display:block;
height:31px;
width:35px;
}

a.closed_tab {
background:url(/en/images/buttons_openclose.png);
display:block;
height:31px;
width:35px;
}

#accordionGiftLelo h3 span {
font-size: 12px;
color:#333333;
font-weight:normal;
}



/* Media Tour form*/



.yellow{color:#BA9F14;}
.p_left{ margin-left:6px;}
.reg_form {
    float: left;
    width: 700px; margin-left:3px; margin-top:10px; margin-bottom:20px; font-size:12px;
}
.reg_form .text{width:690px; float:left; }
.reg_form .login_sidebar{float:left;width:230px; margin-left:20px;margin-bottom:10px; }
.even {
    background-color: #F7F8FA; border:1px solid #ccc;
}
.reg_form .border_bottom{ border-bottom:1px solid #ccc;}
.odd {
    background-color: #fff;border:1px solid #ccc; border-top:0; border-bottom:0;
}
.submit_odd {
    background-color: #fff;border:1px solid #ccc; border-top:0; 
}

.terms{  float: left;
    margin-top: 5px;
    width: 350px; direction:ltr; text-align:left;}
.terms_button{float:left; margin-left:14px; margin-top:10px;}
.terms p{ float:right; direction:rtl;width:210px; }
/*.input_div{ float:right; direction:rtl;}*/

.input_row {
    clear: both;
    float: left;
    padding:10px;
    width: 671px; margin-right:7px;
}
.iwidth{ float:left; width:260px;}
.input_label_div {
    float: left;
    width: 210px; 
}
.input_label_div_arb {
    float: right;
    direction:rtl; text-align:right; font-family:tahoma;
	width:170px;
}
.input_label_div_arb .red {
    color: #CC0000;
    text-align:right;
}
.input_label_div_arb span { text-align:right; direction:rtl;
    
}
.input_label_div span {
    float: left;
}
.input_label_div .red {
    color: #CC0000;
    float: left;
}
.error {

    color: #CC0000;
    margin-left:3px;
    font-size: 12px;
}
.input_div{float:left; width:250px;}
.input_row  .input_cls {
    border: 1px solid #CEBA69;
    float: left; 
    width: 240px;resize:none;
}
.input_row  .binput_cls {
    border: 1px solid #CEBA69;
    float: left;
    width: 173px;
}
.input_row  input {
    display: inline-block;
    vertical-align: middle;
    direction: ltr;
    margin-left: 3px;
}
.input_row  select {
    border: 1px solid #CEBA69;
    direction: ltr;
    margin-left: 3px; 
}

.arb{direction:rtl; text-align:left;}

#table table { border:1px solid #640204;}
#table table th{ background: rgba(150,0,10,1);
background: -moz-linear-gradient(top, rgba(150,0,10,1) 0%, rgba(100,2,4,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(150,0,10,1)), color-stop(100%, rgba(100,2,4,1)));
background: -webkit-linear-gradient(top, rgba(150,0,10,1) 0%, rgba(100,2,4,1) 100%);
background: -o-linear-gradient(top, rgba(150,0,10,1) 0%, rgba(100,2,4,1) 100%);
background: -ms-linear-gradient(top, rgba(150,0,10,1) 0%, rgba(100,2,4,1) 100%);
background: linear-gradient(to bottom, rgba(150,0,10,1) 0%, rgba(100,2,4,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#96000a', endColorstr='#640204', GradientType=0 ); border:1px solid #640204; height:32px; padding:2px; text-align:center; text-align: center;
color: #e6dba1;
font-size: 16px;
font-family: 'open_sanssemibold';}

#table table .th{  height:79px;border:1px solid #C7A317; padding:0px; text-align:center; text-shadow:0 1px 0 white; color:#986F2D; font-size:16px; font-weight:bold;}
#table table p{ text-align:center !important; margin:0; font-size:14px !important;}
#table table td{ padding: 9px 0 5px 0;
margin-right: 1px;
background-color: #e6dba1;
olor: #464646;
font-weight:normal;
text-align: center;
font-family: 'open_sansregular';
font-size:14px;
}
#table table td span {color: #464646;}
#table table tr td:first-child + td{ background-color: #e6dba1; text-align:center;}
#table table td:first-child + td + td{  padding:7px 0 ; text-align:center;}
#table table tr td:first-child + td + td + td{ background:#F9F1CC; text-align:center;};}
#table table tr td:first-child + td{ background:#F9F1CC;}

.frm_div{float:left; padding-bottom:10px; width:427px; 
border:0px #ccc solid; border-top:0px; color:#000; margin-top:15px; }	
.frm_head{background:url(../images/frm_bg.png) no-repeat; height:33px;width:715px;}
.frm_title{clear:both; width:427px; float:left; font-size:16px; color:#000; padding:9px 0px 20px 15px; text-align:left;}

.f_title{float:left; width:110px; padding:2px 2px 2px 15px;}
.f_input{float:left; width:275px; padding:2px; padding-bottom:8px;}
.f_input input{float:left; width:525px;}
.f_input textarea{float:left; width:250px; resize: none;}
.frm_middle { background:url(../images/frm_bg_middle.png) repeat-y; width:715px; height:395px; }
.frm_bottom { background:url(../images/frm_bg_bottom.png) repeat-y; width:716px; height:13px;}
.firsttable{
	width:300px;border-top: 1px solid #E4E4E4;border-left: 1px solid #E4E4E4;border-right: 1px solid #E4E4E4;
}

.prayer_seemore a {
position:relative;
z-index:9;
float:right;
color: #2b2b2b;
font-size: 13px;
margin: 15px 16px 15px 0px;
font-family: 'open_sanssemibold';
}

.prayer_seeless a {
position:relative;
z-index:9;
float:right;
color: #2b2b2b;
font-size: 13px;
margin: 15px 16px 15px 0px;
font-family: 'open_sanssemibold';
}

.register_box1 { float:right; width:195px;}
.tour_bnt { float:left;}
.tour_bnt a {  float:left; width:155px; height:41px; background:url(../images/Tour_Operator_Registration_button.png) no-repeat;
color: #000000;
font-weight: bold;
cursor: pointer;
color: #e6dba1;
font-size:12px;
padding:3px 20px 0 20px;
margin:0 0 5px 0;
}
.english { float:left;}
.arbi { float:right;}

.tour_bnt_login a {
	 float:left; width:155px; height:24px; background:url(../images/login_button.png) no-repeat;
color: #000000;
font-weight: bold;
cursor: pointer;
color: #e6dba1;
font-size:12px;
padding:8px 20px 0 20px;
}

.btnsCont .register_box1{
    background: url("/en/images/Tour_Operator_Registration_button.png") no-repeat !important;
    border:0;
    height: 44px;
    width: 195px; 
	color:#000000; 
float:left;
	line-height:15px;
	padding: 7px 0px 0px 14px;
}
.btnsCont .register_box1.old_yello_bg_logo{
  text-align: center;
  padding-top: 14px;
  padding-left: 0px;
}
.btnsCont .register_box2{
    background: url("/en/images/login_button.png") no-repeat;
    border:0;
     height: 32px;
    width: 207px; 
	color:#000000; 
float:left;
	padding: 7px 0px 0px 43px;
}

.btnsCont .register_box1 a,.btnsCont .register_box2 a{
	color: #e6dba1 !important;
	width: 199px;
	display: block;
	font-size: 12px;
	text-decoration: none;
	cursor: pointer;
}
.btnsCont .register_box2 a{
	margin-right: 103px;
}
.captcha {
padding-top: 10px;
float: left;
width: 240px;
}
.no{
    display: none;
}
.td_bg{ background-color:#fdeed1; padding:10px; padding-left:5px;}
.td_bg1{ background-color:#fdeed1; padding:30px 10px; padding-left:5px;}
#tab{border:1px solid #C7A317; border-bottom:none; border-right:none; margin-bottom:10px; min-height:157px;}
#tab td{border:1px solid #c7a317; border-left:none;border-top:none; text-align:left}


#links_en{
	background:none;
	display:inline;
}
#links_en li{
	background:url(../images/li_arrow.png) no-repeat 0px 10px;
	border:none;
	display:inline!important;
	text-align:left;
	
	float:none;
}
#links_en li a{
	text-decoration:none;padding-left:5px;text-align:left;direction:ltr
}
#links_ar{
	background:none;
	display:inline;
}
#links_ar li{
	background:url(../images/arrow_arabic.png) no-repeat 0px 10px;
	border:none;
	display:inline!important;
	
	float:none;
}
#links_ar li a{
	text-decoration:none;padding-left:5px;
}

/* Carrers */

#dataTable{ margin-left:5px;}

#dataTable td{ padding-top:5px;}
.special_dev a{ margin-top:10px;}
#dataTable input {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CEBA69;
    margin-left: 0px;width:160px;
}
#dataTable1{ margin-left:5px;}

#dataTable1 td{ padding-top:5px;}
#dataTable1 input {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CEBA69;
    margin-left: 0px;width:160px;
}
#dataTable2{ margin-left:5px;}

#dataTable2 td{ padding-top:5px;width:120px; padding-right:5px;}
#dataTable2 .row1{width:100px;}
#dataTable2 input {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CEBA69;
    margin-left: 0px;width:160px;
}

#dataTable2 select {
    border: 1px solid #CEBA69;
    float: left;
    resize: none;
    width: 170px;
}
#dataTable3{ margin-left:5px;}

#dataTable3 td{ padding-top:5px;}

#dataTable3 input {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CEBA69;
    margin-left: 0px;width:150px;
}

#dataTable3td{ padding-top:5px;width:120px; padding-right:10px;}
#dataTable3 textarea{width:465px; resize:none;border: 1px solid #CEBA69;height:70px;}
.white_bg{ background:#FFFFFF;}
.reg_form .border_top{ border-top:1px solid #ccc;}
#rela{ display:none;}
/* Ends */

.special_dev {
    border: 1px solid #CCCCCC;
    clear: both;
    float: left;
    padding: 20px 5px;
    width: 681px;background:#F7F8FA; margin-top:10px;
}
.input_row_special {
   
    float: left;
    padding:5px 0;
    width: 671px; 
}

.input_row_special .input_label_div {
    float: left;
    width: 210px; padding: 5px;
}
.input_row_special .input_div {
    float: left;
    width: 230px; padding: 5px 0;
}

.input_row_special .input_div .input_cls {
    border: 1px solid #CEBA69;
    float: left;
    width: 240px;
}
.input_row_special .input_div .binput_cls {
    border: 1px solid #CEBA69;
    float: left;
    width: 140px;
}
 input {
    border: 1px solid #CEBA69;
    background:#fff;
    margin-left: 3px;
}

.input_row_special .add{float:right; margin-right:6px;width:75px; background-color:#E8EDE9}
#crew_table{width:670px; overflow:auto;}
.tbl_cls {
    direction: ltr;width:650px; margin:10px;
}
.tbl_cls tr {
    border: 1px solid #CCCCCC;
    padding: 2px;
}
.tbl_cls th {
    border: 1px solid #CCCCCC;
    padding: 2px;font-size:12px;
}
.tbl_cls td {
    border: 1px solid #CCCCCC;
    padding: 2px;font-size:12px;
}

.input_row_dob {
    clear: both;
    float: left;
    padding:10px;
    width: 671px; margin-right:7px; 
	position:relative
}
.input_row_dob  .input_cls {
    border: 1px solid #CEBA69;

    float: left; 
    width: 250px;resize:none;
}
.input_row_dob  input {
    
    direction: rtl;
    margin-left: 3px;
}

.book a {
    color: #000!important;
    text-decoration: none;
    font-weight: bold;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 33px;
    display: block;
}
.book {
    background: url(../images/btn.png) no-repeat 0px 0px;
    margin: 0 auto;
    margin-top: 40px;
    border: 0;
    width: 251px;
    height: 35px;
}
ul.bullet-points{color: #464646; padding-right: 15px;}
ul.bullet-points li{color:#464646;  }
ul.bullet-points li {  color: #464646;  background: none !important;  border: none !important; font-size: 16px; list-style: disc; }

.clear .chk{
	margin-top:-60px;
}