.content-right{ float: none !important; width: 100% !important; margin: 0;}
.video_top{background: none;}
#list_videos{background: none; width: 100%; padding: 0;}
#vidsCont{width:100%;}
.carousel ul{text-align: center;}
.carousel ul li{float: none; display: inline-block; margin: 0 3px 8px 3px; vertical-align: top;}
.video_bottom{background: none;}
.player-wrap{width: 90%;}
.player-wrap {
    width: 91%;
    margin: 0 auto;
}
.single_middle{width: 100% !important;}
.main_box_content .content .single_middle{ margin-left: 0;}
.single_middle h2{ margin: 0 auto 15px auto; width:91%;}
.carousel li a>span{display: inline-block !important; max-height: 33px;  overflow: hidden;}
