
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * General page setup
 */
body{
	font: 80%/1.45em "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	color: #333;
	background-color: #fff;
}


#container {
	width: 800px;
	margin: 30px auto;
	padding: 0;
}



.css_right {
	float: right;
}

.css_left {
	float: left;
}