.chromestyle{
width: 99.8%;
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:bold;
}

.chromestyle:after{ /*Add margin between menu and rest of content in Firefox*/
content: "."; 
display: block; 
height: 0; 
clear: both; 
visibility: hidden;
}

.chromestyle ul{
border: 1px solid #BBB;
width: 100%;
background: url(chromebg.gif) center center repeat-x; /*THEME CHANGE HERE*/
padding: 4px 0;
margin: 0;
text-align: left; /*set value to "left", "center", or "right"*/
}

.chromestyle ul li{
display: inline;
}

.chromestyle ul li a{
/*color:#009900;*/
padding: 4px 20px;
margin: 0;
text-decoration: none;
color:#1B3E5A;
border-right: 2px solid #DADADA;
}

.chromestyle ul li a:hover, .chromestyle ul li a.selected{ 
/*script dynamically adds a class of "selected" to the current active menu item*/
background: url(chromebg-over.gif) center center repeat-x;
color:#000000;
  /*THEME CHANGE HERE*/
}

.current_menu{background: url(chromebg-over.gif) center center repeat-x;}

/* ######### Style for Drop Down Menu ######### */

.dropmenudiv{
position:absolute;
top: 0;
border: 1px solid #BBB; /*THEME CHANGE HERE*/
border-bottom-width: 0;
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
font-size:12px;
line-height:18px;
z-index:100;
background-color: white;
width: 200px;
visibility: hidden;
}


.dropmenudiv a{
width: auto;
display: block;
text-indent: 3px;
border-bottom: 1px solid #BBB; /*THEME CHANGE HERE*/
padding: 2px 0;
text-decoration: none;
font-size:12px;
color: black;
}

* html .dropmenudiv a{ /*IE only hack*/
width: 100%;
}

.dropmenudiv a:hover{ /*THEME CHANGE HERE*/
background-color: #F0F0F0;
}