body{
	font: 80%/1.45em "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	color: #333;
	background-color: #fff;
}
a {border:0px; color:#000033}
img {border:0px;}
input{
    border: 1px solid #AC9292;color:#333333; text-align:right;
/*    text-align:right;*/
}
select{
    border: 1px solid #AC9292;color:#333333;
/*    text-align:right;*/
}
textarea{
    border: 1px solid #AC9292;color:#333333;
/*         text-align:right;*/
}
* html .hideSelects select { visibility: hidden; }
.icon{width:15px; height:15px; border:1px #ccc solid; margin:2px; vertical-align: middle;}

.clear{ clear:both;}
.header_div{width:100%; height:81px;color:#D45881}
.header_left{float:left;width:64%;}
.header_right1{float:left;width:25%;}
.header_right2{
    float:right;width:10%;
/*    text-align:right;*/
}
.header_img{ height:80px; width:240px;}

.tbl_tyle{border:1px #ccc solid; background:#fff; color:#666666; width:500px;}
.tbl_tyle td{border:1px #ccc solid; padding:1px 5px 1px 5px; color:#666666; }
.tbl_tyle th{
    border:1px #ccc solid; padding:1px 5px 1px 5px; color:#666666;
/*            text-align:left; */
}
.tbl_tyle .td_title{width:250px;}
.tbl_tyle .td_value{width:300px;}


.menu_div{float:left;300px; padding-right:20px;}	
.menu_list_table{ border:1px #ccc solid; padding:5px; color:#666666; font-weight:normal; }	
.menu_list_table tr{ padding:3px; border:1px #ccc solid; background-color:#FFFFFF;}
.menu_list_table th{ padding:3px 20px 2px 20px; border:1px #ccc solid;  }
.menu_list_table td{ padding:3px; border:1px #ccc solid; text-align:left; }


.menu_list_table input{text-decoration: none; padding:1px #666 solid; width:150px;}
.menu_list_table select{text-decoration: none; padding:1px #666 solid; width:150px; height:25px;}
.menu_list_table input.btn_admin{float:right; width:150px; text-align:center}
.myDragClass{ background-color:#CCCCCC; color:#000033;}
.dragHandle {
}
.showDragHandle {
background-image:url("/admin/images/updown2.gif");
background-position:center center;
background-repeat:no-repeat;
cursor:move;
}


.css_right {
	float: right;
}

.css_left {
	float: left;
}
#my_table{	font: 80%/1.45em "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;}

li{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
}
td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	line-height: 22px;
	font-weight: normal;
	color: 111111;
}

th {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
}

.bodystyle {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
}
.pageholder{
margin:0px; 
background: #FFFFFF; 
width: 1000px; 
align: center;
}
.ouline {
	border: 1px solid #5A88AC;
	background-color:#E4F0FA;
}
.vertmenu{
	float:center; 
	width:900px
}
.voutline {
	BORDER-RIGHT: #cccccc 1px solid;  BORDER-TOP: #cccccc 1px solid;  BACKGROUND: #ffffff;  BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid; width: 200px; height: 22px 
}
.vmenu a {
	display: block;	
	width: 180px;
    height: 20px;
	text-decoration: none;
	text-align: LEFT;
	font-family: Arial;
	font-size: 12px;
	font-weight: 500;
	background-position: center;
	vertical-align: middle;
	margin:0px 0px 0px 10px;
    }
.vmenu a:link { text-decoration: none; color: #000000 }
.vmenu a:visited { text-decoration: none; color: #000000 }
.vmenu a:active { text-decoration: nove; color: #0000ff }
.vmenu a:hover {color: #cccccc;background: #0000ff; text-decoration: underline}
.vmenu td {
	background: #FFFFFF none;
	text-align: center;
	float: center;
	margin:0px 0px 0px 0px;
	text-indent: 0pt;
	width:200px; 
	height:20px;
    }


.file_upload_table{ width:100%;}
.file_upload_table td{ border:1px #ccc solid; padding:0 5px 0 5px; color:#000066}



/*- Menu Tabs B--------------------------- */

    #tabsB {
      float:left;
      width:100%;
     /* background:#F4F4F4;*/
      font-size:93%;
      line-height:normal;
	  font-weight:bold;
      }
    #tabsB ul {
        margin:0;
        padding:10px 10px 0 50px;
        list-style:none;
      }
    #tabsB li {
      display:inline;
      margin:0;
      padding:0;
      }
	  
	  
/*

	#tabsB  li ul {
    display: none;
}

#tabsB li:hover > ul {
    display: block;
}

#tabsB ul#nav li ul {
    display: none;
}

#tabsB ul#nav li:hover > ul {
    display: block;
}
*/



    #tabsB a {
      float:left;
      background:url("tableftB.gif") no-repeat left top;
      margin:0;
      padding:0 0 0 4px;
      text-decoration:none;
      }
    #tabsB a span {
      float:left;
      display:block;
      background:url("tabrightB.gif") no-repeat right top;
      padding:5px 15px 4px 6px;
      color:#009900;
      }
    /* Commented Backslash Hack hides rule from IE5-Mac \*/
    #tabsB a span {float:none;}
    /* End IE5-Mac hack */
    #tabsB a:hover span {
      color:#FF6633;
      }
    #tabsB a:hover {
      background-position:0% -42px;
      }
    #tabsB a:hover span {
      background-position:100% -42px;
      }

        #tabsB #current a {
                background-position:0% -42px;
        }
        #tabsB #current a span {
                background-position:100% -42px;
        }
-->





.input_field_row
{
width:100%;
height:20px;
margin-top:5px;
/*background-color:#DFEEF9;*/

}

.input_title
{
float:left;width:550px; height:20px; text-align:left; padding-left:50px;padding-top:2px; font-weight:bold;
color:#666666;
}


.input_field
{
float:left;height:20px; text-align:left; padding-left:50px;padding-top:2px;
}




.input_field_row_text_area
{
width:100%;
height:100px;
margin-top:5px;
/*background-color:#DFEEF9;*/
}

.input_field_text_area
{
float:left; height:100px; text-align:left; padding-left:50px;
}



/*************************    file upload  **************/

#upload_site_images{
	/*margin:30px 200px;*/
	margin-bottom:5px;
	padding:5px;
	font-weight:bold; font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	text-align:center;
	background:#f2f2f2;
	color:#3366cc;
	border:1px solid #ccc;
	width:150px;
	cursor:pointer !important;
	-moz-border-radius:5px; -webkit-border-radius:5px;
}


.darkbg{
	background:#ddd !important;
}
#status_site_images{
	font-family:Arial, Helvetica, sans-serif; font-size:10px; color:#CC3333;
        padding:5px;
}

ul#files_site_images{ list-style:none; padding:0; margin:0; text-align:center; }
ul#files_site_images li{ padding:10px; margin-bottom:2px;  float:left; margin-right:10px;}

ul#files_site_images li img{ width:65px; height:60px; }


.success{ background:#B4D5B4; border:1px solid #339933; }
.error{ background:#f0c6c3; border:1px solid #cc6622; margin-left:5px; padding:3px; }

/*************************   end of file upload  **************/

.task_viewer_table{
border:1px #cccccc solid; padding:10px; background-color:#E4F0FA;
}
.task_viewer_table_inner{
border:1px #cccccc solid; padding:10px; background-color:#E4F0FA;
}
.task_viewer_table_inner tr{
background-color:#FFFFFF;
}
.task_viewer_table_inner td,th{
/*text-indent:10px;*/
padding:2px 10px 2px 10px;
/*padding:0 3px 0 3px;*/
}

.edit_text_box_update_div{clear:both; display:none;  background-color:#E4F0FA; border:1px #ccc solid; padding:10px;}


.info_bar{float:left; padding:3px; background-color:#FFFFFF; border:1px #ccc solid}
.info_bar div{float:left; padding:3px;}
.info_bar div img{vertical-align:middle; border:1px #ccc solid; width:15px; height:15px;}

/************************/