.ddsmoothmenu{
 /*background of menu bar (default state)*/
 position: relative;   float:left; width:100%;
 
}

.ddsmoothmenu ul{
z-index:100;
list-style-type: none;  
float: left;
width:100%;
list-style:none;
padding:0;

}

/*Top level list items*/
.ddsmoothmenu ul li{
 float:left; 
 position:relative;  
}


/*Top level menu link items style*/
.ddsmoothmenu ul li a { 
	float: left;
	color:#e5daa0;
	font-size:13px;
	font-family: 'open_sansregular';
	height:29px;
	background:url(../images/nav_border.jpg) left no-repeat ;
	padding: 11px 10px 0;
}
@media screen and (-webkit-min-device-pixel-ratio:0) { .ddsmoothmenu ul li a { padding: 11px 10px 0;} }
.ddsmoothmenu ul li a:visited {

}

.ddsmoothmenu ul li a.selected{ /*CSS class that's dynamically added to the currently active menu items' LI A element*/

}

.ddsmoothmenu ul li a.active{ /*CSS class that's dynamically added to the currently active menu items' LI A element*/

}

.ddsmoothmenu ul li a:hover{
	text-decoration:none;
}
	
/*1st sub level menu*/
.ddsmoothmenu ul li ul{
position: absolute;
display: none; /*collapse all sub menus to begin with*/
visibility: hidden;
width:218px !important;
background:#920c02;

}


.plan_your_visit {
	width:360px!important;
	}

.open_data { width:141px!important}

/*Sub level menu list items (undo style from Top level List Items)*/
.ddsmoothmenu ul li ul li{
display: list-item;
float: none;
background:none!important;
width:100%;
}

/*All subsequent sub menu levels vertical offset after 1st level sub menu */
.ddsmoothmenu ul li ul li ul{
top: 0;
}

/* Sub level menu links style */
.ddsmoothmenu ul li ul li a, .ddsmoothmenu ul li ul li a.print, .ddsmoothmenu ul li ul li a.media , .ddsmoothmenu ul li ul li a.int, .ddsmoothmenu ul li ul li ul li a {
  display:block; float:none;
  padding:0px 0 0px 0px;
  color:#e5daa0!important;
	font-size:13px;
	font-family: 'open_sansregular';
	border-bottom:1px solid #7a0c03;
	width:100%;
	height:35px;
	line-height:35px;
	text-indent:10px;
}
.ddsmoothmenu ul li ul li a:hover, .ddsmoothmenu ul li ul li ul li a:hover {
	background:#7a0c03;
	text-decoration:none;
}


/* Holly Hack for IE \*/
* html .ddsmoothmenu{height: 1%;} /*Holly Hack for IE7 and below*/


/* ######### CSS classes applied to down and right arrow images  ######### */

.downarrowclass{
position: absolute;
display:none!important;
}

.rightarrowclass{
position: absolute;
display:none!important;
}

/* ######### CSS for shadow added to sub menus  ######### */

.ddshadow{
position: absolute;
left: 0;
top: 0;
width: 0;
height: 0;
background: silver;
display:none!important;
}

.toplevelshadow{ /*shadow opacity. Doesn't work in IE*/
opacity: 0.8;
}
.ddsmoothmenu ul li:last-child ul {
    width: 132px !important;
}
.ddsmoothmenu ul li:first-child ul {
    width: 298px !important;
}
.general_body_content dt:hover strong {
  color: #bba368 !important; cursor:pointer
}
div.general_body_content a {
  color: #BC8545;
}