
body
{
font-family:Arial,Helvetica, Bitstream Vera Sans ,sans-serif;
font-size:11px;
word-spacing:1px;
background:none;
background-color: #fff;
}
html, div, span, object, iframe, h1, h2, h3, h4, h5, h6, pre, a, img, ol, ul, li, form, label, b, p {
border : 0;
margin:0;
padding:0;
	_overflow-y: scroll;
	/* #3658: [IE6] Editor document has horizontal scrollbar on long lines
	To prevent this misbehavior, we show the scrollbar always */
}

img:-moz-broken
{
	-moz-force-broken-image-icon : 1;
	width : 24px;
	height : 24px;
}
img, input, textarea
{
	cursor: default;
}
.clear{clear:both;}


.left{ float:left;}
.right{ float:right;}