<!--<a name="map"> </a><iframe frameborder="0" height="455" marginheight="0" marginwidth="0" scrolling="no" src="http://www.google.com/maps?f=q&amp;source=s_q&amp;hl=ar&amp;geocode=&amp;q=sheikh+zayed+mosque&amp;sll=37.0625,-95.677068&amp;sspn=47.301626,79.013672&amp;ie=UTF8&amp;cd=1&amp;hq=sheikh+zayed+mosque&amp;hnear=&amp;radius=15000&amp;cid=5885993885250921354&amp;ll=24.434022,54.485664&amp;spn=0.117215,0.154152&amp;z=13&amp;iwloc=A&amp;output=embed" width="550"></iframe></p>

<p style="text-align: right;">

	<small><a href="http://www.google.com/maps?f=q&amp;source=embed&amp;hl=ar&amp;geocode=&amp;q=sheikh+zayed+mosque&amp;sll=37.0625,-95.677068&amp;sspn=47.301626,79.013672&amp;ie=UTF8&amp;cd=1&amp;hq=sheikh+zayed+mosque&amp;hnear=&amp;radius=15000&amp;cid=5885993885250921354&amp;ll=24.434022,54.485664&amp;spn=0.117215,0.154152&amp;z=13&amp;iwloc=A" style="color: rgb(0, 0, 255); text-align: left;">Sheikh Zayed Grand Mosque Center</a></small></p>-->

<!--
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14532.594394189255!2d54.4764972!3d24.4109046!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMjTCsDI0JzM1LjYiTiA1NMKwMjgnMzIuMyJF!5e0!3m2!1sen!2sae!4v1437380182543" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>-->

<!--<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14532.594394189255!2d54.4764972!3d24.4109046!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMjTCsDI0JzM1LjYiTiA1NMKwMjgnMzIuMyJF!5e0!3m2!1sar!2sae!4v1437380247590" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>-->

<iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d3633.1002140841547!2d54.4750978!3d24.4125858!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sar!2sae!4v1437470823671" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>



