@charset "utf-8";
/* CSS Document */

body {
font-family: Arial,Verdana,Helvetica,sans-serif;
height: auto;
background: url(../imgs/background.jpg) repeat-x;
}

h1, h2, h3{
	margin:0px;
	padding:0px;
	display:inline;
	}

body,html{
	margin: 0px;
	padding:0px;
	}
.td-bg{
	background-attachment:scroll;
	background-image:url(../imgs/banner.jpg);
	background-repeat:no-repeat;
	background-position:center;
	}	
.heading1{
	font-family:Arial, Helvetica, sans-serif;
	font-size:19px;
	color:#000;
	font-weight:bold;
	}
	
.heading2{
	font-family:Arial, Helvetica, sans-serif;
	font-size:21px;
	color:#000;
	font-weight:bold;
	}

.hdlog{
color: #C7A317;
font-size: 18px;
font-family:Arial, Helvetica, sans-serif;
font-weight: bold;
padding: 0px 0px 0px 0px;
}

.headline{
	color: #C7A317;
	font-size: 22px;
	font-weight: bold;
	font-family:Tahoma;
	padding: 0px 0px 0px 0px;
	}
.font12{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000;
	}
form input[type="text"]{
	width:230px;
	padding: 4px;
	margin: 2px 0 0 0;
	border: 1px solid #C7A317;
	color:#666;
	}
.footer{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	}	
form input[type="password"]{
	width:230px;
	padding: 4px;
	margin: 2px 0 0 0;
	border: 1px solid #C7A317;
	color:#666;
	}	
.submit{
	background:url("../imgs/button.png");
	width:113px;
	height:35px;
	border:0;
	cursor:pointer;
	
	
}